[2017-04-28 13:23] weslly commented on #525
@Drewshg312 Actually it seems to be another error, maybe you have an older Xcode version?

Since I can't reproduce it, can you try building this branch before I submit a new PR?
https://github.com/weslly/keepassxc/tree/hotfix/elcapitan-compile

[2017-04-28 13:43] SaltwaterC commented on #525
@weslly still unhappy.

[code]

This happens on OS X 10.11.6 with Xcode 8.2.1.

[2017-04-28 13:50] weslly commented on #525
@SaltwaterC can you update the branch and try again?

[2017-04-28 13:56] lubko opened #535 "Do not store group fold / unfold state"
Hello,
i found KeePassXC when searching for alternatives to KeePassX.

## Current Behavior
One thing the i have problem with in both, is that whenever i look for certain key, i am bound to fold and unfold several groups. This marks the db as modified, even though no data has been modified.

For me, it is much more important, to be sure i did not accidentally made changes to the DB while navigating

[2017-04-28 13:56] SaltwaterC commented on #525
@weslly spot on:

[code]

[2017-04-28 14:01] weslly commented on #525
Thanks, I'll submit a PR with the fix.

[2017-04-28 14:37] TheZ3ro commented on #535
Duplicate of #446. This is already in develop and will be in 2.2.0 release

[2017-04-28 14:37] #535 closed

[2017-04-28 14:45] TheZ3ro commented on #525
@Drewshg312 can you retry to compile the `develop` branch? Should be fixed right now. If works I will close this issue.

Thanks @SaltwaterC for testing and @weslly for the hotfix :tada:

[2017-04-28 16:02] aryklein opened #537 "Auto-Type new feature"
I think it would be very useful if Auto-Type shortcut could use URL entry to match the browser address bar. There are many sites that Title entry doesn't match with the window title, like network devices.

[2017-04-28 16:22] TheZ3ro commented on #537
An external process can't directly access a browser address bar.
The only alternative is using an addon like [Add URL to Window Title](https://addons.mozilla.org/it/firefox/addon/add-url-to-window-title/) so KeePassXC can access it.

[2017-04-28 18:55] uboubo commented on #418
I use a kp.sh
`#/bin/bash
export UBUNTU_MENUPROXY=''
keepassxc`
to get the shortcuts working.

[2017-04-28 23:01] Drewshg312 commented on #525
Thanks guys! It's fixed now... For OSX...
But now I've tried on CentOS and I've got this:

[code]
I guess it's not normal too...
Should I open another issue?

[2017-04-28 23:24] TheZ3ro commented on #525
@Drewshg312 Yes, open a new issue please, anyway seems a problem with `libgcrypt` what version are you using? Check with the package manager, you need `libgcrypt > 1.6`

[2017-04-28 23:24] #525 closed

[2017-04-29 04:46] Drewshg312 commented on #525
@TheZ3ro, Damn, you are right it is libgcrypt 1.5 in packages ((((

[2017-04-29 05:47] Drewshg312 opened #539 "OS X 10.11.6 (EI Captain): KeePassHTTP not installed or does not work."
Hi!
OS X 10.11.6 (EI Captain)
QT5.8.0

I know it's not safe, but I've decided to test the KeepassHTTP feature.
Built keepassxc this way:
[code]
There is no errors.
Keepassxc info shows this:
![untitled](https://cloud.githubusercontent.com/assets/10493450/25553296/9f71062e-2c64-11e7-9c05-8abd39112f63.jpg)

The Problem is that neither my Firefox's PassIFox, nor Chrome's ChromeIPass see any databases

[2017-04-29 07:25] phoerious commented on #539
You need to enable it in the settings first.

[2017-04-29 14:09] ArchangeGabriel commented on #488
With regard to PIN QuickUnlock, I was wondering if we could somehow have TOTP QuickUnlock? That would be interesting for me. Getting a TOTP token from my phone would still be way faster than typing my full passphrase. I know since @TheZ3ro answer to my comment [here](https://github.com/keepassxreboot/keepassxc/pull/380#issuecomment-291740749) that TOTP is not suitable for initial unlocking, but ma

[2017-04-29 20:38] Drewshg312 commented on #539
Got it... I've rebuilt it a couple times and simply did not notice new section in Settings.

[2017-04-29 20:38] #539 closed

[2017-04-30 02:29] grim210 opened #540 "Notes section in the Password Entry Widget should be fixed width."
I have a lot of information in the notes field that is better served by a monospace font.  Since the widget is plain text anyway (as opposed to rich text with bold/italics/highlighting/etc), it makes more sense in my opinion for it to be fixed width.

[2017-04-30 23:26] networkjanitor commented on #537
I think what @aryklein means is the following:
https://dev.keepassx.org/issues/231

Afaik Auto-Type only matches window titles with the "Title" attribute in keepassxc. It would be useful if you could instruct it to also match window titles with the "URL" attribute and not just the title.

[2017-04-30 23:43] TheZ3ro commented on #537
Seems like a slightly better request then.
I will reopen the issue and adding to wishlist since this feature isn't urgent.

You can set a new autotype window association with title equals to `//twitter.com//`.
This will match every window title that contains *twitter.com*

[2017-05-01 14:18] Skycoder42 opened #542 "Support secure additional attributes"
In "vanilla" Keepass, you could mark custom attributes as secure. This way they would be displayed with dots and treated in general with the same security mechanisms as password fields.

## Expected Behavior
When adding a new custom attribute, there should be a checkbox/context action to make the field secure.

## Current Behavior
There is no way to create those, neither are existing fields with t

[2017-05-01 14:43] sainaen commented on #542
I think it's already implemented in the develop branch, see #220.

[2017-05-01 15:02] Skycoder42 commented on #542
My bad! I searched for it, but only within open issues! Closed as duplicate.

[2017-05-01 15:02] #542 closed

[2017-05-01 16:13] #343 closed

[2017-05-01 16:27] gridstorm commented on #443
It doesn't appear to matter which fields contain data, however I am only able to recreate this in my daily working database which has multi layered subgroups .  I have recreated an empty database with sub groups and cannot reproduce the crash, but I can always reproduce the crash in my working database.  How can I generate more debugging information?

Below is the macos error report.

`Process:

[2017-05-01 18:15] louib commented on #443
@gridstorm Is the crash happening with all of the entries of your working database? Was your database migrated from a keepass1 database? How deep is the folder nesting? Which options do you check when cloning?

You can probably obtain more debugging info if you build the project with the `DEBUG` flag (`-DCMAKE_BUILD_TYPE=Debug`)

[2017-05-04 07:40] Keisial commented on #488
QuickUnlock protects the master secret with the "easier" one (precisely so you don't have to type your full passphrase). You can't do that with TOTP for the reasons explained in that comment.

You may want to open a new request to have an option of not actually locking keepassxc but leaving everything in memory awaiting a TOTP token.

[2017-05-04 07:46] Keisial commented on #488
@TheZ3ro What's the problem with storing the PIN in the database itself? It's probably less sensitive than other db contents. It could be stored with no view interface, so that brief access to an unlocked instance doesn't allow later compromises.

[2017-05-04 09:07] EmperorSAM commented on #197
I have problem too. Win7 64bit. Dropbox sync is enabled - DB no save. Disabled - Normal Save.
KeePassXC 2.1.4

[2017-05-04 09:10] TheZ3ro commented on #488
@Keisial we don't have such a filter, all entry in the DB are displayed. We can store it like *KeePassHTTP Settings* but then you will need the masterpassword to access it/read it.

A viable solution can be:
Store a new entry called *KeePassXC QuickUnlock PIN* as the masterpassword encrypted with the user-selected PIN (I will call this QuickSecret). This will be stored in the DB encrypted with the

[2017-05-04 09:15] #80 closed

[2017-05-04 14:38] maowm opened #543 "request: Sort entries manually"
I am expecting, if you will, sort entries manually feature being added as a another way of sorting the Entries Table. Or a way of sorting by date added to the group or by topics inside the group.
Have a great time.

[2017-05-04 16:08] ddd111ddd opened #544 "Error from KeepassX: Unable to open the database. XML error: Premature end of document."
I have a KeepassX database that got corrupted and none of the solutions I found worked. I tried importing the same file on KeepassXC and the errors are exactly the same. Is the problem on importing or saving?

Does this means this fork also have the same bug? Some issues report that special characters in comments can cause this problem to appear.

Anyway, I came here hoping somebody can help me an

[2017-05-04 17:15] TheZ3ro commented on #544
The screenshot refers to KeePassX, anyway can you report the size of the corrupted KDBX file?

[2017-05-04 17:25] ddd111ddd commented on #544
Latest valid backup (like a couple of days before):

- Keyfile: 162 bytes
- Database: 87,7 KB

Corrupted:
- Keyfile: 162 bytes
- Database: 88,4 KB

[2017-05-04 21:50] TheZ3ro commented on #544
Seems that the corrupted has still data in it.

You should try compiling the latest version of KeePassXC from the `develop` branch and using `keepassxc-cli extract databasepath.kdbx`, this will print out the XML content

[2017-05-04 22:16] ddd111ddd commented on #544
@TheZ3ro how can I specify a keyfile?

That's what I get when I input my password.

[2017-05-04 22:53] TheZ3ro commented on #544
@ddd111ddd oh sorry the actual version doesn't accept keyfiles. I will implement it soon, keep the corrupted file.

[2017-05-04 22:58] ddd111ddd commented on #544
Thanks! But don't worry I already recovered the missing accounts with a password reset but I'm worried that other people might run into this bug and have no backup.

[2017-05-04 23:16] williamtheaker opened #546 "Label toolbar icons"
One issue that constantly emerges during KeePassX trainings is new users being confused by the toolbar icons. Though they may seem obvious to long-time KeePassX users, the meaning of the icons, like the key with the downward green arrow, can be quite opaque to inexperienced computer users. Labeling the toolbar icons would go a long way towards improving new user onboarding.

[2017-05-04 23:52] Keisial commented on #544
Studying what got corrupted, even if the lost data is now obsolete, is probably still desirable.

[2017-05-05 00:43] kevbarroga opened #547 "Unable to change directory location to mounted volume"
I keep my .kdbx file stored in a mounted volume not in /home/username directory. I am unable to change the directory location to anything other than /home and the ~/snap/keepassxc directory. Creating a symbolic link does not work...

I am experiencing this issue on Ubuntu 17.04
KeePassXC v2.1.4 *installed via snap package*

[2017-05-05 08:03] tronjs commented on #197
I have the same problem

[2017-05-05 09:38] vsvyatski commented on #547
It's not really a bug of KeePassXC. You can experience the same problem with VLC, for instance, or any other Qt based application running on GTK based environment like Unity, Gnome itself, Cinnamon, Maté, etc. A Qt based application shows Qt file dialog which doesn't really let you browse for a file on some drive that is plugged into the system, but not mounted via Nautilus (Nemo, Caja, etc). An e

[2017-05-05 09:56] TheZ3ro commented on #547
I think this is a duplicate of #400 since you mentioned you are using the snap package.
Follow this comment to plug the removable-media interface on the Snap package https://github.com/keepassxreboot/keepassxc/issues/400#issuecomment-297218549

[2017-05-05 09:56] #547 closed

[2017-05-05 09:58] TheZ3ro commented on #546
Note: If you hover the mouse on toolbar icons, a label should appear telling you what each icon does.

[2017-05-05 10:39] droidmonkey commented on #546
We are looking to do a complete icon overhaul, would love your feedback on those that are especially confusing.

[2017-05-05 10:41] droidmonkey commented on #547
Got it!

[2017-05-06 15:46] marcbone opened #548 "HiDPI icons"
I have an 2880x1620 display on a 15.6 inch laptop and some of the icons are really small and hard to identify. Screen scaling is at 2.0. If I set the screen scaling back to 1, all icons are equally small as they should be. So the first two icons scale, but the other dont.

## Current Behavior

![bildschirmfoto vom 2017-05-06 17-18-14](https://cloud.githubusercontent.com/assets/16033059/25773693/40

[2017-05-06 22:56] #331 closed

[2017-05-07 02:57] droidmonkey commented on #68
Closing due to valid workaround (also, this is a KDE issue).

[2017-05-07 02:57] #68 closed

[2017-05-07 02:59] droidmonkey commented on #19
The new password generator obviates the need for this feature.

[2017-05-07 02:59] #19 closed

[2017-05-07 03:05] droidmonkey commented on #5
Closing this issue as we have substantial presence in multiple repos. Any specific issues should be opened in our distribution repository: https://github.com/keepassxreboot/keepassxc-packaging

[2017-05-07 03:05] #5 closed

[2017-05-07 03:45] droidmonkey commented on #137
@phoerious is the failing TestGui::testDeleteEntry() still a problem on Arch? I do not get this failure on Windows.

[2017-05-07 03:49] droidmonkey commented on #397
Duplicate of #17

[2017-05-07 03:49] #397 closed

[2017-05-07 09:35] phoerious commented on #137
Not anymore, no. I'm not sure why it works now, but I strongly believe that it was somehow a race condition between creating the recycle bin and checking in the GUI if it's there. What I don't know is why I could reproduce it reliably in all runs. I also think to recall that I was able to work around it by adding a QtApplication::processEvents() call in between. But now it seems to work as is.

[2017-05-07 09:36] #379 closed

[2017-05-07 09:42] phoerious commented on #546
Related to #548

[2017-05-07 09:46] phoerious commented on #522
I think the minimum size is sensible. The window isn't usable at smaller sizes and things are likely to break.

[2017-05-07 09:46] #522 closed

[2017-05-07 10:12] andkopp opened #551 "Integrated Password Analyzer and Health Check [$170]"
Another point for the **wish list**: I am looking for an **integrated password analysis tool** that evaluates the passwords in my database both for their equality or similarity among themselves, their password strength as well as their age.

Regarding the implementation, I can imagine several variants. It could be a separate menu point, over which a test procedure can be started. At the end of the

[2017-05-07 12:37] droidmonkey commented on #137
Yah i remember that. Closing this issue then.

[2017-05-07 12:37] #137 closed

[2017-05-08 01:25] ibrokemypie commented on #498
Very annoying closing the window and then no longer being able to use browser extension

[2017-05-08 15:31] TheZ3ro commented on #498
I'm not a MacOS expert, but in the codebase I see this line:

[code]

The *MinimizeOnClose* option is enabled only if `isTrayIconEnabled()` returns true, on MacOS this returns always false and the comment says that systray is not usefull on MacOS.

Does MacOS has systray? If an application hides itself the icon is still shown?

[2017-05-08 20:20] metbril opened #553 "Mac File Open Search does not find kdbx"
## Expected Behavior

Searching for (database) files is working, files are found.

## Current Behavior

When I try to open a file from the File Open menu a dialog opens. When I search for the term 'kdbx' (without the quotes) it does not find anything. When I search from a Finder window for 'kdbx' it finds my files.

So it looks like the file search function in the application is not working proper

[2017-05-08 20:23] metbril opened #554 "Mac File Open dialog not in system language"
## Expected Behavior

File Open dialog is shown in system language (the language I use in the Mac interface). The dialog should repect my settings.

## Current Behavior

The applications itself (main menu) is shown in system language (Dutch, in my case).
All components in the File Open dialog is shown in English.

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

##

[2017-05-08 20:29] metbril opened #555 "Mac Preferences"
## Expected Behavior

- Preferences menu option is in  Applications menu ('KeepassXC')
- Shortcut key for preferences is <CMD>+, (mac default) or at least any other key

## Current Behavior

- Preferences menu item is in Tools menu.
- No shortcut key for Preferences

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

macOS 10.12.4 / KeepassXC 2.1.

[2017-05-08 20:57] weslly commented on #555
Duplicate of #481.

[2017-05-08 21:09] TheZ3ro commented on #555
Can I close this?

[2017-05-08 21:10] weslly commented on #555
@TheZ3ro yes, was fixed in #483

[2017-05-08 21:11] #555 closed

[2017-05-08 22:25] ibrokemypie commented on #498
https://github.com/keepassxreboot/keepassxc/issues/438

[2017-05-09 03:20] metbril commented on #555
The issue is closed but my request for a keyboard shortcut had not been adressed elsewhere. Could we reopen the issue and dedicate it to a shortcut?

[2017-05-09 03:22] weslly commented on #555
@metbril it was fixed already on the develop branch.

[2017-05-09 06:35] mrroman commented on #498
@TheZ3ro

MacOS system tray looks more or less like Ubuntu systray.

When you hide application window, it still works in the background and is available in the dock. You can show app window just by clicking app icon in the dock. A new instance won't be started. Dock also inspired Ubuntu Unity and Gnome 3 Shell :).

[2017-05-09 09:03] TheZ3ro commented on #498
This is a duplicate of #438 anyway can you guys test this branch? https://github.com/keepassxreboot/keepassxc/tree/feature/macos-minimize-onclose
I've made a hotfix for a Minimize to Dock on Close.

I've preferred the dock because adding a trayicon with the only option to Toggle Window is pretty useless. Let me know what you think and if it works!

[2017-05-09 09:38] quinncomendant commented on #505
Thanks @droidmonkey, I think that’ll do nicely.

The only concern is the added work (by the developers) and complexity (by the developers and users) of having a config option to have the search bar in toolbar vs. database tab. It might be worth doing a poll to see how many people would prefer the search function in the toolbar. If not many, just do the simple option of allowing search only in the

[2017-05-09 10:17] mrroman commented on #498
It doesn't work :(. But I know why :).

1. You have to enable GUI/MinimizeOnClose option for MacOS. It is not visible in configuration panel.
2. To make it work as I described, you have to modify hideWindow() like this:

[code]

[2017-05-09 10:41] droidmonkey commented on #505
Could also just move it to the db tab if the toolbar is hidden automagically.

[2017-05-09 11:27] marco-brandizi opened #557 "Show sub-folder items."
I'm trying the last KeePassXC (2.1.4) under mac OS (10.12.14). Pretty nice, thanks for making it available.

I would like an option to show all the items in a selected tree node in that the main window, ex: if I have root, root.folder1, root.folder1.folder1_1, I'd like to see all the items when I select root, items from folder1 and folder1_1 when I select folder1.

At the moment it has a flat beha

[2017-05-09 11:30] marco-brandizi commented on #508
Tags+Folders can help to manage orthogonal classifications. For instance, I use "Home Accounts", "Work Accounts" as groups and "Production", "Test", "Dev" as tags. It shouldn't confuse the user to have both, if you can decide to use one only and ignore the other (might even be done with some preference flag).

[2017-05-09 15:36] silverkorn opened #558 "[Feature] Access/read the notes quickly"
Sometimes, it's a bit complicated or confusing to recognized what the group or entry is and it's not efficient nor natural to right-click the group/entry and go to "Modify" simply to get the notes information.

## Expected Behavior
Have a simple way to get the notes from the a group/entry.

## Current Behavior
Need to right-click then modify the group/entry to read the notes.

## Possible Solution

[2017-05-09 19:22] Ian2020 opened #559 "Only the first auto-type entry is presented to user from a single entry where multiple window titles match"
Consider a website with multiple pages to its login process that all have the same title, e.g. "Log In". We have a single entry to manage the credentials and add multiple auto-type sequences to it with the same window title match: "Log In*". Under KeePassXC only the first sequence is presented to the user for selection when triggering auto-type.

## Expected Behavior
User is presented with all the

[2017-05-09 19:30] TheZ3ro commented on #559
Related to https://github.com/keepassx/keepassx/pull/132

[2017-05-10 07:29] C0rn3j commented on #558
Maybe it wouldn't work for your use case, but for my use case:

The search actually searches through notes too, so CTRL+F and typing what you need may work for you.

[2017-05-10 13:38] kwiniarski opened #560 "Support for field references between entries"
## Expected Behavior
Original KeePass has a feature to copy an entry with references in user/password fields. In KeePassXC those references are not recognized. When I copy user name or password from copied entry (with references) I should get referenced user name or password.

## Current Behavior
Currently KeePassXC don't recognize reference tokens (ex. `{REF:U@I:F7C70D1E65A8CD49BCDB549AC759D748}`

[2017-05-10 13:50] TheZ3ro commented on #560
This is a duplicate of #75 and it has been fixed in #370. This feature will be available in the next 2.2 version of KeePassXC

[2017-05-10 13:50] #560 closed

[2017-05-11 08:05] technodrome commented on #338
I have the same problem with MacOS Sierra 10.12.4. I use several desktops and autotype window appears wherever it wants.

Sometimes it is shown on the desktop where the app is running.
At other times it has focus (so ENTER can confirm the first entry) but the autotype window is not shown  - it does not switch desktops so I have to manually go through all of them to actually find the autotype windo

[2017-05-11 12:49] Roxxor91 commented on #474
I am also affected by this bug.
I guess it is a security measure for this function to be typing instead of copy&paste, to circumvent the clipboard.
But as the user with this bug either way is forced to copy & paste, would it maybe make sense to have a workaround option for "auto-copy&paste", until a solution is found?

[2017-05-11 13:46] ChristopherSchultz opened #563 "Feature request: support storage of secrets and generation of TOTP tokens"
TOTP is used as a second-factor in many services (e.g. Google, GitHub, etc.) and I tend to store my TOTP secrets in KeePass in case I need to re-load my secrets into e.g. Google Authenticator app on my phone.

When I'm on a real computer, I'd prefer to use KeePass as my TOTP token-generator instead of having to unlock my phone and run the app just to get a token.

The TOTP algorithm is trivial, an

[2017-05-11 14:01] TheZ3ro commented on #563
This is a duplicate of #80. This feature is already available in develop and will be released in version 2.2.0 of KeePassXC

[2017-05-11 14:01] #563 closed

[2017-05-11 15:06] ChristopherSchultz commented on #563
Apologies for the noise! Nice to see that (a) others want this feature, too and (b) it's been implemented. I'll check-out the dev version.

[2017-05-11 17:01] greyowl2 opened #564 "Need KeePassXC version that will work on Windows 32 bit laptop"
I downloaded the portable version of KeePassXC 2.14 and tried to install in on my Dell Laptop running XP and a Win32 system.  I got an error message because this version is for Win64 computers.

Is there a Win32 version of KeepassXC that will work on my laptop?

Thanks for the help.

[2017-05-12 08:46] sxe commented on #49
I want to migrate form lastpass to a self hosted solution for my passwords as well but the problems @deOliveira-R mentioned making it hard (or even impossible) for me to do so.

I have a setup with two computers and a mobile device. I would like to see a solution where a can work on both machines (mobile is read only), add new passwords and sync these changes without generating conflicts. I don't

[2017-05-12 09:04] metbril opened #567 "Add fix_mac.sh to repo"
## Expected Behavior

File `fix_mac.sh` from [Mac build environment instructions](https://github.com/keepassxreboot/keepassxc/wiki/Set-up-Build-Environment-on-OS-X#fix-the-qt5-environment) is included in the repo and can simply be run from the command line directly.

## Current Behavior

The build environment instructions provide a fix for the Mac. This shell script is not included in the repo so

[2017-05-12 10:10] seatedscribe opened #569 "Want to unlock? Provide a wrong password first!"
With a "**saved as**" DB (and **only in this case** so far), for a successful unlock I need to provide a wrong password first

## Steps to Reproduce

1. Database->Open database - locked with master password only, no key file
2. insert master password to unlock it
3. Database->Save database as - choose a new filename
4. Database->Change master key - choose a different (e.g. empty) password
5. Datab

[2017-05-12 10:38] droidmonkey commented on #569
Most interesting.... I like the plausible deniability hah

[2017-05-12 11:04] TheZ3ro commented on #49
I will tell my environment and how I use it.

I have 2 PC and 1 mobile device, I use Syncthing for syncing the kdbx file across those 3 device.
One of the PC is my main device where I do most of the changes on the kdbx, those changes are propagated to the other device by syncing the kdbx file, then the autoreload-and-merge on my other PC takes the changes.
On my phone since I can't use KeePassXC d

[2017-05-12 11:09] TheZ3ro commented on #569
Can you make some test with the keepassxc-cli tool? Like `keepassxc-cli extract`

[2017-05-12 11:53] seatedscribe commented on #569
Hmmm...
`keepassxc-cli extract` works fine!

[2017-05-12 12:01] TheZ3ro commented on #569
So it's a bug in the UI. The low-level decryption is good

[2017-05-12 12:38] seatedscribe commented on #569
Changing the master password with a _different_ one throws the issue away. By the way, does KXC make no operations if the new master password and the old one are the same? I mean, changing the master password with _the same old one_ holds the issue unvaried

[2017-05-12 13:03] seatedscribe opened #570 "Empty master password is wrong until a wrong password is entered"
## Context
This is a substitute for #569.
I dug a little into the issue and found a more generic scenario:

whenever a DB is saved and its master password is empty, in order to unlock it is needed to provide a wrong password first.

Describing the original issue I was misleaded into thinking this had to do with "saved as" DBs only as I had used a lot of empty passwords in the past and never had an

[2017-05-12 13:03] seatedscribe commented on #569
Closing this in favour of #570

[2017-05-12 13:03] #569 closed

[2017-05-12 13:35] sxe commented on #49
Hi @TheZ3ro ,
thx for sharing your setup, I can see how that works for you. Sadly i cannot use Syncthing. I need a server based solution. Dropbox would work as well i guess cause they have a good linux client, i have to look into that. Initially i wanted to use Google Drive cause i use it for other tasks anyway but they have no official linux client and all the other solution don't offer a real sy

[2017-05-12 13:38] TheZ3ro commented on #570
Ok, confirmed. I'm editing the first comment with step to reproduce

[2017-05-12 13:45] TheZ3ro commented on #49
@sxe Yes, GoogleDrive doesn't have an official linux client sadly.
You can use Dropbox, it will works fine like Syncthing. :+1:

[2017-05-12 17:39] t4777sd opened #572 "Locking is incorrect on linux."
It seems that a lock file is created and if this file exists, then keepass will not allow the editing of the database. The problem is that this file is not removed 100% of the time. For example, if the computer gets suddnely restarted while keepass is open.

It would be a lot better to use a real file locking mechanism using FLOCK. That way, anytime the process crashes the lock is released. As it

[2017-05-12 19:59] bunk3m opened #573 "Website addition re Mac sha256 DIGEST check instructions - use shasum"
## Expected Behavior
On the website [https://keepassxc.org/verifying-signatures](url) the suggestion is to use sha256 command.  This command isn't available on the Mac.  It would be nice to update the website with Mac specific instructions.

## Current Behavior
To verify the download I had to go searching for a way to check the sha256 digest.  Not impossible of course, but it would be nice to have

[2017-05-12 20:20] TheZ3ro commented on #572
What version of KeePassXC are you using? Next time don't delete the Issue template.
Anyway this is already implemented. If you open a kdbx and a lock file is found, this dialog will appear
![istantanea_2017-05-12_22-19-06](https://cloud.githubusercontent.com/assets/686894/26015405/256533c0-3761-11e7-8cfb-7d1552e76f49.png)
Note: Si stands for Yes

[2017-05-12 20:22] TheZ3ro commented on #573
Please, reopen the issue on the website repository, thanks
https://github.com/keepassxreboot/keepassxreboot.github.io/issues

I will close this one

[2017-05-12 20:22] #573 closed

[2017-05-13 03:45] HacKanCuBa commented on #474
@Roxxor91 the workaround is to manually set the keyboard distribution to US-English before autotyping.

[2017-05-13 04:37] stysedo commented on #372
So, apparently this is not able to be used to sign the macOS binary. I believe only Apple issued  Developer ID Application signing certificates can be used to sign macOS apps.
IIRC such certificates cost $99 per year as part of the Apple Developer program.

[2017-05-13 05:24] Roxxor91 commented on #474
This is a really inconvenient workaround, considering that auto-type is a convenience feature...

[2017-05-13 16:15] droidmonkey commented on #474
This is not an official workaround. This issue should be corrected in 2.3.0 if at all possible.

[2017-05-13 16:16] droidmonkey commented on #372
We are soliciting flattr donations to help cover the cost of the Apple ID. @phoreous

[2017-05-13 23:02] #537 closed

[2017-05-14 07:56] secondwtq commented on #512
OS X 10.9.5 with KeePassXC 2.1.4 here, also not working.

[2017-05-14 13:19] #567 closed

[2017-05-14 13:34] phoerious commented on #372
It's not exactly skyrocketing, though.

[2017-05-14 13:36] phoerious commented on #572
Stale lock files are automatically removed next time you launch KeePassXC.

[2017-05-14 13:39] phoerious commented on #49
there are various Google Drive plugins for Linux file managers. I use one myself in Dolphin.
For syncing my kdbx file I use Nextcloud and it works fine. Since I'm never editing the file at the same time from two different locations, I have never experienced any conflicts.

[2017-05-14 13:40] phoerious commented on #570
Does "empty password" mean "empty password" or "no password"? Those are two different things.

[2017-05-14 13:45] phoerious commented on #197
I would assume that this is a Windows-only problem due to the fact that Windows is the only OS that grants and requires exclusive file access.

[2017-05-14 18:51] TheZ3ro commented on #570
Thanks to @phoerious comment I've find out what's the "problem".
Some PRs ago we explicitly allowed the creation of database encrypted with **empty string as password** with a dialog asking *"Do you really want to use an empty string as password?"* and preventing user from creating DB without a password (**no password**)

When you unlock a DB with an **empty password**, by default no locking mecha

[2017-05-14 19:19] phoerious commented on #570
Users can't create a DB with only a YubiKey, but I guess that's rather a bug.

[2017-05-14 19:44] TheZ3ro commented on #570
Yup, it's a (different) bug.
You can't select only keyfile or only yubikey without selecting the password as well.
This was the PR/commit https://github.com/keepassxreboot/keepassxc/commit/2d4e08e060ce18d0040ffcc0c9a2af17e28a81ff

[2017-05-14 21:01] seatedscribe commented on #570
I'm totally for enabling the password checkbox by default.

Good job @TheZ3ro!

P.S. I know that this could be seen as a non-qualified issue report, since
a user should know the difference between empty and nonexistent, before
reporting an "invalid" problem. This is basic computer theory but I wanted
to wear the hat of the ordinary "man on the street" here, who will promptly
reply with a "no diffe

[2017-05-15 14:43] anatoli26 commented on #73
Just to let everybody know, the underlying issue with qt5 was recently fixed, the fix is in xenial-proposed now, should be in the main repo in a week or two. With this fix the shortcuts like Ctrl+U, Ctrl+B, etc. are working fine on Ubuntu 16.04 & 16.10 (should work on 17.04 too).

[2017-05-15 23:32] garuffalo opened #575 "Delay when KeePassXC window is brought forward using Dock on Mac"
This problem only occurs when the KeePassXC window is completely obscured by another window on a Mac, and the KeePassXC Dock icon is used to bring it forward.

**Expected Behavior**

When KeePassXC is running, and its window is completely behind another window, clicking the KeePassXC icon in the Dock should bring it forward and action should be able to be taken immediately.

**Current Behavior**

[2017-05-16 00:10] phoerious commented on #575
I tested the described behavior on OS X Sierra and I can't reproduce it. I'm quite sure this is not a KeePassXC bug, but rather a bug in your operating system. There is no reason why KeePassXC should take that long to come to the foreground.

[2017-05-16 00:29] garuffalo commented on #575
I am planning a clean install of a newer Mac OS sometime soon. Perhaps that will solve my issue. Just to be clear (as perhaps I was not) the delay is not for the KeePassXC window to actually come forward. The delay is from the time the window pops into view and the point when I can take any action in KeePassXC. Thanks for your quick response, and for working on a great project!

[2017-05-16 01:22] Phidica opened #576 "Cannot run 2.1.4 AppImage on 32-bit system"
I downloaded the current AppImage from the website (KeePassXC-2.1.4-x86_64.AppImage) and made it executable, but when trying to open the program from a file browser nothing happens. When executing from a terminal:
[code]

This message can be indicative of many things, but I believe I have narrowed down the cause to an architecture incompatibility. I am running 32-bit Fedora 20 (thus installing fro

[2017-05-16 04:47] uwemannl commented on #430
Same problem for me on macOS:

KeePassXC version/commit used:
- KeePassXC - Version 2.1.4
- Qt version: 5.8.0
- Revision: cb283bb95ae559d044415f426f841c27bff383f0
- OS: macOS Sierra Version 10.12.4

If I close KeePassXC with "Datenbank" -> "Beenden" (Database -> Quit (?)), everything is fine: `LastOpenedDatabases=/Users/uwe/Eigene Dateien/KeePass/Database.kdbx`

But mostly I use the menu "KeePassX

[2017-05-16 07:37] TheZ3ro commented on #430
@uwemannl Thanks for the report! I will look into it

[2017-05-16 08:11] phoerious commented on #576
No, the AppImage is only compiled for 64 bit. 32 bit is legacy technology which we don't want to support. Any even "slightly recent" computer (meaning: bought within the last 10 years) supports 64 bit. I would rather recommend you switch to a 64 bit version of Fedora. If you really can't, you have to compile KeePassXC yourself (compiling it yourself is no less "feasible" on 32 bit than on 64 bit).

[2017-05-16 09:32] daleth opened #577 "KeePassXC-2.1.4-Win64.zip.sig File is missing"
When trying to access https://github.com/keepassxreboot/keepassxc/releases/download/2.1.4/KeePassXC-2.1.4-Win64.zip.sig via https://keepassxc.org/download#windows in order to verify the signature, i am redirected to a 404 page.

## Expected Behavior
Expected a file to compare the checksums.

## Current Behavior
Error 404

## Possible Solution
Please add the file or remove the link on the download

[2017-05-16 09:51] phoerious commented on #577
Thanks for reporting. Will upload the missing file in the evening.

[2017-05-16 13:53] Phidica commented on #576
Actually it's infeasible because Fedora 20 is so old that I can't get sufficiently updated versions of the dependencies without in turn building those from source, and so on down the rabbit hole. I wish I could switch to a more appropriate OS but as I said, it's not my computer and I have no control over this

I agree that 32-bit is ancient tech, but I've never encountered a program that is only d

[2017-05-16 13:53] #576 closed

[2017-05-16 14:19] phoerious commented on #576
It's not really ideological, rather minimization of work. We build our AppImage inside an Ubuntu 14.04 Docker container. If you replace the 64bit image with a 32 bit one or install gcc multilib inside of it, you can build a 32 bit version without the need of having a working build toolchain on your Fedora box.

[2017-05-16 15:04] varjolintu commented on #287
Currently you can use the following releases to test the Native Messaging feature:
[chromeKeePassXC 0.1.1](https://github.com/varjolintu/chromeKeePassXC/releases/tag/0.1.1)
[KeePassXC 2.1.4-browser](https://github.com/varjolintu/keepassxc/releases/tag/2.1.4-browser)

Be sure the extension ID matches with the installed JSON file. See this [guide](https://developer.chrome.com/extensions/nativeMessag

[2017-05-16 16:11] drdaeman commented on #255
I have a Gnuk-based FST-01, which should be quite similar to Nitrokey Start. I think while it works as OpenPGP Card v2, it doesn't really work as PKCS#11, at least not without something like Scute. I.e. `gpg --card-status` works out-of-box, but `pkcs11-tool --show-info` fails with `CKR_DEVICE_ERROR`. Maybe that's just me not understanding something, though.

How about an option of having an encryp

[2017-05-16 21:39] phoerious commented on #577
Done. Sorry for the inconvenience.

[2017-05-16 21:39] #577 closed

[2017-05-17 02:37] droidmonkey commented on #430
Does "KeePassXC" -> "Quit KeePassXC" equate to using the task bar icon? I am not sure where that menu option is that you highlight (screenshot would be great).

[2017-05-17 04:36] uwemannl commented on #430
@droidmonkey
Sry, I don't understand your first question. I never use the task bar icon under macOS to quit an application.

Here are some sreenshots:

**Good behavior / database is remembered:**
![image](https://cloud.githubusercontent.com/assets/10958966/26138613/c65833ec-3aca-11e7-9513-2e36e60197e1.png)

**Bad behavior / entry in config is `LastOpenedDatabases=@Invalid()`:**
![image](https://cl

[2017-05-17 04:59] phoerious commented on #430
Qt in Mac does a little magic to match the platform standards. Quit is probably the same as clicking the x button on the window while "Beenden" is our explicit quit menu entry. This particular thing may actually already be fixed in develop by the patch where we assigned menu roles (not sure, though if we assigned one for Quit). But the general problem of unclean shutdown remains, of course.

[2017-05-17 05:15] phoerious commented on #430
Actually, yes. We also set a menu role for Quit, so on develop there shouldn't be any duplicate Quit entries anymore (see #483). But if you end the program by any means provided by the OS (window X, quit from the taskbar etc.), the shutdown bug remains, of course. I suppose we are missing some kind of flush command for forcing config writes upon receiving a SIGINT (and whatever the equivalent is o

[2017-05-17 05:22] phoerious commented on #430
P.S. 2: I need to test if the bug also occurs on Linux. I would assume it doesn't since I wrote a patch for catching SIGINT and SIGTERM on Linux quite some time ago, but it has never been ported to Windows or macOS. The patch was actually for asking the user to save his work instead of just quitting and removing lock files after receiving a termination signal, but it should also flush config chang

[2017-05-17 07:57] Germano0 opened #579 "[2.1.4] "Ask always before auto type" does not work"
On version 2.1.4, "ask always before auto type" does not work. When you select auto type, KeepassXC will write user/password without asking for confirmation

[2017-05-17 08:14] phoerious commented on #579
Thanks for the report, but please do not delete the issue template.

[2017-05-17 10:17] phoerious commented on #430
My SIGINT trap patch was actually also applied to macOS, but closing via dock right click->Quit was a little special, because it sent the close event twice. I submitted a patch (see link above) to ignore the second close event.

[2017-05-17 15:34] italy-portugal opened #581 "App fails to launch due to missing Apparmor permission with Snapd 2.25"
## Expected Behavior

The KeepassXC application should start when launched from the command line or from the Application launcher on Ubuntu 17.04 and snapd 2.25

## Current Behavior

When launching from the Application launcher, KeepassXC does not start
When Launching from the commandline:
[code]
Output in systemd journal:
[code]

## Possible Solution

Rebuild snap for latest version of snapd

##

[2017-05-17 20:05] italy-portugal commented on #581
Restarting my computer solved the problem. AppArmor probably needed to be restarted.

[2017-05-17 20:05] #581 closed

[2017-05-17 20:22] TheZ3ro commented on #581
Nice to know ;)

[2017-05-17 21:18] #430 closed

[2017-05-18 04:01] weslly commented on #564
You can get a 32 bit portable zip at the [releases page](https://github.com/keepassxreboot/keepassxc/releases): https://github.com/keepassxreboot/keepassxc/releases/download/2.1.4/KeePassXC-2.1.4-Win32.zip

[2017-05-18 04:12] weslly commented on #553
I just tested on macOS Sierra and cannot reproduce this issue.

Does the search work if you try to find `kdbx` files from other apps' open file dialog?

[2017-05-18 11:38] piedrok commented on #430
Thanks a lot for your efforts and the attention to detail!

Really appreciated and on Arch linux, I just tested once more, - the last databank is remembered again flawlessly. Thx again, p.

[2017-05-18 13:37] backaf commented on #530
Sorry for the late reply, I was away for a while. I tried this quickly and it seems I cannot reproduce it when only one database is opened at a time. I kept only one database opened on a Debian and a Mac, synced through the NextCloud client. I tried saving on one or the other, waited to sync but it cannot be reproduced.

Then I had to open another database and 5 minutes later realized the password

[2017-05-18 21:07] phoerious commented on #430
You're welcome. My experience is that it indeed is the details that make the difference whether a program gets your job done or rather on your nerves. ;-)

[2017-05-19 12:54] varjolintu commented on #287
Latest releases:
[chromeKeePass 0.1.3](https://github.com/varjolintu/chromeKeePassXC/releases/tag/0.1.3)
[KeePassXC 2.1.4-browser2](https://github.com/varjolintu/keepassxc/releases/tag/2.1.4-browser2)

[2017-05-19 16:11] phoerious commented on #287
Thanks for the work. We should review this soon and then decided to how to proceed with upstream merging.

[2017-05-19 16:40] Germano0 opened #584 "[2.1.4] KDE Plasma 5 (Xorg) clipboard is not cleaned by KeepassXC"
## Expected Behavior
KeepassXC should clean KDE Plasma (Xorg) clipboard (Klipper) 10 seconds after user copies a password

## Current Behavior
KeepassXC does not clean KDE Plasma clipboard (Klipper) 10 seconds after user copies a password, so if you open Klipper you can read past copied passwords

## Steps to Reproduce (for bugs)
1. Copy a password from KeepassXC
2. Wait 10 seconds
3. Open Klipper

[2017-05-19 16:51] #498 closed

[2017-05-19 17:14] phoerious commented on #584
It usually works for me. But generally, there isn't anything we can do. If a clipboard manager decides not to delete its contents, we can't force it to. Clipboard managers and password managers have always been a dangerous combination and probably always will be.

[2017-05-19 17:14] #584 closed

[2017-05-19 22:30] #438 closed

[2017-05-20 16:18] QasimK opened #585 "Accessing files outside of the home dir using the Snap app"
I am unable to access files outside of the home directory and the app's special snap directory. I am trying to open a KeePass file on a second hard drive which is mounted at `/media/me/storage` by Ubuntu.

## Expected Behaviour
The ability to gain access to files on the network or on other hard disks.

## Current Behaviour
No files or folders are visible outside of `~/` and `~/snap/keepassxc/n/`.

[2017-05-20 20:39] pjbakker commented on #269
Same here.

I have:
[code]

And although it does populate the Reopen menu, it does not open the database on startup. (independent of how Keepassxc closed)

This is on Mac OS Sierra 10.12.4, using Keepassxc 2.1.4

[2017-05-20 20:47] phoerious commented on #269
Fix has already been merged into develop.

[2017-05-20 20:51] pjbakker commented on #269
@phoerious Thanks for the update. Any indication of when a new release will be made?

[2017-05-20 20:55] phoerious commented on #269
No, but hopefully end of May or beginning of June.

[2017-05-21 01:51] philledwards commented on #366
I've read the FAQ and understand your reasoning about not including cloud storage sync, but I believe the statement that it "can be easily accomplished by simply storing your KeePassXC database inside your shared cloud folder and letting your desktop synchronization client do the rest" is flawed.

That's just fine when you have admin access on your Windows PC, eg when you're at home. But what abou

[2017-05-21 09:36] TheZ3ro commented on #366
From https://github.com/keepassxreboot/keepassxc/issues/49#issuecomment-301048723

[2017-05-21 10:06] phoerious commented on #366
We already have networking code in our application (with the option to compile without), so that's not such a big deal anymore. But it still adds quite a bit of complexity in a very sensitive area of the code.

[2017-05-21 13:40] varjolintu commented on #287
I'm also trying to make the extension Firefox WebExtension compatible. The extension already loads but the functionality is still limited. Please notice that I'm using Firefox Nightly for testing the extension. The stable version is not up-to-date enough.

[2017-05-21 22:04] droidmonkey commented on #585
You have to explicitly type in the directory name in the open dialog in order to get there. This is a limitation in the snap system unfortunately. Arbitrary directories under / are still restricted though. /home and /media are accessible.

[2017-05-21 22:04] #585 closed

[2017-05-21 22:51] philledwards commented on #366
Thanks for the info phoerious. So if we download and install the current version it already has this feature? I assumed it wasn't available because of what I read in the FAQ,

[2017-05-21 23:04] phoerious commented on #366
No. We do have networking code for KeePassHTTP and downloading favicons.
We do not have cloud sync built in.

[2017-05-23 09:28] guzzard opened #590 "--pw-stdin stopped working"
I have used --pw-stdin in a script to open and unlock KeePassXC upon login, but it stopped working when I updated keepassxc to version 2.1.4.

## Expected Behavior
This command should work fine to start and unlock KeePassXC:
keepassxc --keyfile ~/folder/keyfile.key --pw-stdin ~/anotherFolder/database.kdbx <<< password

## Current Behavior
KeePassXC starts, but is still in a locked state. I have to

[2017-05-23 17:29] jonathancross commented on #579
Hi @Germano0 What platform(s) are you using?

[2017-05-23 17:30] jonathancross commented on #564
@greyowl2  Can this be closed?

[2017-05-23 18:10] #564 closed

[2017-05-23 18:56] wakoond opened #591 "Crash on OSX if using passafari"
If I click to passafari (v1.0.beta2) in Safari menubar a association window appears in KeepassXC. I type 'passafari' and when I click to 'OK' I get a segmentation fault.

## Expected Behavior

Do not crash, but show me the username / password for the specific site.

## Current Behavior

Process:               KeePassXC [8828]
Path:                  /Applications/KeePassXC.app/Contents/MacOS/KeePas

[2017-05-23 21:55] droidmonkey commented on #590
Did you update from 2.1.3?

[2017-05-23 23:17] sts10 commented on #579
I'm experiencing this behavior as well-- I have "Always ask before performing auto-type" checked but when I do an auto-type (either by hitting `Cmd + v` or right clicking and selecting the auto-type menu option) KeePassXC just performs the auto-type right away.

I'm using KeePassXC 2.1.4 and macOS 10.10.5. I installed KeePassXC from the DMG on the website (I didn't build it myself), so it has the

[2017-05-24 00:09] weslly commented on #591
Thanks for reporting, it doesn't seem to happen every time but it crashed a couple of times when I tried to reproduce.

[2017-05-24 00:29] weslly commented on #575
I can't reproduce it either, a clean install should probably fix it as there has been already 3 major updates to OSX since 10.9.5.

[2017-05-24 03:41] wakoond commented on #591
For me it happens every time.
Is there any kind of combination of configuration options which allow me to us and avoid crashing?

[2017-05-24 08:29] Germano0 commented on #579
@jonathancross Fedora 25, Qt 5.7.1

[2017-05-24 08:57] Germano0 commented on #584
@phoerious note that auto delete has always been a working feature on the old Keepassx + KDE Plasma

[2017-05-24 10:40] guzzard commented on #590
@droidmonkey yes I updated from 2.1.3.r245.gc4d6fa8

[2017-05-24 11:02] lbssousa commented on #96
A real use case I have here with original "KeePass + TOTP/QR code plugins" is exposing my TOTP keys in QR code, so I can import them easily to my Google Authenticator app.

[2017-05-24 11:21] phoerious commented on #584
No, it's a Klipper problem. I know it used to work for me too, but I just tested it with both KeePassXC and the old (Qt4) KeePassX and the behavior is the same. Klipper seems to have received a new option "Prevent empty clipboard" which prevents KeePasssX(C) completely from emptying the clipboard. If you turn that option off, we can clear the clipboard, but the password still stays within Klipper.

[2017-05-24 17:44] hifi commented on #462
An [official](https://apps.fedoraproject.org/packages/keepassxc) package has been pushed to Fedora which was tracked as [RHBZ #1450633](https://bugzilla.redhat.com/show_bug.cgi?id=1450633).

Initial website update pending as https://github.com/keepassxreboot/keepassxreboot.github.io/pull/13

This issue can be closed as resolved.

[2017-05-24 17:50] #462 closed

[2017-05-24 22:36] tvld commented on #128
If I read that post correctly, I should add {DELAY=2} or so for EVERY password entry?

 Should I really need to change **all my 500 entries** to slow down autotype? (Inherit does not work, as many of my entries have a custom entry...). Is there not a simple global DEALAY ?

[2017-05-24 23:15] droidmonkey commented on #128
Im not sure what your exact needs are, but there was a minor change for v2.2.0 for linux that adds a 25ms delay between key presses for ALL auto typing.

[2017-05-24 23:18] tvld commented on #128
25ms is excellent.

Myself i figured i needed 20ms,  so 25ms seems almost spot on.

Thank you :)

[2017-05-25 20:58] QasimK commented on #585
@droidmonkey Thanks, that workaround worked! I've also just seen similar recent issues #547 #526 #400

I think it's clear that there is a substantial usability issue with the snap package under not-uncommon use cases. There is no documentation on how to deal with mounted devices. I fear that many more issues will be opened that are basically this until documentation is added front and centre on th

[2017-05-25 23:33] lanox commented on #560
@TheZ3ro when will 2.2 be released ?

[2017-05-25 23:40] schnappijedi opened #592 "Cannot use "Open URL" in snap"
When using the KeePassXC snap application the "Open URL" feature does not work by default. How can one specify the browser location that KeePassXC should use?

[2017-05-26 01:27] droidmonkey commented on #585
This issue is common to ALL snaps. I am providing feedback to the snapd developers on this and other issues.

[2017-05-26 05:12] guihkx opened #593 "Ctrl+U shortcut conflict on Linux"
I use the search function quite often. KeePassXC will always highlight the first search result, so I expect that when I'm done typing and I hit `Ctrl+C`, for example, KeePassXC will copy its password to the clipboard -- and **it does**! However, if I want to open the URL of the first search result by pressing `Ctrl+U`, KeePassXC will actually clear the search field instead of opening it.

## Expec

[2017-05-26 06:25] ibrokemypie opened #594 "Steam Guard Support for TOTP"
## Expected Behavior
Option to use steam's generation when setting up totp

## Current Behavior
No option

## Possible Solution
This has already been done as a plugin for the original keepass, so I would expect that since it is only an algorithm difference it shouldnt actually be too difficult.
link to mentioned project: https://github.com/victor-rds/KeeTrayTOTP

"The Mobile Steam Guard uses a sta

[2017-05-26 08:31] TheZ3ro commented on #594
The implementation in KeeTrayTOTP seems pretty trivial,
this is the [Steam encoder](https://github.com/victor-rds/KeeTrayTOTP/blob/b122a8b568e7f6770cda2770f854b1424ebaf865/Libraries/TOTPEncoder.cs#L34) and this is the [Alphabet](https://github.com/victor-rds/KeeTrayTOTP/blob/b122a8b568e7f6770cda2770f854b1424ebaf865/Libraries/TOTPEncoder.cs#L13), the length is 5 and the step is 30 seconds

KeeTrayT

[2017-05-26 08:33] TheZ3ro commented on #585
Maybe we can include this in the FAQ on the website?

[2017-05-26 08:35] TheZ3ro commented on #560
@lanox we don't have a fixed date, but I think it will be soon

[2017-05-26 08:40] TheZ3ro commented on #593
The thing is that the focus is on the Search field and so when you press CTRL+U it will clear the text.
When you search you should first press the down key (to get the focus on the first entry) and then pressing CTRL+U to open the URL.

[2017-05-26 08:51] GUiHKX commented on #593
I know I can do that, but isn't this unexpected behavior? Because on Windows I wouldn't have to do that... If its not, is there any way to prevent `Ctrl+U` from clearing input fields? Thank you

[2017-05-26 11:32] droidmonkey commented on #585
Yah that would be great

[2017-05-26 13:09] daveqr opened #595 "Password copy on "Edit entry""
Next to the Password field on the "Edit entry" screen I would like to have a "copy" button that saves the password to the clipboard.

## Expected Behavior
I envision a square the size of the current "view" button with some kind of icon representing copy. Pressing this button copies the contents of the Password field to the clipboard.

## Context
Two use cases:

1. When generating a new password, "

[2017-05-26 15:18] TheZ3ro commented on #595
Nice suggestion, actually I think it's better adding it to the password generator instead of the Edit-entry

[2017-05-26 15:26] TheZ3ro commented on #593
I don't know it there is a way to prevent this. It's not a KeePassXC defined behavior.

Are you using XFCE on ArchLinux? I'm on XFCE/Ubuntu and I can reproduce this.

[2017-05-26 16:06] daveqr commented on #595
Why not both?

[2017-05-26 16:37] nbibzgvs opened #596 "Cant change keyboard layout after i accidently try to autotype greek"
## Expected Behavior
I expected that the keyboard shortcat for layout would work

## Current Behavior
Couldnt change layout using the keyboard shortcut after i used autotype shortcut

## Possible Solution
Its really annoying not to be able to change layout.

## Steps to Reproduce (for bugs)
1.I open my computer.
2.I tried to login using autotype to the website https://top.host/
3.I forgot that at

[2017-05-26 16:42] phoerious commented on #593
Ctrl+U seems to be a standard key sequence on Linux which Qt implements as `QKeySequence::DeleteCompleteLine`. See: https://doc.qt.io/qt-5/qkeysequence.html#standard-shortcuts

[2017-05-26 17:03] knu commented on #593
Pressing Ctrl+C in the search widget copies the password of the first matching entry (only when there's no text selection) just because it is specially implemented so (#131).  It was only a fortunate case where Ctrl+C could be bound two features without confusing user.   As for Ctrl+U, I couldn't think of a similar do-what-I-mean tweak.

[2017-05-26 17:27] 1DUB opened #597 "File on Network Won't Open"
When attempting to open a database file located on the network the file won't open.

[2017-05-26 22:32] GUiHKX commented on #593
Yup.

Thanks for the useful link, I didn't know those "standard Linux shortcuts". I wonder why they don't have this on GTK+ (thankfully lol).

Anyway... if there's no way to "workaround" this, please feel free to close this issue.

Thanks for your help!

[2017-05-27 03:02] droidmonkey commented on #597
There is simply not enough information to help you. Please re-open using the issue template and answering the basic questions.

[2017-05-27 03:02] #597 closed

[2017-05-27 10:52] msrv opened #598 "KeeepassXC does not auto-open last used database."
## Expected Behavior
(KeepassXC does not autostart on Windows 10, thus i created a sheduled task to do this.)
On start, KeepassXC should attempt to mount the previously used database. The option to to this is checked in preferences.

## Current Behavior
KeepassXC starts with the default window. I have to manually select "open previously used database...", even if i check the option in preferences

[2017-05-27 11:06] #14 closed

[2017-05-27 14:17] TheZ3ro commented on #598
We need more information, Thanks

[2017-05-27 14:27] msrv commented on #598
Okay, i'll be glad to help. What exactly do you need? There is no error message, it just starts with the default screen and does not prompt for the last used database.

[2017-05-27 14:42] ToKaTpoHb opened #599 "How do i get started with development?"
Basically, can you give more information about what IDE i could use (QT Creator or similar), what steps i should do to understand more whats going in in code etc...

[2017-05-27 14:48] phoerious commented on #599
Most technical stuff is in the Wiki: https://github.com/keepassxreboot/keepassxc/wiki
As IDE you can use whatever you want. Most of use use QtCreator or something similar (I suppose @weslly  is using Xcode on macOS). I also used KDevelop for some time and will give CLion another try once they improve their Qt compatibility. But even Vim is possible.

[2017-05-27 14:54] ToKaTpoHb commented on #599
Ok, wiki not really helps.

[2017-05-27 14:54] #599 closed

[2017-05-27 15:03] ToKaTpoHb commented on #599
I forgot to tell, what should i learn to start helping with this project? (c++, OOP, ???)

[2017-05-27 15:09] sts10 opened #600 "Keyboard navigation between multiple database tabs on mac OS"
Feature request: Provide keyboard shortcuts, like Cmd/Ctrl + [num], to navigate between multiple databases while using mac OS.

## Expected Behavior

Let's say I have database A open in my first KeePassXC tab and database B open in my second KeePassXC tab. When I want to switch from database A to database B, I'd love to be able to hit `Command + 2` or `Control + Tab` or `Command + }` to quickly ju

[2017-05-27 15:30] TheZ3ro commented on #598
Have you downloaded it from the website?
This happen every time?
Copy here the content of `C:\Users\<youruser>\AppData\Local\keepassxc\keepassxc.ini` file

[2017-05-27 15:36] phoerious commented on #599
Modern C++, Qt5. OOP is a necessary basic concept.

[2017-05-27 16:47] ebisagli commented on #467
If i install KeepassXC in Linux Mint 18.1 (Cinnamon or Mate) with the command "sudo snap install keepassxc", the tray icon of keepassxc is not show.
But if i download the "Official AppImage" of keepassxc, and i run it, the tray icon is show.

[2017-05-27 21:15] msrv commented on #598
I've downloaded it from the website and it happens every time.

Here the content of keepassxc.ini (removed personal & keyfile data):
`[General]
ShowToolbar=true
LastDir=C:/Users/ MYUSER /Documents
LastDatabases=C:/Users/ MYUSER /Cloud/Keepass/Keepass.kdbx
LastKeyFiles= Keyfile (here are cryptic things with / etc...)
RememberLastDatabases=true
RememberLastKeyFiles=true
OpenPreviousDatabasesOnStartu

[2017-05-28 00:51] droidmonkey commented on #599
My personal recommendation is to learn the basics and help out a small project. Once you are comfortable you can come back and help us. We are a very mature and very complex project that will be incredibly daunting to beginners (and likely not help you succeed).

[2017-05-28 08:26] TheZ3ro commented on #598
Ok, the last opened database is not saved in the config file: `LastOpenedDatabases=@Invalid()`

Seems related to #580 and #430, ping @phoerious

[2017-05-28 10:32] varjolintu commented on #287
Latest releases:
[chromeKeePass 0.1.7](urlhttps://github.com/varjolintu/chromeKeePassXC/releases/tag/0.1.7
[KeePassXC 2.1.4-browser-beta1](https://github.com/varjolintu/keepassxc/releases/tag/2.1.4-browser-beta1)

The browser extension works with Firefox (nightly) also without any major problems. The KeePassXC branch is now merged with develop (was behind around 400 commit.. oops).

The single ins

[2017-05-28 15:53] wrmbaron opened #604 "Cannot save to Dropbox (Windows 10 1703 64-bit)"
When saving to any folder in my Dropbox using KeepassXC 2.1.4 on Windows 10 1703 64-bit, an error dialog pops up:
---------------------------
Error
---------------------------
Writing the database failed.

Der Prozess kann nicht auf die Datei zugreifen, da sie von einem anderen Prozess verwendet wird.

---------------------------
OK
---------------------------

My display language is German and I

[2017-05-28 17:49] corehack commented on #459
@droidmonkey Just informing you, I no longer have the issue. Maybe one of the recent system updates fixed this. But its ugly (#431)
Btw, you may consider flatpak instead of snap (or in addition)

[2017-05-28 18:32] ribbons commented on #507
I've hit this issue too (KDE neon User Edition 5.9).

Hope this helps rather than just being noise - If I start `keepassxc` from a terminal and try opening a URL, it prints this error:

[code]

[2017-05-29 06:31] vjbyrmtd opened #607 "keepassx: Cant change keyboard layout after i accidently try to autotype greek"
## Expected Behavior
I expected that the keyboard shortcat for layout would work

## Current Behavior
Couldnt change layout using the keyboard shortcut after using autotype

## Possible Solution

## Steps to Reproduce (for bugs)
1.I open my computer.
2.I tried to login using autotype
3.I forgot that at the time i tried the autotype combination i had the greek layout
4.Keepassx enter the password a

[2017-05-29 06:36] #607 closed

[2017-05-29 07:45] TheZ3ro commented on #607
@vjbyrmtd why did you closed this? Did you solve it?

[2017-05-29 09:06] dobegor commented on #209
Hardware support always needs platform dependent code. Perhaps you could make an abstraction and use system-provided APIs for each platform. fprint on GNU/Linux, Windows Biometric Framework on Windows, TouchID on macOS.

[2017-05-29 09:43] corehack commented on #431
I'm confused, this is Qt app right ? What does it have to do with gtk themes ? Does it mean that the theme engine is getting confused and provides a gtk-compatible fallback theme (what happens if you run a Qt app in a Gtk environment such as Gnome) ? Note, I'm using Kubuntu, native Qt environment, so it should just skip the gtk stuff altogether.

[2017-05-29 13:01] Phidica commented on #576
FWIW, I successfully compiled from source. Turns out I only needed to compile the latest libgcrypt (and its dependency libgpg-error), as the Fedora 20 repos did have sufficiently updated versions of the remaining dependencies after all

[2017-05-29 15:38] droidmonkey commented on #604
I see this error in Google drive when its trying to sync the file i am saving to. Is your database file exceptionally large? You may also see this if there is a lockfile that is "stuck" in place.

[2017-05-30 02:36] droidmonkey commented on #467
No tray icon with the snap is a known issue.

[2017-05-30 03:11] droidmonkey commented on #287
The only fix for this is to create a small application that acts as a proxy between chrome/firefox and the running instance of keepasxc. This might be relatively easy to do, the proxy would simply pass the stdio to the running keepassxc instance as-is.

[2017-05-30 06:03] nodomain commented on #209
I support @dobegor's proposal. TouchID would greatly enhance the usability.

[2017-05-30 08:47] varjolintu commented on #287
The problem is that Native Messaging needs to launch a new process. It cannot connect to a process that exists. So QProcess is out of the game. Maybe QLocalSocket could be the answer. I should definitely investigate this approach.

[2017-05-30 12:26] droidmonkey commented on #287
Yah, the proxy application gets created at-will by the plugin while the main keepassxc instance stays running.

[2017-05-30 18:22] droidmonkey commented on #134
This was closed in #545

[2017-05-30 18:22] #134 closed

[2017-05-30 18:38] droidmonkey commented on #99
This has become overcome by the implementation of Single Instance in #510. I am opening a new issue with @arigit comment above about autotype command line argument.

[2017-05-30 18:47] droidmonkey opened #609 "Trigger autotype from command line"
## Feature request

KeePassXC should support a command line flag ```--autotype``` and login credentials as necessary to allow invoking an autotype command directly from a desktop global key combination.

e.g. in Gnome > Settings > Keyboard > Shortcuts, add Ctrl-Alt-A and bind it to
[code]
See original comment:
https://github.com/keepassxreboot/keepassxc/issues/99#issuecomment-273027934

This would

[2017-05-30 23:14] sts10 opened #611 "AutoType doesn't work on MacOS + Chrome when Signal desktop client is running"
On a Mac, I'm unable to AutoType into the Chrome browser while the Signal messaging desktop client is open and running.

## Expected Behavior
I'd like to be able to AutoType a username and password into a Chrome tab while I'm also running [Signal's desktop messenger](https://chrome.google.com/webstore/detail/signal-private-messenger/bikioccmkafdpakkkcpdbppfkghcmihk?hl=en). As I understand it, this

[2017-05-30 23:39] tycho opened #612 "TestCsvParser::testUnicode failure on MinGW"
I followed the Windows build environment setup [directions](https://github.com/keepassxreboot/keepassxc/wiki/Set-up-Build-Environment-on-Windows).

This is the only test failure I'm seeing:

[code]

My environment appears to be set to UTF-8 properly:

[code]

So I'm not sure why it's failing. Any ideas?

Here's the list of packages in my MSYS2 install, in case it matters:

[code]

[2017-05-30 23:58] anatoli26 commented on #99
Mm.. from the discussion at https://github.com/keepassxreboot/keepassxc/pull/510 I thought this issue is not solved by the PR, is it?

[2017-05-31 01:56] droidmonkey commented on #99
It is not, but this issue have become quite convoluted. If you can identify EXACTLY what needs to happen given the current state of the develop branch that would be far more useful.

[2017-05-31 02:00] droidmonkey commented on #611
This is probably because the signal app is trapping keyboard combinations inside Chrome. The same thing happened to me when I had them enabled for the Google Music extension.

http://www.omgchrome.com/chrome-google-music-media-keys/

[2017-05-31 02:35] sts10 commented on #611
Ah bummer.

One work-around I've found already is that if you minimize Signal first, AutoType appears to work as you'd expect/want. Maybe w'ell just have to deal with this one.

[2017-05-31 04:54] arigit commented on #609
Chiming in - looking forward to this

[2017-05-31 09:19] n1trux opened #613 "Have an option to start KeePassXC on login"
There's no function to start KeePassXC on user login, neither on Windows nor on Linux.

## Expected Behavior
I check a box in the settings which could be named "start on login". The next time I start my PC and log in into my user account, KeePassXC starts minimized. Maybe have another checkbox "ask for password" which asks me for my DB password and minimizes after that. Maybe couple the autostart

[2017-05-31 22:17] Anton-Latukha opened #614 "Upon KeePassXC-PassIFox-Firefox - source of password storage changes in Firefox, so Firefox-based passwords hidden. Migration description needed."
## Expected Behavior

On connecting KeePassXC to Firefox, get Firefox passwords imported if it possible.

Or at least make a great disclaimer placed on my face, that this action is going to slaughter all my Firefox passwords.

## Current Behavior

All my passwords are gone.

Besides that connection and mutual work KeePassXC - Firefox looks to work great.

## Possible Solution

Make a big-fat warni

[2017-05-31 22:40] Anton-Latukha commented on #614
KeePassXC crashed on me while I was choosing Icons.
I opened /usr/bin, and I have a lot of binaries there (5670).
It may be KDE file menu crashed KeePassXC.

Result is - DB is corrupted. I have muscle memory on that master password I chose for DB now.

=======

1. I removed PassIFox.
2. Disabled Master Password+
3. Restarted Firefox
4. No passwords in Firefox
5. Disabled Firefox master password
6.

[2017-06-01 00:14] weslly commented on #614
I'm pretty sure KeepassXC can't delete your Firefox keychain, since it only provides the API to the Keepass-HTTP protocol. Only the passifox addon has access to your browser passwords.

You should report this to the [passifox repository](https://github.com/pfn/passifox) instead.

[2017-06-01 00:19] Anton-Latukha commented on #614
Can you wait for a moment.

It is not a passifox or KeePassXC.

It is Firefox behavior.
They done sourcing of passwords some versions ago. And password can be provided only from one (chosen) source.

So it is basically changing they internal source, to PassIFox source. And PassIFox source has no passwords in it (in DB).

After I disable PassIFox - passwords come back.

[2017-06-01 00:22] Anton-Latukha commented on #614
I found a way to import passwords from Firefox:

1. Install Password Explorer addon and export passwords to XML or CSV.
2. Imported XML with KeePass.
3. Exported with KeePass to KeePassX 2.x DB.
4. Imported KeePassX 2.x DB to KeePassXC.
5. Everything works, passwords shown up in PassIFox source.

[2017-06-01 00:23] Anton-Latukha commented on #614
So, if KeePassXC had import from Password Explorer XML or CSV feature - it can be done more directly.

[2017-06-01 00:27] Anton-Latukha commented on #614
As mentioned #533, CSV import must arrive in 2.2.

So I hope my info helps.

[2017-06-01 00:35] #614 closed

[2017-06-01 01:29] droidmonkey commented on #613
Just add it to your startup folder.

[2017-06-01 01:29] #613 closed

[2017-06-01 02:30] GillesP commented on #360
Hi, in my mind, the best behavior is when double-clicking an entry, the URL opens, and the password is copied to the clipboard. (Revelation, on Gnome env. does)

[2017-06-01 07:58] ftes opened #615 "Bug: Reference is not resolved after cloning an entry"
#370 adds support for references.

However, after cloning an entry and generating references, these references are not resolved on _copy to clipboard_, _http_ and _auto type_.

The problem seems to be that the UUID in the reference is uppercase, while the UUID of the source entry is lowercase. This breaks the resolving of the reference.

See https://github.com/keepassxreboot/keepassxc/pull/370#pul

[2017-06-01 07:59] ftes commented on #615
@mrrsm maybe you have an idea for an easy fix.

[2017-06-01 13:14] tohn commented on #90
This feature would be awesome! Otherwise I still have to use KeePass to sync several databases ...
Is there any plan to implement this?

[2017-06-01 15:18] TheZ3ro commented on #615
I cannot reproduce this with xUbuntu on the latest develop version.
Using both uppercase and lowercase hex UUID is fine for me.

[2017-06-01 16:43] ftes commented on #615
@TheZ3ro thanks for checking.
Update from my side: after reinstalling everything works for me now (switched back and forth between [AUR version](https://aur.archlinux.org/packages/keepassxc-git/) which uses `develop` branch and the [official Arch repo](https://www.archlinux.org/packages/community/x86_64/keepassxc/)).

Maybe this happened due to some weird intermediate state that a reboot would als

[2017-06-01 16:43] #615 closed

[2017-06-01 16:52] TheZ3ro commented on #615
Ok thanks @ftes anyway for the report :wink:

[2017-06-01 18:08] yan12125 opened #617 "Intermittent failure in TestGui::testAutoreloadDatabase() on macOS with Qt 5.9"
## Expected Behavior

All tests, including GUI tests, always pass

## Current Behavior

If I run tests multiple times, there might be a failure. For example:
[code]
## Possible Solution

Dunno :/

## Steps to Reproduce (for bugs)

1. Install Qt 5.9 via Homebrew
2. Build with:
[code]
3. `make`
4. `ctest -R 'testgui' -V --repeat-until-fail 10` and wait for the intermittent failure. I try this comman

[2017-06-01 21:05] #528 closed

[2017-06-01 21:39] williamtheaker commented on #546
@TheZ3ro part of the issue is not being able to clearly refer to the icons when giving a walkthrough.
It would be a lot easier to say "click on the 'Add new entry' button" than "click on the key with the downward green arrow icon."

In the mean time I'll try to think of how the symbols used in the icons could be clarified.

[2017-06-02 14:04] yan12125 commented on #617
I've tested Qt 5.8.0 and Qt 5.9.0 on Arch Linux, and GUI tests always run fine. This seems a mac-specific trap.

[2017-06-03 03:30] n1trux commented on #613
Are you shitting me? That's not going to cut it for the average user.

This Issue is just for tracking progress on this, I'm planning on writing this feature myself.

You're a jerk.

[2017-06-03 05:10] MrDrMcCoy opened #618 "Implement RFC 6238 Authenticator"
Feature request for an storing RFC 6238 authenticator secrets and generating codes in the UI. There is a distinct lack of open-source authenticators that can securely store and sync codes, and this would be a killer feature to have!

[2017-06-03 09:43] sergeevabc commented on #148
Any ETA?

[2017-06-03 09:43] TheZ3ro commented on #618
This is a duplicate of #80. This feature is already available in develop and will be released in version 2.2.0 of KeePassXC

[2017-06-03 09:43] #618 closed

[2017-06-03 16:20] Elyjax opened #620 "Additional attributes GUI does not scale on linux"
## Expected Behavior
The left box should scale to display the full name of the attribute. This is the case on Windows.

## Current Behavior
There is no scale and no way to increase the size of the box thus it is difficult to read entries name.

![keepassxc](https://cloud.githubusercontent.com/assets/6034697/26755145/c4de2074-4887-11e7-860d-a5070c7b514a.png)

## Your Environment

* KeePassXC versio

[2017-06-03 17:33] TheZ3ro commented on #620
I can't find the issue but I'm pretty sure this is fixed in develop. @droidmonkey can you confirm?

[2017-06-03 18:14] Elyjax commented on #620
I have just built keepassxc with the latest commit and the problem is indeed resolved :).
By the way, I noticed some UI improvements. Keep up the great work !

[2017-06-03 18:15] #620 closed

[2017-06-03 18:25] TheZ3ro commented on #620
Thanks! :)

[2017-06-04 04:24] ejensler commented on #604
I recently switched from Keepass to KeepassXC for some of the additional features, but immediately got bitten by this same bug trying to use Dropbox to sync with my phone.

[2017-06-04 04:51] droidmonkey commented on #604
I'll install Dropbox and do some testing. Thanks for the reports. @ejensler are you using Windows 10 as well?

[2017-06-04 08:52] rafan opened #621 "Allow to change font size"
No current way to adjust font size in preference setting.

## Expected Behavior
Preference should allow user to change the font size.

## Current Behavior
No font size setting in preference.

## Possible Solution
Allow user to set UI font size in preference setting.

## Steps to Reproduce (for bugs)
n/a

## Context
Would like to use larger font size.

## Your Environment
* KeePassXC version/commit

[2017-06-04 11:59] highend commented on #231
Any news on this? I would even take a command line option like
[code]
Where you can either use a relative (to the folder where keepassxc.exe lives in) or a fixed path...

[2017-06-04 12:15] highend commented on #540
Please add this...
I store belonging sensitive information in the notes field and it's incredible annoying that it uses a non-monospaced font here...

A simple option in the preferences
[code]
With default = off

could please all users

Thanks!

[2017-06-04 18:00] livelace commented on #255
@droidmonkey

Hello. When do you plan to add support PKCS #11 ?

[2017-06-05 01:05] droidmonkey commented on #255
Probably 2.3.0

[2017-06-05 04:18] livelace commented on #255
@droidmonkey

Thanks. I will wait with impatience.

[2017-06-05 14:13] TheZ3ro commented on #595
Closing for #606

[2017-06-05 14:13] #595 closed

[2017-06-05 14:52] teldon opened #623 "[Feature Request] Show expired passwords on database open"
Could you please add an option to show a list of expired passwords when you open a database?  It's nice to know if any of the passwords I've set to expire have.

[2017-06-05 15:09] TheZ3ro commented on #623
This is related to #551, adding for the wishlist for 2.3.0

[2017-06-05 15:14] TheZ3ro commented on #279
Your call on this @keepassxreboot/core-developers ?

If we can decide shortly, we can include this in 2.2.0

[2017-06-05 15:18] teldon commented on #623
Thanks.

[2017-06-05 18:21] droidmonkey commented on #623
I like this idea! Perhaps this would be better handled as a special search that dynamically found and displayed expired entries on the push of a button.

[2017-06-05 18:23] droidmonkey commented on #279
I am in favor of turning it on, but it will increase the conflicts with cloud storage solutions which lock files on sync.

[2017-06-06 14:08] louib commented on #279
👍 for defaulting to true the autosave option. Maybe we might want to take another look at #197 before 2.2.0 though?

[2017-06-07 06:44] GUiHKX commented on #594
On a totally unrelated note: Does auto-type work for you guys in the steam client? It doesn't for me. It seems that `{TAB}` doesn't work so the password gets appended in the "Account name" field.

[2017-06-07 15:25] karlo12 opened #625 "Change textcolor of search result field"
The text (white on yellow background) after searching is hardly readable on KDE. I use the dark default skin but am unsure if it has something to do with it.

![image](https://user-images.githubusercontent.com/10954785/26886667-481be19e-4ba6-11e7-8e67-f9992dda1530.png)

## Possible Solution
Change text or background color?

## Your Environment
- Keepass 2.1.4
- Qt 5.8.0
- libgcrypt 1.7.7

[2017-06-07 15:34] finsterwalder opened #626 "Always generate new password by default for new entries"
When I create a new entry I would like it to always have a generated password set by default.

Now I always have to klick the generate button before I get a new password. I would like this to happen automatically.

The dialog for generation does not necessarily have to be shown. Just a generated password is automatically filled into the Password and Repeat fields using my default settings for new

[2017-06-07 16:20] ngleb commented on #626
Is it really hard to do some additional actions to generate new password? It must be thousands of passwords each day to make any sense for this option.

I often fill existing passwords when adding new entries and if this get enabled by default, I will need to clean existing password (filled in automatically) and then type my own password, which also will require additional actions.

[2017-06-07 16:27] finsterwalder commented on #626
It would be really nice to have for me.
It would bother you.
So it should obviously be optional/configurable.

Am 07.06.2017 18:20 schrieb "Gleb Nemshilov" <notifications@github.com>:

[2017-06-07 16:41] ngleb commented on #626
Option "Generate password for new entries" would be fine.

[2017-06-07 17:03] sanyarnd opened #627 "[feature] Allow only 1 instance of the program option"
It'd be nice to see an option for that, because without it, traying to system menu looks incomplete: to open the window, you have to use a mouse, rather that system hotkeys.

[2017-06-07 18:28] ConcurrentHashMap commented on #17
👍 Please implement this. I always use the notes column in KeePass. It would nice to have at least notes, last changed and password column like in the original KeePass.

[2017-06-07 18:30] ConcurrentHashMap commented on #360
👍 The behavior from original KeePass is great: Double-clicking the username copies the username, double-clicking the password colum (see #17) copies the password (and so on for all other fields except the URL field). Double-clicking the URL opens the URL.

[2017-06-07 20:42] droidmonkey commented on #627
Already implemented in #510 please search next time.

[2017-06-07 20:42] #627 closed

[2017-06-07 21:26] weslly commented on #594
@GUiHKX Works fine for me, have you tried setting a delay?

[2017-06-07 23:38] droidmonkey opened #628 "Add KeePassXC Team Copyright to modified source files"
Any source file that has been modified for KeePassXC shall carry the Team's copyright on the top along with the original copyright from KeePassX. Any new files shall only carry the Team's copyright (e.g., SearchWidget.cpp).

Also, add any new files with appropriate copyright to the COPYING file.

[2017-06-07 23:38] droidmonkey commented on #376
Narrowed the scope of this issue, opened a new one for the file headers: #628

[2017-06-07 23:54] weslly commented on #575
@garuffalo Can I close this?

[2017-06-08 01:37] garuffalo commented on #575
Yes, and thank you.

[2017-06-08 01:52] #575 closed

[2017-06-08 02:11] weslly commented on #553
Closing for now

[2017-06-08 03:03] GUiHKX commented on #594
Adding a 100ms delay worked! Thanks

[2017-06-08 05:36] metbril commented on #553
When I search directly from Finder I get to see search results. From the file open dialog I don't. I will try again and add some screenshots.

[2017-06-08 11:31] droidmonkey commented on #594
If you are on linux this was a known issue that i corrected for 2.2.0. Linux now has a default 25ms delay between key presses, same as win and mac.

[2017-06-08 11:44] GUiHKX commented on #594
Oh... so that's it then. I'm on Linux indeed

[2017-06-08 13:02] weslly commented on #553
@metbril Can you try it from the TextEdit.app open file dialog?

[2017-06-08 13:54] e2jk commented on #507
I hit the same issue on Ubuntu 16.04.2 LTS, keepassxc 2.1.4 installed via Snap.
I did see the same error message about LIBDBUS_PRIVATE on the console yesterday, although it's not shown anymore today.

Note that I'm also hitting the same issue with Ctrl+V for Autotype (issue #506), but that other shortcuts (such as Ctrl+B and Ctrl+C) work fine.

[2017-06-08 13:55] e2jk commented on #506
I hit the same issue on Ubuntu 16.04.2 LTS, keepassxc 2.1.4 installed via Snap.
Right-clicking on an entry and selecting Autotype does work fine, so it's not the entire feature but just the shortcut that is not recognized.

Note that I'm also hitting the same issue with Ctrl+U to Open the URL (issue #507), but that other shortcuts (such as Ctrl+B and Ctrl+C) work fine.

[2017-06-08 15:08] yennor opened #630 "[Feature Request] Global Search window which directly inserts selected password in focused application"
It would be great if there would be a Global Shortcut, with which a search window would be opened. When choosing a password from the shown results, it should be entered directly in the application which had the focus before. It should be possible to use the search window by only using the keyboard.
When you need to enter passwords in the shell or programs which do not support keepassxc and also do

[2017-06-08 16:27] droidmonkey commented on #506
When using snaps all those tricks go out the window.

[2017-06-08 18:13] TheZ3ro commented on #630
This is a duplicate of #429. Closing

[2017-06-08 18:13] #630 closed

[2017-06-08 18:40] metbril commented on #553
Search: name contains 'kdbx'

## Finder

Search window from Finder.app. Files found.

![finder](https://user-images.githubusercontent.com/559346/26944854-31b20912-4c8a-11e7-8958-352c3ecf374f.png)

## TextEdit

File > Open dialog from TextEdit.app. Files showing.

![textedit](https://user-images.githubusercontent.com/559346/26944865-398eb950-4c8a-11e7-827e-995b3dd54b83.png)

## KeePassXC 2.1.4

Fil

[2017-06-08 18:42] weslly commented on #553
Thanks for the screenshots, I'll reopen and test with another language.

[2017-06-08 21:39] weslly commented on #553
I changed the system language to dutch but still can't reproduce this:

![screen shot 2017-06-08 at 18 35 54](https://user-images.githubusercontent.com/107672/26951903-73d710f0-4c79-11e7-9271-33b27074b9bc.png)

[2017-06-08 21:40] weslly commented on #553
@metbril Can you test if it works after changing the system language to english?

[2017-06-09 08:10] metbril commented on #553
I have switch language from "system default"  (which will become Dutch) to "English". No files found, either. See screenshot. One thing I noticed is, that regardless of the Keepass UI language that is set, the dialog is always in English (compare below screenshot with that of my earlier comment).

![keepassxc-english](https://user-images.githubusercontent.com/559346/26966743-aa0ed590-4cfb-11e7-8de

[2017-06-09 19:23] andrewduffey commented on #200
Saving the last directory used should not be done. The use case where this is not ideal is if you are using a keyfile to unlock your database. It defeats the whole purpose of locking the database.

[2017-06-09 19:52] TheZ3ro commented on #200
@andrewduffey in the option you can disable "Remember last database" and "Remember last keyfile and security dongle used".

Anyway, you should store the keyfile on a different drive and never lock a database with *only* a keyfile.
It's pretty easy to find all keyfile on a drive and try them all to unlock a db.

[2017-06-09 20:49] jsoref commented on #200
Note: I'm not trying to impact the behavior of *second run* (where a path could/couldn't be remembered). I'm only interested in the behavior of *first run* -- where the root of a computer is never the right answer.

[2017-06-09 22:23] fernando-mc opened #631 "Crash when editing and saving the free form text field."
## Expected Behavior

The application saves entries after editing and allows me to open edit them without crashing the application.

## Current Behavior

Program closes instead of saving an entry when pressing OK from the edit entry view.

## Possible Solution

Not sure the reason for the bug but the workaround it just to reopen the DB.

## Steps to Reproduce (for bugs)

1. Searching for an entry

[2017-06-10 03:53] anewuser opened #633 ""Official Snap Package" link is dead"
https://keepassxc.org/download#linux

https://uappexplorer.com/app/keepassxc.keepassxreboot

[2017-06-10 10:22] Maokei commented on #581
sudo servicectl enable apparmor.service solved this problem for me.

[2017-06-10 10:41] TheZ3ro commented on #633
It should now be fixed, the link should be changed to: https://uappexplorer.com/snap/ubuntu/keepassxc

[2017-06-10 10:41] #633 closed

[2017-06-10 20:35] weslly commented on #611
@sts10 do you have the "Always ask before performing auto-type" option enabled?

[2017-06-10 20:50] weslly commented on #631
I've tried several times but couldn't reproduce this.

How often does this happen? Do you have auto-save enabled?

[2017-06-10 21:10] sts10 commented on #611
Hm this is strange.

First: I did indeed have the "Always ask before performing auto-type" option enabled, though it wasn't asking me (see #579 ).

But now, strangely, I can't reproduce this issue at all, with the option checked or unchecked. Now the Auto-Type in Chrome works correctly and as expected, with the Signal app running.

This is obviously good news-- and we might be able to close the is

[2017-06-10 21:21] weslly commented on #611
I tried several times but couldn't reproduce it either, maybe it was a bug with Chrome?

[2017-06-10 21:21] #611 closed

[2017-06-10 21:40] fernando-mc commented on #631
Current general settings:
<img width="784" alt="screen shot 2017-06-10 at 2 34 33 pm" src="https://user-images.githubusercontent.com/6182464/27006502-f761656c-4de9-11e7-9ccf-f77aa41ccd9a.png">

I can consistently reproduce this. Try with these steps:

1. Open a db with many entires (might not be required but mine has many)
2. Search for an entry (in this case my search yields two results
3. Enter

[2017-06-10 21:45] fernando-mc commented on #631
From the Crash logs:
[code]

[2017-06-10 22:01] TheZ3ro commented on #631
@fernando-mc can you create a new DB and try reproducing on that? If the same thing happen upload that db here, thanks

[2017-06-10 22:03] TheZ3ro commented on #611
@sts10 If the problem returns fell free to report it again here :wink:

[2017-06-10 22:10] fernando-mc commented on #631
@TheZ3ro Had to compress it becuase github doesn't support uploading the db by itself. The DB password is `password`
[error_testdb.kdbx.zip](https://github.com/keepassxreboot/keepassxc/files/1066134/error_testdb.kdbx.zip)

Confirmed this happens in the test DB. I'll send you a video example for the reproduction steps.

[2017-06-10 22:17] fernando-mc commented on #631
Demo video:
[error_demo.zip](https://github.com/keepassxreboot/keepassxc/files/1066137/error_demo.zip)

Editing my reproduction steps. It appears you have to edit and save the same entry.

[2017-06-10 23:41] weslly commented on #631
I can reproduce it now, but it only crashes on v2.1.4, I couldn't reproduce it with the development branch build. It was either fixed by a commit after v2.1.4 or by Qt 5.9 LTS.

Let's leave this open until v2.2.0 is out so you can test it again.

[2017-06-10 23:46] fernando-mc commented on #631
@weslly Sounds good, thanks!

What's the best way to trigger a notification on this when that happens?

[2017-06-10 23:52] weslly commented on #631
@fernando-mc v2.2.0 should be out soon, I'll mention you in this issue when it gets released.

[2017-06-11 01:01] fernando-mc commented on #631
@weslly Awesome. Thank you!

[2017-06-11 13:02] adatum opened #635 "Lock individual databases"
Currently, there is a button on the toolbar to lock all databases. Sometimes it is useful to lock one or more databases, but not all, similar to how there is the option to close individual databases.

A menu item under "Databases" to lock that database would be great. Optionally, the "Lock databases" button on the toolbar could have a drop down option to choose to lock all or just the currently vi

[2017-06-11 20:32] #554 closed

[2017-06-11 20:44] starksm64 opened #636 "16x16 icon size is too small on higher resolution displays"
Related to the existing request to improve the application icons: https://github.com/keepassxreboot/keepassxc/issues/475
either the default icon size should be 32x32, or there should be a preference option to set the displayed icon size.

## Expected Behavior
It is very difficult to view the default icons, or add custom icons that can easily be understood what they are. I would like to either see

[2017-06-11 20:48] weslly commented on #636
Duplicate of #548.

[2017-06-11 20:48] #636 closed

[2017-06-12 07:36] sephie commented on #403
Experiencing the same on MacOS 10.12.5.
Additionally, it seems that the crash occurs when downloading the icon twice, AND that the icon that gets added to the list is the icon of the previous entry/url you attempted to dowload the icon from. There's an off-by-one error somewhere.

[2017-06-12 15:39] droidmonkey commented on #403
Oh gross and no bounds check!

[2017-06-13 04:38] Talkarcabbage opened #637 "Bidirectional Merge/Synchronization"
## Expected Behavior
Bidirectional merge/synchronization

Does the current implementation support *bidirectional* merges/synchronization? If for instance, you store a local copy and a Dropbox copy separately (both available locally, though) and open the local copy and add a new entry, is there a way to merge the local copy's new entry into the Dropbox file (as well as pulling in any changes that a

[2017-06-13 14:40] GUiHKX opened #638 "Split Auto-Type option "match entry title & entry URL""
KPXC now has this useful option to match URLs in titles (#556):

![kpxc](https://user-images.githubusercontent.com/626206/27087286-f8dcc34e-502a-11e7-93fc-6ce1115af1f6.png)

But I wish that option was split in two instead (like KeePass does):
[code]
I want this feature because I don't use the "match entry title" option, it causes some annoying conflicts for me.

Thanks.

[2017-06-13 14:59] TheZ3ro commented on #638
I think there is already an issue for that but i can't find it. Anyway I was already planning on doing this

[2017-06-13 16:44] TheZ3ro commented on #96
@lbssousa that is a different issue. Instead of viewing an entire entry as QR Codes you need to view only the TOTP key as QR Code.

[2017-06-13 17:44] SammysHP opened #639 "Corrupted database after saving locked db"
## Expected Behavior
Locked database cannot be stored (because it is already locked)

## Current Behavior
KeePassXC asks to store a modified, locked database. If you select "yes", the database is corrupted afterwards.

## Steps to Reproduce (for bugs)
1. Open database from KeePassX2 for the first time
1. Lock database
1. KeePassXC asks to save changes (which changes?). Select "no"
1. Close KeePass

[2017-06-13 17:54] droidmonkey commented on #639
Yikes, if confirmed this is very bad. Is there a hard requirement to meet step 1 (db from keepassx2) or is it on all databases.

[2017-06-13 18:17] SammysHP commented on #639
I'll try with a new database, give me some minutes.

[2017-06-13 18:30] SammysHP commented on #639
OK, it is even worse. I was not able to reproduce "DB from keepassx2 was modified without actual changes", but I have a minimal example to reproduce the issue:

1. Open DB
1. Modify something
1. Lock DB, keepassxc asks to save DB
1. Select "Close without saving"
1. DB is now locked, title still contains the * which indicates that it is modified.
1. Close DB, again it asks to save
1. Select "yes",

[2017-06-14 01:02] droidmonkey commented on #639
Through my testing I have found that this issue is not reproducible on the develop branch. Seeing that we are looking to release v2.2.0 very soon I will not issue a new third digit release just for this one.

[2017-06-14 03:10] droidmonkey commented on #637
This feature does not exist, yet. It is a bit of an edge case though. Why not just use the copy directly from Dropbox?

[2017-06-14 07:35] xf- opened #640 "Clear password input after switching tab"
## Expected Behavior

Keepassxc should clear the password input on inactive tabs.

## Current Behavior

I switch the tab and password will still be present after i go back with option for plain text.

## Possible Solution

Clear password on inactive tabs

## Context

I use multiple files splitted into tabs in UI. After i start to type a password and order of the tabs has changed, i will switch to

[2017-06-14 08:08] SammysHP commented on #639
Indeed, it is fixed in the develop branch.

[2017-06-14 08:08] #639 closed

[2017-06-14 08:40] pachulo opened #641 "Solve "No keyboards shortcuts in QT apps" for the snap"
## Expected Behavior

All keybaord shortcuts should work, not only those attached to actions present in the menubar.

## Current Behavior

In the snap version of keepassxc the keyboard shortcuts for actions attached only to the menubar (i.e. and not also to the toolbar) do not work.
The problem was with QT libraries, and is now solved in Xenial repos: https://bugs.launchpad.net/appmenu-qt5/+bug/13

[2017-06-14 09:21] Germano0 opened #642 "[Feature request] export subtree"
[Feature request] export subtree

## Expected Behavior
I would be nice to have a feature that makes possible to export subtrees (subgroups) of the passwords database

## Current Behavior
Now, right clicking on a subtree triggers menu "add subgroup, edit subgroup, erase subgroup"

[2017-06-14 12:32] Talkarcabbage commented on #637
I probably should have included a tl;dr in the post.
Direct Dropbox files can cause data loss. Had it happen personally (and saw it described on keepass.info above) which is why I started using sync on keepass.

[2017-06-14 12:37] droidmonkey commented on #640
I am really not sure what the issue is. Can you maybe explain it using screenshots?

[2017-06-14 12:49] xf- commented on #640
You have all the security feature like autolock, but if i start to type a password for a xdbx and switch the tab the password will remain and can be viewed in plain text.

[2017-06-14 13:05] qezzo commented on #231
Since there are no news on this feature in the last few months, the download page for windows should be changed. It say portable, but it is not. At least the name is misleading.
https://keepassxc.org/download#windows

[2017-06-14 13:07] varjolintu commented on #287
I have been experimenting with a proxy application which uses UDP sockets on localhost to transfer messages. It already works pretty well but still needs some work.

The next version of the browser extension will be renamed to keepassxc-browser. One good reason for this is that Mozilla doesn't allow browser extensions which carry a name of another browser.

[2017-06-14 13:39] TheZ3ro commented on #287
@varjolintu Nice, you are doing a great work! :wink:

[2017-06-14 13:44] TheZ3ro commented on #640
@xf- tell me if I'm right:

You have 2 DB opened (so let's say 2 tab)
- in the first tab you add a new entry
- click the button to see the password field in plain text
- start typing the password
- change the tab to the other database
- change the tab to the first database
- the password is still there in plain text

[2017-06-14 17:15] #628 closed

[2017-06-14 17:35] xf- commented on #640
![image](https://user-images.githubusercontent.com/1295633/27146064-5022e49a-5138-11e7-893e-5ec35875c425.png)
I forget the first password (i'm in a hurry) and will remain accassable

![image](https://user-images.githubusercontent.com/1295633/27146116-7751cb9e-5138-11e7-8d31-7d840ac4016d.png)

I fo

[2017-06-14 21:55] droidmonkey commented on #640
I do not agree that this is a problem. I personally find it incredibly annoying when fields are blanked for benign reasons.

[2017-06-14 21:55] #640 closed

[2017-06-14 21:57] droidmonkey commented on #231
I am going to implement this for 2.2.0, likely today.

[2017-06-14 21:59] fcore117 commented on #231
Wonderful news, no more losing options when reinstalling Win/Linux and can keep setting well on my portable usb raid drive.

[2017-06-15 06:41] Mukrosz opened #646 "Dependency is not satisfiable: libqt5core5a <=5.3.0"
Hi there,

I am trying to install [KeepassXC 2.1.4-1](https://github.com/magkopian/keepassxc-debian/releases) on Linux Mint 17.3.
I get and error message:

I checked my libqt5 version and it is: 5.2.1

How or where from could I have it updated?

Many thanks!

[2017-06-15 09:43] Diapolo opened #647 "status on KDBX 4 support?"
I saw there was a pull some time ago to support the newly introduced KDBX 4 format (see http://keepass.info/help/kb/kdbx_4.html), but I'm wondering what progress is currently made in supporting that? I want to switch from Windows to Ubuntu in the near future, so reading my KeePass database is essential for me.

Thanks,
Dia

[2017-06-15 10:09] TheZ3ro commented on #647
Duplicate of #148, please use that issue. Also we don't have any ETA on KDBX4 support, it will be available in the 2.3 version.

[2017-06-15 10:09] #647 closed

[2017-06-15 10:13] Diapolo commented on #148
Didn't see this sorry, so please keep us updated on your progress :). I appreciate your work on KDBX 4 support.

[2017-06-15 13:31] droidmonkey commented on #646
Wow that is a really old version of Mint. You should strongly consider upgrading your os version.

[2017-06-15 21:13] phoerious commented on #90
We kind of support that already. When an opened file was changed externally, KeePassXC automatically reloads the changes. What we don't have is an explicit check before saving, but auto reload and merge should usually be quick enough.

[2017-06-15 21:26] phoerious commented on #646
What version (and from where) are you trying to install?

Also please don't delete the issue template.

[2017-06-15 21:42] Mukrosz commented on #646
Thanks for your response! My apologies for removing the template.
I am attempting to install version 2.1.4-1 amd 64 from .DEB.
Exact location is: https://github.com/magkopian/keepassxc-debian/releases/download/2.1.4-1/keepassxc_2.1.4-1_amd64_stable.deb

For reference, I also have a Linux Mint 18 which had no issue installing the exact same package.

[2017-06-15 22:41] droidmonkey commented on #646
The simple reason is because Mint 17.3 does not provide the version of qt that we require. You will have to compile the program yourself with your version of qt to use it.

[2017-06-15 22:44] phoerious commented on #646
"We" is not quite right. The DEBs are third-party builds (although listed on our website). I'm not quite sure what version of Qt they were compiled with, but apparently it's something like 5.2 or 5.3. Our AppImage is compiled with 5.8 and should run regardless of what Qt version you have on your system. The alternative would be to compile it yourself.

[2017-06-15 22:49] Mukrosz commented on #646
Thanks for the comments.
I cannot call myself a linux power user so AppImage is alien to me, so I'll have to research it and see if that can be used on Linux Mint. Either that or compile QT like you guys outlined.

Thank you for pointing me in the right direction.

[2017-06-16 01:20] junderw commented on #469
In general I will make, example, a folder called "GPG" etc. for GPG passwords let's say. Then the folder icon will be, obviously, the key.

Since I will only place key related entries in my GPG folder, it makes sense to have this default...

But I guess it comes down to "Will people who even bother to use folders: A: use them in logical hierarchies to collect similar entries (which will most likel

[2017-06-16 13:37] tohn commented on #90
Thanks, but that's not what I meant. Let me describe it better:

We have several central databases on a fileshare, and each user has copies of these databases in their homes.
Now I change something in my local copy and save my file, but I also want to include my change to the central database. But in the meantime someone else also changed something (different) in their local copy but synced alread

[2017-06-16 15:35] tohn commented on #637
Thanks @Talkarcabbage, this is what I meant with my comment [here](https://github.com/keepassxreboot/keepassxc/issues/90#issuecomment-309028224). 👍

[2017-06-16 17:25] CPWeaver opened #648 "Missing SettingsWidget qt header on develop branch"
Hi,
   Just an FYI, I ran into an issue compiling from source on Debian. I can build the `2.1.4` tag just fine but `develop` branch gives me the following:

[code]

Looks like the auto uic is missing that file for some reason? This is probably obvious to someone who's used to working in this tool chain but I'm not familiar.

## Expected Behavior
keepassxc should compile ok

## Your Environment
* K

[2017-06-16 18:24] phoerious commented on #648
Maybe a regression due to https://github.com/keepassxreboot/keepassxc/pull/549 ? @droidmonkey

[2017-06-16 18:25] phoerious commented on #646
AppImages should run on almost any GNU/Linux system. Just download it, make it executable and then start it. No installation required.

[2017-06-16 18:27] phoerious commented on #90
I'm not sure if this isn't a little out-of-scope. On the other hand, KeePass does support something like that apparently.

[2017-06-16 20:07] sainaen commented on #648
I'm not very familiar with the cmake either, but I just tried building the same commit on Debian Testing/Sid and it completed without any errors.

Because I use Sid (unstable), my versions are is slightly more recent:
* Qt 5.7.1
* cmake 3.7.2
* uname: `Linux 4.9.0-3-amd64 #1 SMP Debian 4.9.30-1 (2017-06-04) x86_64 GNU/Linux`

I don't think the newer kernel or Qt itself have anything to do with thi

[2017-06-16 20:40] phoerious commented on #648
Quite possible. With the PR I referenced above we got rid of explicit CMake macros for compiling UI files in favor of AUTOUIC.

[2017-06-16 20:45] CPWeaver commented on #648
FWIW it seems to auto generate every other ui_name header file just fine... it's that particular one that is getting missed.

[2017-06-16 22:05] droidmonkey commented on #648
You need to clear out your build folders between 2.1.4 and develop. We are using the new cmake ui finder on develop.

[2017-06-16 22:06] CPWeaver commented on #648
I had this problem on a clean build.

On Fri, Jun 16, 2017 at 4:05 PM Jonathan White <notifications@github.com>
wrote:

[2017-06-17 09:41] phoerious commented on #648
Could you try a newer CMake version?

[2017-06-17 11:15] droidmonkey commented on #648
cmake 3.0.2 is documented to support the AUTOUIC feature. @CPWeaver can you please check in the build/src folder to see if there are ui_SettingsWidgetGeneral.h and ui_SettingsWidgetSecurity.h files?

[2017-06-17 14:13] sainaen commented on #648
@droidmonkey
That's true, but I found [this bug](https://cmake.org/Bug/view.php?id=14981) filed against 3.0.2 and fixed in 3.1:

I repeated the @CPWeaver's steps on Debain Jessie machine and got the same error.
Here's a part of the output that lists generated ui_*.h files (I checked, only those files actually present in build directory):
[code]
Here we can see that only the last import is consider

[2017-06-17 18:28] CPWeaver commented on #648
I'd be willing to bet 3.0.2 is the issue. I will report back Monday morning.

[2017-06-17 19:59] droidmonkey commented on #648
geez its like no one ever tests these things 😜

[2017-06-17 20:37] sainaen opened #649 "keepassxc-cli doesn't handle --help and --version options correctly"
It's of course less problematic for the `--help`, because help message will be displayed when a command is not recognized anyway.

There's also an issue with the app name in the help message: because `argv` and `argc` are [modified](https://github.com/keepassxreboot/keepassxc/blob/a53b111182a427824dcd7721bbecbe43b7bb676f/src/cli/keepassxc-cli.cpp#L81) before `commandName` is [checked](https://gith

[2017-06-18 05:54] sainaen commented on #649
Also discovered that even if invalid command provided, exit code is still 0, because it is set by `parser.showHelp()` (it has `exitCode` arg with default value 0, [docs](http://doc.qt.io/qt-5/qcommandlineparser.html#showHelp)) and not by return from the `main()`:
[code]

Should I create a separate issue? It seems almost too trivial.

[2017-06-18 14:37] louib commented on #649
@sainaen no need for a seperate issue, I'll fix it in the same PR. Thanks for the bug report btw!

[2017-06-19 00:30] jab416171 commented on #129
@Thynix it looks like it's just a matter of updating that one line of that one test. I can take care of that and submit a pull request against this repository with the same diff as keepassx/keepassx#192 if that's all it takes?

[2017-06-19 00:52] Thynix commented on #129
@jab416171 I'm hardly in a position of authority here but that sounds good to me.

[2017-06-19 00:53] jab416171 commented on #129
Oh right, maybe I should be asking @TheZ3ro and @droidmonkey.

[2017-06-19 15:09] #649 closed

[2017-06-19 18:53] CPWeaver commented on #648
Here is what was generated with cmake 3.0.2:
[code]

I pulled cmake 3.6.2 from jessie-backports and it generated properly.
[code]

So it seems the deps list on the wiki should specify cmake >= 3.1, plus
`sudo apt-get -t jessie-backports install cmake` in the Linux guide.

I don't think I can PR the wiki (?) but I will say thank you for the help!!

[2017-06-19 23:50] droidmonkey commented on #648
I will change it right now!

[2017-06-19 23:50] #648 closed

[2017-06-20 00:51] droidmonkey commented on #129
My thoughts on this were to wait until we redo the whole display of entries. I want it to be more extensible and less hard coded then it currently​ is.

[2017-06-20 06:16] magicgoose opened #653 "shuffling password chars is pointless, they are already random at that point, right?"
https://github.com/keepassxreboot/keepassxc/blob/develop/src/core/PasswordGenerator.cpp#L79

[2017-06-20 06:17] magicgoose commented on #653
oops

[2017-06-20 06:17] #653 closed

[2017-06-20 14:53] mbrockman1 commented on #591
I have this error too. Is there any way to allow for a one-time association?

[2017-06-21 11:23] #625 closed

[2017-06-21 16:24] erpalma commented on #512
Same here on Gentoo with KeePassXC@master, Qt 5.7.1

[2017-06-21 16:27] TheZ3ro commented on #512
@erpalma can you try with the `develop` branch?

[2017-06-21 19:39] rhetr opened #657 "keepassxc snap fails to run on ubuntu 16.04.2"
I tried installing keepassxc via `sudo snap install keepassxc` and running it but I get this error:
[code]
from `journalctl -f`:
[code]

Following https://github.com/keepassxreboot/keepassxc/issues/581 i rebooted my computer but that didn't help. I also tried running `sudo keepassxc` to no avail.

## Steps to Reproduce (for bugs)
1. `sudo snap install keepassxc` on ubuntu 16.04.2
2. run `keepassxc

[2017-06-21 20:29] droidmonkey commented on #657
Do any other snaps work for you? Have you tried loading it directly from the Ubuntu Store?

[2017-06-21 20:34] TheZ3ro commented on #184
Postponing for next release

[2017-06-21 21:24] #376 closed

[2017-06-21 21:24] droidmonkey commented on #296
Closed in #654

[2017-06-21 21:24] #296 closed

[2017-06-21 21:24] #231 closed

[2017-06-21 21:24] #509 closed

[2017-06-22 00:12] rhetr commented on #657
good point, i had at some point in the past moved `/var/lib/lxd` to another drive and symlinked it. I moved it back and it works now.

[2017-06-22 00:12] #657 closed

[2017-06-22 06:44] anlutro commented on #457
Is this something I can help with?

[2017-06-22 10:24] droidmonkey commented on #457
Perhaps, but please wait for v2.2.0 coming out this weekend. This may be fixed.

[2017-06-23 19:01] droidmonkey commented on #450
Come to find out, much to my chagrin, this is the version reported by gcrypt.h in Ubuntu 16.10.

Even though the package lists the version as 1.7.2, gcrypt.h indicates it is 1.7.2-beta. I have filed a bug report with the ubuntu team.

https://bugs.launchpad.net/ubuntu/+source/libgcrypt20/+bug/1700157

[2017-06-23 19:01] #450 closed

[2017-06-23 19:40] droidmonkey commented on #450
Ugh, 17.04 suffers from the "same" issue... gcrypt.h is reporting the version as 1.7.6-beta

[2017-06-24 00:24] GUiHKX commented on #638
Do you think this will be included in the v2.2.0 release? Thank you.

[2017-06-24 09:20] TheZ3ro commented on #638
@GUiHKX no, probably I will add this in v2.2.1

[2017-06-24 15:10] droidmonkey opened #660 "Fix font size differences in about dialog between Mac/Linux/Win"
## Expected Behavior

Font sizes should be uniform across platforms. The issue arises due to the default font and font size being different on each platform. Any hardcoded font sizes will naturally conflict with this default.

Originated in #629.

## Current Behavior

Font sizes in the about dialog are different on every platform.

## Possible Solution

* Setup a style sheet for each platform that

[2017-06-24 15:58] robskr commented on #626
Good practice is to never have to type your own password into password manager. Such passwords are more likely to be weak. Ofc there are situations you have to type them manually, so there should (and is) a way you can type them in.

In terms of additional actions when typing in your own password, there are (practically) none. You either have a pre-generated password highlighted and ready to be ov

[2017-06-25 02:30] josefson opened #661 "Top menu try icon on OSX"
KeepassXC 2.1.4 on OSX 10.12
It would be nicer if we could close keepassxc sending it to the try icon, not to spend a cmd+tab space.

[2017-06-25 08:18] bittremieux opened #662 "Autotype doesn't work when the database is locked on Mac OS X"
Autotype works as expected when the database is unlocked. However, when the database is locked _nothing_ happens when pressing the autotype hotkey. No unlock dialog nor error message is shown.

I am on Mac OS X El Capitan with KeePassXC 2.1.4.

Although several issues concerning autotype when the database is locked have recently been fixed (#10, #89) autotype doesn't seem to work as expected on Ma

[2017-06-25 12:49] droidmonkey commented on #626
If anything there should be a button next to the shade that drops down the password generator to just make one. Ie, make and fill in a password without showing the generator.

Its still completely unnecessary imo. And there are often times my entries don't even contain passwords.

[2017-06-25 12:50] droidmonkey commented on #661
Already fixed in 2.2.0

[2017-06-25 12:50] #661 closed

[2017-06-25 17:40] #662 closed

[2017-06-25 18:54] bittremieux commented on #662
Awesome, thank you!

[2017-06-25 22:33] droidmonkey commented on #641
This works in the 2.2.0 snap I just uploaded. The only shortcut that does not work is CTRL+U due to a dbus failure. Currently trying to resolve that in #418

[2017-06-25 22:33] #641 closed

[2017-06-25 22:33] droidmonkey commented on #506
Currently working in 2.2.0 snap.

[2017-06-25 22:33] #506 closed

[2017-06-25 22:34] droidmonkey commented on #451
Currently working in 2.2.0 snap.

[2017-06-25 22:34] #451 closed

[2017-06-25 22:34] #507 closed

[2017-06-25 22:35] droidmonkey commented on #392
Working in 2.2.0 snap release.

[2017-06-25 22:35] #392 closed

[2017-06-25 22:35] droidmonkey commented on #512
Please try to reproduce in the 2.2.0 release.

[2017-06-25 22:36] droidmonkey commented on #592
duplicate of #418

[2017-06-25 22:36] #592 closed

[2017-06-25 22:37] droidmonkey commented on #467
See if this is still an issue in the 2.2.0 release. I fixed the missing tray icon in the snap release.

[2017-06-26 04:20] initbar opened #665 "segmentation fault when merging without existing database (GUI)"
## Expected Behavior

Not merge when there is no opened database or handle segfault.

## Current Behavior

![log](https://user-images.githubusercontent.com/12630151/27524634-c7d05674-5a04-11e7-9d3d-c153b4369859.png)

## Steps to Reproduce (for bugs)
1. Start keepassxc
2. Click "Database" -> "Merge from KeePassX database"
3. Open existing keepass database.

## Environment
* **Linux** - `Linux xinu

[2017-06-26 06:49] finsterwalder commented on #626
It may well be, that you think it's unnecessary, but others would love that feature.

And since I want it to be an option, it would not change the current behaviour in any way, so it would stay the same for you.

[2017-06-26 07:49] wjt opened #666 "AppImage doesn't run on Fedora 25; version `Qt_5.9' not found"
## Expected Behaviour

[code]

## Current Behaviour

[code]

Perhaps it is using my system Qt rather than the bundled one?

## Steps to Reproduce (for bugs)

1. Use a Fedora 25 system
2. [Download official AppImage](https://keepassxc.org/download)
3. `chmod +x ./Downloads/KeePassXC-2.2.0-x86_64.AppImage`
4. `./Downloads/KeePassXC-2.2.0-x86_64.AppImage`

## Context

Although KeepAssXC is packaged f

[2017-06-26 08:29] phoerious commented on #666
I can confirm the problem. Will try to fix it asap. Not sure why Qt 5.9 isn't part of the AppImage. Probably some build script bug.

[2017-06-26 09:10] phoerious commented on #665
Please try again with KeePassXC 2.2.0 and report back if the problem still exists there.

[2017-06-26 09:14] phoerious commented on #666
The problem is an outdated path in the AppImage startup script. In the meantime, you can run it like is as a workaround:

[code]

[2017-06-26 09:20] wjt commented on #666
Yep, `LD_LIBRARY_PATH="../opt/qt59/lib" ./Downloads/KeePassXC-2.2.0-x86_64.AppImage` works

[2017-06-26 09:36] kronos29296 commented on #666
I have the same problem in Ubuntu 17.04. Hope it gets fixed soon.

[2017-06-26 10:06] SRGOM commented on #627
I don't see this option in my 2.2.0 release. Where should I be looking? settings doesn't have it. And everytime i start a new instance starts.

[2017-06-26 10:24] phoerious commented on #627
Should work out of the box. Which operating system are you using?

[2017-06-26 10:25] plusky opened #667 "Test (testcsvparser) fails on openSUSE Tumbleweed"
Test fail when building keepassxc 2.2.0 on openSUSE Tumbleweed:
[code]

[2017-06-26 10:26] phoerious commented on #667
Are you building a 32 or 64 bit binary?

[2017-06-26 10:29] paranoidi opened #668 "Commandline functionality missing (snap)"
Installed 2.2.0 snap in ubuntu 16.04. Tried to find commandline documentation without success. Used command:

[code]

which was very confusing, why is it connecting to something and failing without clear explanation.

In IRC someone said to use ```keepassxc-cli``` but no such command is packaged in the snap?

## Expected Behavior

Please provide CLI documentation. Expected CLI to work.

## Current

[2017-06-26 10:30] phoerious commented on #668
The single-binary distributions (i.e. Snap and AppImage) don't expose their CLI interface at the moment. You can, however, unpack the AppImage and use the cli tool from there.

[2017-06-26 10:35] kronos29296 opened #669 "Snap does not open db in a dot folder"
I installed the snap for keepassxc since the appimage has a launch bug. The snap opens but does not launch my db which is in a dot folder of my home directory. I tried putting in another folder and it opens just fine. When I use Keepass 2.35 it opens the db without a problem from the same folder.

## Expected Behavior
Keepassxc should open the kdbx db regardless of the location. When i used the pr

[2017-06-26 10:39] plusky commented on #667
64 bit one

[2017-06-26 10:40] phoerious commented on #669
I am pretty sure there is more to it and this is not a bug in KeePassXC directly. There is no reason why opening files from dot folders shouldn't work (and I also just tested it and it does work). Do you have all the needed permissions for accessing the folder? Is the folder on an external drive? Did you enter the name correctly (you can use right click->show hidden files in the open dialog).

[2017-06-26 10:42] phoerious commented on #667
What is your language setting?

[2017-06-26 10:48] kronos29296 commented on #669
It somehow opens with normal keepass and works fine. It even worked with the appimage of previous version. I tried to create a new db in the same folder but It also doesn't work. Don't know why.

[2017-06-26 10:49] phoerious commented on #669
Can you check the permissions of the file and folder and please also answer the other questions above?

[2017-06-26 10:49] TheZ3ro commented on #669
Yes, probably it's a snap bug

[2017-06-26 10:50] plusky commented on #667
In build environment defaults should be C, but enforcing en_US.UTF-8 seems to fix the problem

[2017-06-26 10:51] phoerious commented on #667
That's what I suspected from the output. Will need to have a look at it later.

[2017-06-26 10:52] phoerious commented on #669
Maybe, but hard to tell without more information. I can't reproduce the problem.

[2017-06-26 11:01] kronos29296 commented on #669
I created a new folder named .kthings and tried to create a new database but the problem persists. I don't have any other snaps installed so I don't know where the problem lies.
The problem doesn't happen if the parent directory is in a normal directory like Downloads or Desktop. This happens only if the parent folder (.kthings) is directly in the Home directory. Hope this helps.

[2017-06-26 11:08] kronos29296 commented on #669
I tried to open with the Appimage and it opens perfectly (used the workaround for qt5.9). So most probably a problem with the snap itself or snap (the thing not keepassxc)

[2017-06-26 11:13] magkopian commented on #667
@plusky I had the same issue while trying to build my package for the new release of KeePassXC. The issue is caused by some tests related to the CSV parser that require UTF-8 support in order to work properly.

Personally, I forced `LC_ALL` to `C.UTF-8` instead of `C` and it fixed the problem. I tried `en_US.UTF-8` at first, but I was getting errors from Perl. While this works, I feel that this is

[2017-06-26 11:40] pietermj opened #670 "Opening a group tree marks the database as modified"
On windows 7x64, simply opening or closing a group tree marks the db as modified.

KeePassXC version 2.2.0, revision caa49a8ef3ee28ed478192389b21d61107b3b8e0.

The same bug already existed in keepassx 2.0.2, revision 3679b2170142c14362fa75e990ef85b80b1b1b46.

![keepassxcmodified](https://user-images.githubusercontent.com/24895360/27537639-05ce83a4-5a75-11e7-8c8f-76e276495199.gif)

[2017-06-26 11:42] phoerious commented on #670
KeePassXC 2.2.0 has a new option to turn off this behavior. You may want to check that out.

[2017-06-26 11:42] #670 closed

[2017-06-26 12:04] SRGOM commented on #627
Arch, native package (not snap or appimage).

[2017-06-26 12:39] SRGOM commented on #627
Just to make sure we're talking about the same thing:

/bin/keepassx &
/bin/keepassx &

show me two keepass instances in the tray without any action.

[2017-06-26 12:41] SRGOM commented on #627
Weird, the appimage works fine, allowing only single instance. Also there is an alt-key for the databases menu. I'm thinking the Arch package is the problem

[2017-06-26 12:57] TheZ3ro commented on #627
Are you using keepassxc or keepassx?

[2017-06-26 13:07] vickrum commented on #669
Same issue here. It does appear to be a snap issue. The `:home` interface doesn't allow access to hidden directories: https://snapcraft.io/docs/reference/interfaces. It's being discussed in the snap bug tracker: https://bugs.launchpad.net/snappy/+bug/1607067.

If support is eventually added to snap, it'd be great to see this functionality added to keepassxc too (assuming it'd require changes on th

[2017-06-26 13:08] DragoonAethis commented on #669
Snap [sandboxes apps](https://docs.ubuntu.com/core/en/guides/intro/security) and [limits app access to hidden directories in your home directory by default](https://github.com/snapcore/snapd/wiki/Interfaces).

[2017-06-26 13:24] kronos29296 commented on #669
Thanks for the clarification.

[2017-06-26 13:24] #669 closed

[2017-06-26 13:52] wowotiel commented on #506
I have upgraded form Ubuntu 14.04 LTS to Ubuntu 16.04 LTS.
With version 2.2.0 I have tested ctrl+V =autotype and it is now working fine.
Thanks!

[2017-06-26 13:58] wowotiel commented on #507
I have upgraded form Ubuntu 14.04 LTS to Ubuntu 16.04 LTS.
With version 2.2.0 I have tested ctrl+U = open URL.
This function does strangely enough **not** work for me in Ubuntu 16.04 LTS (unlike ctrl+V).

[2017-06-26 14:03] SRGOM commented on #627
My bad, I mistyped the program name above.
My (another) bad, I checked that Arch repository was updated with the latest version, did a `pacman --sync --refresh --sysupgrade` realizing only now that keepassxc is still old. Sorry!

[2017-06-26 14:20] SRGOM commented on #627
Either I'm dumb or flattr doesn't accept new logins.

[2017-06-26 14:26] phoerious commented on #627
With Flattr I can't help, sorry. Your other problem, is it solved then?

[2017-06-26 14:31] SRGOM commented on #627
Yes, it's solved now, thank you and sorry for the bother. You guys might want to add a bitcoin addr in the meanwhile.

[2017-06-26 14:48] JosefVohnout opened #671 "Sort by"
Hi, Is possible to add a ability to sort entries by "Creation Time" and "Last Modification Time" like in KeePass2?

[2017-06-26 14:59] erpalma commented on #512
Ok found the problem: when "lock database after minimizing" is active, if I copy username/password to the clipboard the main window is minimized and locked (probably) before the copy operation.

[2017-06-26 15:01] phoerious commented on #666
I updated the AppImage. Can you please test it and report back?

[2017-06-26 15:28] kronos29296 commented on #666
Works fine now

[2017-06-26 15:43] phoerious commented on #666
Great!

[2017-06-26 15:43] #666 closed

[2017-06-26 15:46] FranciscoG opened #673 "gpg"
https://keepassxc.org/verifying-signatures

gpg --fetch-keys https://keepassxc.org/keepassxc_master_signing_key.asc

gpg --verify KeePassXC-2.2.0.dmg.sig
gpg --verify KeePassXC-$VERSION-x86_64.AppImage.sig
[code]

shasum -a 256 -c KeePassXC-2.2.0.dmg.DIGEST
KeePassXC-2.2.0.dmg: OK

[2017-06-26 15:48] kentala commented on #240
I would prefer this: if no schema is set in url, the app should attempt to download via https and if that fails via http.

[2017-06-26 15:48] phoerious commented on #673
The signature is fine ("Good signature"). Just just haven't trusted our public key.

I suppose we need to update our website with clearer instructions. You are not the first one to ask this one.

[2017-06-26 15:48] #673 closed

[2017-06-26 15:53] FranciscoG opened #674 "gpg "warning""
I'm sure this is nothing but I just wanted to ask either way because I'm not very familiar with checking downloads via gpg.  When I checked the DMG via gpg I saw this warning in the results.  Is this something that I need to be concerned about?  thanks!

**gpg: WARNING: This key is not certified with a trusted signature!
gpg:          There is no indication that the signature belongs to the owner.

[2017-06-26 15:54] FranciscoG commented on #674
ooops this got posted twice for some reason

[2017-06-26 15:54] #674 closed

[2017-06-26 15:54] phoerious commented on #674
Well, thanks for reformulating your question with more words, but no need. :-) -> 673

[2017-06-26 15:58] FranciscoG commented on #673
sorry this got accidentally posted for some reason before I could finish writing (hit a wrong key).  my full issue was posted [https://github.com/keepassxreboot/keepassxc/issues/674](here) but either way you answered my question.  thanks!

[2017-06-26 16:00] phoerious commented on #673
Just make sure the fingerprint is correct and it says "good signature". If you [trust our master key](https://www.gnupg.org/gph/en/manual/x334.html), the warnings will go away, but really important are only those two things: finger print and signature validity.

[2017-06-26 16:03] sts10 commented on #673
FYI the [Qubes OS page on verifying signatures](https://www.qubes-os.org/security/verifying-signatures/) (which KeePassXC's [verifying signatures how-to](https://keepassxc.org/verifying-signatures) already has a link to) discusses the key trust aspect of the process decently well.

[2017-06-26 16:05] droidmonkey commented on #512
Seems like a bug. Can you open a new ticket with this issue please.

[2017-06-26 16:05] #512 closed

[2017-06-26 16:15] TheZ3ro commented on #240
@kentala I like your idea but the fact is that the input isn't always an URL so the flow should be:

  1.Try HTTPS
  2. if HTTPS fail, try HTTP
  3. if HTTP fail report error

[2017-06-26 16:16] TheZ3ro commented on #671
Duplicate of #17

[2017-06-26 16:16] #671 closed

[2017-06-26 16:17] phoerious commented on #671
Not exactly. I believe the other one is about the grid, this one is about groups.

[2017-06-26 16:17] sowbug opened #675 "Option to display data as QR code"
Sometimes it's useful to transfer secrets via QR code, and it would be nice if KeePassXC offered that feature. It could be another button icon next to the eye icon that shows a passphrase.

Use cases
- transferring a strong passphrase to a mobile phone (hard to type because it's mobile and because the passphrase is strong).
- transferring information from an offline instance of the application, wh

[2017-06-26 16:18] phoerious commented on #675
That would require a safe scanner app on the phone, though, i.e., one that doesn't store the plaintext password in its history.

[2017-06-26 16:20] sowbug opened #676 "Generate and validate BIP39-compatible seeds"
https://github.com/bitcoin/bips/blob/master/bip-0039.mediawiki

These are like Diceware, but a little less dense (11 bits per word rather than ~13), and they have a checksum so it's easy to validate them. This is a Bitcoin thing, but they're generally useful as long memorable passphrases.

[2017-06-26 16:22] sowbug opened #677 "Integrate into Tails"
It would be really nice if this app were part of the Tails live Linux distro. They migrated to the KeePassX 2 database in 3.0, so it'd be compatible.

[2017-06-26 16:24] phoerious commented on #677
Hey, thanks for your suggestion. Please don't delete the issue template next time.

For Tails, we unfortunately missed the release train, so 3.0 keeps shipping KeePassX. But in the end it's not our decision anyway. Thus I think you should rather post a bug report with Tails instead of here.

[2017-06-26 16:24] #677 closed

[2017-06-26 16:27] sowbug commented on #675
Yes, that's right. The way I look at it, the more you facilitate using very strong passphrases, the more people will be willing to use strong passphrases. And the easier you make it to export specific passphrases to not-necessarily-safe environments such as a mobile phone, the more likely you are to be willing to adopt an overall safer passphrase store, such as an offline and/or completely trusted

[2017-06-26 16:27] sowbug commented on #677
Okey dokey, thanks.

[2017-06-26 16:30] phoerious commented on #675
I feel your pain. It gets especially hard when your password contains non-ASCII characters. We just need to make sure, users don't shoot themselves in the foot with this.

[2017-06-26 16:31] TheZ3ro commented on #677
They are releasing 3.1 in August, maybe we can beg them to integrate KeePassXC

[2017-06-26 16:31] TheZ3ro commented on #675
It has been already discussed here #96

[2017-06-26 16:48] gaia commented on #99
May I chime in, and I will open a new issue if necessary? I would like to raise it from the tray/taskbar using CTRL-ALT-K, same as I do with KeepassX on Windows (Integration>Show KeePass Window).

[2017-06-26 17:04] yeeeargh opened #678 "No favicon download for HTTPS websites"
## Expected Behavior
After clicking "Download favicon" the icon gets downloaded and selected for the entry.

## Current Behavior
If there's a HTTP URL in the URL field the icon downloads as expected. If the URL uses HTTPS the following error message occurs: "Unable to fetch favicon"

## Steps to Reproduce (for bugs)

1. Create a new entry with a HTTP URL which doesn't redirect to HTTPS, e.g. http:

[2017-06-26 17:06] TheZ3ro commented on #678
Strictly related to #240

[2017-06-26 17:07] magkopian commented on #678
Just wanted to say that I'm currently on Debian Stable running KeePassXC version 2.2.0 and I can't reproduce, works fine for me.

[2017-06-26 17:21] yeeeargh commented on #678
I could reproduce it on a different pc with x64. After that I tried the x86 version and on that version I couldn't reproduce it.

## Environment 1: Issue occurs
* KeePassXC - Version 2.2.0 / Revision: caa49a8ef3ee28ed478192389b21d61107b3b8e0 / x64 installed
* Qt 5.9.0
* Operating System and version: Windows 10 x64 (10.0.15063)

## Environment 2: Issue occurs
* KeePassXC - Version 2.2.0 / Revision:

[2017-06-26 17:26] e2jk commented on #507
I confirm Ctrl + U doesn't work yet with version 2.2.0 on my Ubuntu 16.04. Running from the command line, the following is shown in the terminal at the moment the shortcut is called:
```dbus-send: /snap/keepassxc/23/lib/x86_64-linux-gnu/libdbus-1.so.3: version `LIBDBUS_PRIVATE_1.10.6' not found (required by dbus-send)```
(same as what @ribbons mentioned in his post above, just updated for the newe

[2017-06-26 17:32] TheZ3ro commented on #678
Maybe this is Windows-only?

[2017-06-26 17:43] yeeeargh commented on #678
Note that I tested the portable 32 bit version for Windows where the bug didn't occur. It only occurred with a installed or portable 64 bit version.
I can't test it on a Linux or OSX machine, so I don't know if there's a problem with x64 in general or just x64 on Windows

[2017-06-26 17:54] lopopolo opened #679 "HTML Entities are double encoded in entry detail view"
## Expected Behavior

Display text with ampersands as eg, `AT&T`

## Current Behavior

Display text with ampersands as `AT&amp;T`
<img width="258" alt="screen shot 2017-06-26 at 10 50 57 am" src="https://user-images.githubusercontent.com/860434/27552794-875dde28-5a5d-11e7-8cdf-88c917d71165.png">

## Possible Solution

## Steps to Reproduce (for bugs)

1. Create password entry
2. Insert a name with

[2017-06-26 17:57] prometheanfire commented on #259
passifox/keepasshttp don't seem to support deeper url syntax / matching, making it hard to support subdomains or subfolders / realms.  Since keefox does support that I think moving in the rpc support direction would be better.

[2017-06-26 18:08] lopopolo commented on #679
or perhaps the strings aren't being **decoded** when deserialized from the XML?

[2017-06-26 18:46] fadorator commented on #275
👍

That is exactly what I was looking for since KeePassX 1.x, which did it "right". Version 2.x introduced this new behaviour.

I use a shared database file, which lives in a Seafile folder. My colleague and I always have the problem, that one of us forgets to close KeePass, maybe even before holidays.

I'm really looking forward to a solution to this.

[2017-06-26 18:59] sjaakvandenberg opened #680 "[Feature Request] Hotkey Search"
## Expected Behavior
Being able to search entry with hidden toolbar

The KeePassX interface has the ability to search with a hotkey (CTRL+F). Also, this could be done without having the menu bar visible, hitting the hotkey just pulls up the input field.

## Current Behavior
Right now, I have to have the toolbar visible and activate the search field manually in order to use it in KeePassXC.

Screen

[2017-06-26 19:22] phoerious commented on #679
I think it's rather an issue with Qt's wird "guessing" of whether to display a label as HTML or not. We explicitly escape that string because otherwise HTML tags are parsed. I suppose we need to explicitly set the text format of that label.

[2017-06-26 19:22] adatum commented on #450
I'm trying to install v2.2.0 (never have I been so impatiently excited for a package release!) from https://github.com/magkopian/keepassxc-debian/releases/tag/2.2.0-1 on Ubuntu 16.04 32-bit, and I get

ii  libgcrypt11:i386                                            1.5.3-2ubuntu4.4                                      i386         LGPL Crypto library - runtime library
ii  libgcrypt11-dev

[2017-06-26 19:37] O-Gopal commented on #621
Yes, please. For me the small font is a deal-breaker.
KeepPassXC 2.2.0. Ubuntu 16.04.

[2017-06-26 21:08] guzzard commented on #590
@droidmonkey this has started working again at some point so I'm closing this issue.

[2017-06-26 21:24] TheZ3ro commented on #621
@O-Gopal can you post a screenshot?

[2017-06-26 21:29] TheZ3ro commented on #680
I've edited the post so now it's clear.

[2017-06-26 21:37] TheZ3ro opened #681 "Improve CLI program"
Listing here as a reminder some things that need to be improved in the cli program:

- [x] loading keyfile from command line argument
- [x] listing all the info about an entry (not only the password)
- [x] adding a linux *man page*
- [x] add entry manipulation commands (add, rm, edit, etc)
- [x] add clipboard clearing functionality.
- [x] add locate command

[2017-06-26 21:39] magkopian commented on #681
Regarding the man page, I have already put the effort to write one for my package. You can find it [here](https://github.com/magkopian/keepassxc-debian/blob/master/keepassxc-2.2.0/debian/keepassxc-cli.1).

[2017-06-26 21:48] t4777sd opened #682 "Does not work with firejail (Keepassx does work)"
Running keepass installed via snap does not work with firejail. Here is the results:

firejail --noprofile /snap/bin/keepassxc
Parent pid 8990, child pid 8991
Child process initialized in 39.31 ms
cannot bind-mount the mount namespace file /proc/2/ns/mnt -> keepassxc.mnt: Permission denied
support process for mount namespace capture exited abnormally

## Expected Behavior
Software runs

## Current

[2017-06-26 21:51] phoerious commented on #682
I don't think this is a KeePassXC problem. You are trying to sandbox Snap which needs to do some background magic such as mounting loop devices. I don't think that works like you want it to. Besides, I don't see why you would want to sandbox our Snap package with Firejail in the first place when the Snap daemon itself already provides a sandbox around KeePassXC.

[2017-06-26 22:14] TheZ3ro commented on #681
Wow! Great work @magkopian

[2017-06-26 22:17] glubsy opened #683 "[Linux] tray icon not showing / infinite loop leads to crash"
The system tray icon is missing. I'm running i3 window manager on Antergos / Arch Linux.

When I enable the feature in the "settings", I get an error message in stdout in an infinite loop, which causes keepassxc to hang until I kill it.:
`QSystemTrayIcon::setVisible: No Icon set`

Using the 2.2.0 Appimage works fine and shows the icon in tray and doesn't produce this error.

Seems to be a missing

[2017-06-26 22:23] phoerious commented on #683
Could you try unsetting XDG_DATA_DIRS in a terminal and run it again?

[2017-06-26 22:32] t4777sd commented on #682
This is the first snap application I have installed, but looking at the snap.yaml it appears that keepassxc is requesting network access. As you can imagine, that is a pretty big security flaw in a password application, so firejail is necessary to ensure things like this get denied.

[2017-06-26 22:36] phoerious commented on #682
It's not a flaw, but if you don't like it, you can disconnect the network and network-bind plugs eliminating the need for another sandbox wrapper.

[2017-06-26 22:36] #682 closed

[2017-06-26 22:37] glubsy commented on #683
XDG_DATA_DIRS not existing, still happening.
Tried fiddling with the bundled libs in the Appimage trying to LD_PRELOAD them but it doesn't seem to work (or I'm doing it wrong).

[2017-06-26 22:39] t4777sd commented on #682
Why is a password app needing network connection in the first place?

[2017-06-26 22:39] phoerious commented on #683
I'm not sure what the problem is, but I suspect some unfortunate interaction between how the package was built and how it is used on your system. I doubt it's something we can fix upstream.

[2017-06-26 22:40] phoerious commented on #682
We need the network plug for fetching favicons and the network-bind plug for providing an KeePassHTTP interface.

[2017-06-26 22:41] glubsy commented on #683
I have changed this variable:
QT_QPA_PLATFORMTHEME=kde
to this
QT_QPA_PLATFORMTHEME=qt5ct

The theme changed, and the icon displays fine. So it's something to do with the icon missing from the theme that's applied somehow? Not ideal...

[2017-06-26 22:43] phoerious commented on #683
I doubt it's the icon missing (it's not in the theme anyway). I suppose it's rather some interaction bug with the platform theme engine.

[2017-06-26 22:59] glubsy commented on #683
Thanks anyway. I've always had trouble with theming Qt programs the right way.

This is with the QT_QPA_PLATFORMTHEME unset or set to "qt5ct":
![](http://i.imgur.com/1kIxrzd.png)

This is with the QT_QPA_PLATFORMTHEME=kde
![](http://i.imgur.com/HaxoxjG.png)

Too bad the icon tray makes it crash.

[2017-06-26 23:10] phoerious commented on #683
Okay, so your theme does have a custom icon. Can you try using a different icon theme?

[2017-06-26 23:12] droidmonkey commented on #682
We also use network to establish single instance. And like phoerious said you can simply "unplug" the network plugs using "snap interface" method.

[2017-06-26 23:15] droidmonkey commented on #681
Also investigate use of cli from snap and appimage. It might just be easiest to deploy a separate snap entirely.

[2017-06-26 23:15] droidmonkey commented on #680
I believe this is a duplicate

[2017-06-26 23:16] phoerious commented on #681
I was rather thinking about a CLI option for the main program which does an exec keepassxc-cli.

[2017-06-26 23:16] droidmonkey commented on #621
There is a qt configuration tool that changes the default font size for all qt apps.

[2017-06-26 23:17] glubsy commented on #683
I've just tried messing around between the KDE Plasma settings (via `systemsettings5`) and qt5ct (changing my theme to "Breeze" now) and now it works. I'm not using the dark theme I was using anymore, but it's not crashing at least.

Haven't changed the icon theme though, it's still Numix.

I was using QtCurve before (I think, it's so messy can't really tell):
![](http://i.imgur.com/X9rkAJL.png)

[2017-06-26 23:21] phoerious commented on #683
So probably a platform bug due to theming inconsistencies. Can I close this then?

[2017-06-26 23:22] #683 closed

[2017-06-26 23:22] glubsy commented on #683
Thanks for your time. Love this project very much (been using Keepass with mono up until recently, I think I'll use keepassxc from now on). :)

[2017-06-26 23:28] glubsy commented on #683
Oh by the way, I think I found what was causing the problem:

in `systemsettings5` -> Colors, I was using a color scheme (Wonton Soup). Applying any one of those color scheme seem to crash. Could be a KDE bug then... not sure.

![](http://i.imgur.com/DW72gU1.png)

`export QT_QPA_PLATFORMTHEME="kde" ; keepassxc` -> will crash.

[2017-06-26 23:29] phoerious commented on #683
If it's related the the color scheme it is most likely a KDE bug.

[2017-06-26 23:35] glubsy commented on #683
On second thought, I think it's a bug caused by the interactions between qt5ct and the messy KDE theming. Some things must be overlapping somewhere.
I think I'll blame KDE. :P

[2017-06-26 23:36] phoerious commented on #683
You should consider filing a report at bugs.kde.org.

[2017-06-27 00:39] weslly commented on #631
@fernando-mc 2.2.0 is out, can you try it now?

[2017-06-27 03:18] adatum commented on #128
Is the 25ms delay configurable on v2.2.0? I liked the behavior on v2.1.4 especially on long passwords that are, say, 128 characters long (thus 3.2 seconds just to enter the password, in addition to the username).

[2017-06-27 05:07] fernando-mc commented on #631
@weslly Updates look great. Unfortunately I verified this issue is persisting in 2.2.0.

It's kind of a weird edge-case so I'd understand if this is not prioritized in terms of development.

[2017-06-27 07:31] chrpinedo opened #685 "[Feature Request] Multilingual diceware"
Be able to choose the language of the generated diceware passphrase.

## Expected Behavior
When the diceware passphare is going to be generated it would be interesting to be able to choose the language to use. Keepassxc could provide world lists for different languages or it could allow loading new word lists for different languages. Perhaps, the first approach (word lists provided by KeepassXC) c

[2017-06-27 07:35] domingo13 opened #686 "Sorting of group list (feature request)"
In the Windows version of KeePass you an sort the group list.

This would be a very nice feature to have included in KeepassXC as well as it makes finding the relevant credentials a lot easier.

[2017-06-27 07:42] Gui13 opened #687 "KeepassXC won't lock when I lock my session - Ubuntu Zesty 17.04 / Gnome 3"
KeepassXC won't lock when I lock my session even though I have enabled it in the options.

## Expected Behavior

I have clicked the option "Lock databases when session is locked" in the Security panel.
KeepassXC is opened an has his database opened.
I lock my session using Super + L in gnome
When I unlock the session, Keepass has locked the database and asks me the unlock password.

## Current Beh

[2017-06-27 07:52] yennor opened #688 "autotype feature uses the wrong keyboard layout"
I already filled that bug against keepassx. But since it still exists in keepassxc 2.2.0 I fill it here again.
I've got more than one keyboard layout installed on my system since I'm not always using the same keyboard, and also depending on the language I write in, I've got to change the layout. When using the autotype feature, it mostly uses the wrong keyboard layout.
That means the autotype feat

[2017-06-27 08:00] magkopian commented on #687
I can confirm that on Debian Stable with Gnome 3.22, the database also doesn't lock together with the session. I made sure that the option `Lock databases when session is locked or lid is closed` is checked, and I also saved the database to make sure. KeePassXC 2.2.0 is installed from the Debian package, so it appears that the issue is related to Gnome 3 and possible the version 3.22 as it is the

[2017-06-27 08:28] sainaen commented on #687
I've just checked the current master (caa49a8) and the [deb package.](https://github.com/magkopian/keepassxc-debian/releases/tag/2.2.0-1) Both work for me on Debian Sid with Gnome 3.22 (actual version of the package is 3.22.3-3.)

I'm not sure how to debug this, but I don't think Gnome itself causes this. Is it possible that some required lib (or particular version) is present on my machine but mi

[2017-06-27 08:47] phoerious commented on #685
You can already use your own word lists. Just put them in share/wordlists.

[2017-06-27 08:47] #685 closed

[2017-06-27 08:48] phoerious commented on #686
Duplicate of #671

[2017-06-27 08:48] #686 closed

[2017-06-27 08:50] phoerious commented on #688
Duplicate of #324

[2017-06-27 08:50] #688 closed

[2017-06-27 08:52] magkopian commented on #687
I have tried this again using a new test database this time, and it work. So the problem seems to appear specifically with older databases, that existed before 2.2.0.

[2017-06-27 08:53] phoerious commented on #687
Can you post the output of `dbus-monitor` to a paste service of your choice?

[2017-06-27 09:04] 4nd3r opened #689 "Option for hiding the groups sidebar"
I'm not using groups and empty sidebar takes up screenspace.
Please add ability to hide sidebar.
Thanks!

[2017-06-27 09:06] Gui13 commented on #687
Here is my proof, mag : https://youtu.be/pAwq7gsl3Qs

I'll post my dbus monitor

[2017-06-27 09:12] Gui13 commented on #687
Dbus-monitor result here:
https://zerobin.net/?03fa2d43758e3424#A2jT/1TFGBG5Q6TZakAbajksUUelXQ+8hJzA38Vcy/s=

I ran it while keepass was unlocked, then locked the screen, then unlocked. I Ctrl+C right away and copied the result in there.

[2017-06-27 09:14] Gui13 commented on #687
I have tried not moving my mouse while locking but it doesn't work on my version.
My database was brand new (imported from CSV directly into a new DB when I installed 2.2.0 yesterday)

[2017-06-27 09:15] magkopian commented on #687
Here is mine as well, when the database [locks](https://pastebin.com/0z5gEZrR) and when it [doesn't lock](https://pastebin.com/MngdKCdB). As I said, I can reliably make it lock if I let my screen go blank after locking the desktop, or prevent it from locking by moving my mouse and not let the screen turn off. I tried it many times and that was always the case.

[2017-06-27 09:22] sainaen commented on #687
Huh. Yep, if I don't allow monitor to turn off, there's neither `ActiveChanged` event from `org.freedesktop.ScreenSaver`, nor `StatusChanged` from `org.gnome.SessionManager` (KeePassXC [listens](https://github.com/keepassxreboot/keepassxc/blob/develop/src/core/ScreenLockListenerDBus.cpp#L30) for them to detect locking.) Same thing in logs from @magkopian.

But both are present in your, @Gui13, log

[2017-06-27 10:17] chrpinedo commented on #685
Should I overwrite the already provided "eff_large.wordlist" file or add an additional file? In case of having multiple files how is the wordlist selected? Thanks,

[2017-06-27 10:58] schiorean opened #691 "Application Menu dissapearing after a while"
## Expected Behavior
At any time when I open app main window and I hover the mouse over the title bar, application menu should appear.

## Current Behavior
Right after the application is started it works. But after a while, if I maximize from tray the menu is not visible anymore when hovering the mouse over the title bar.

## Possible Solution

## Steps to Reproduce (for bugs)
1. Open application

[2017-06-27 11:07] vsvyatski opened #692 "Cloning entry naming inconsistency"
## Expected Behavior
When one clones an entry of a database, the dialog with options is shown. The first option says **Append ' - Copy' to title**. I expect this exact text to be added, e.g. if my record is titled **blah** it should become **blah - Copy**.

## Current Behavior
The text **- Clone** is actually added to a newly created entry. Using the same example from above the newly created entry

[2017-06-27 11:16] phoerious commented on #687
I suppose this is a Gnome bug?

[2017-06-27 11:17] phoerious commented on #685
Just add it next to the existing file. You can choose which list to use from the user interface.

[2017-06-27 11:25] phoerious commented on #691
This issue is caused by a Unity bug and was fixed a long time ago in KeePassXC and also Qt itself. Can anyone confirm this regression?

[2017-06-27 12:27] TheZ3ro commented on #692
Wow! Nobody noticed this since KeePassX.

Edit:

[2017-06-27 12:52] TheZ3ro commented on #682
Or you can compile it yourself without HTTP plugin

[2017-06-27 14:13] mhalano opened #693 "YubiKey doesn't works on Snap version"
I tried to enable and use YubiKey on Snap version but YubiKey doesn't shows on the list of valid devices. I done a comparison with Debian package (same version 2.2.0) and works fine. So I think the problem could be related to Snap access to USB devices.

[2017-06-27 14:19] mhalano commented on #693
I done some research and installed KeePassXC using the '--devmode' option and YubiKey worked fine. So it's a permission problem.

[2017-06-27 14:34] peperunas commented on #590
I am having the exact issue. Did you reboot or something like that?

[2017-06-27 15:00] phoerious commented on #693
@droidmonkey Probably plugs missing

[2017-06-27 15:03] anlutro commented on #457
Upgraded to 2.2.0 and the problem still seems to be the same.

[2017-06-27 15:06] paranoidi commented on #668
@TheZ3ro What's the use for CLI then? Sounds like I need to keep using the perl based commandline tool which is not too great. Please update your site to reflect this limitation/information.

[2017-06-27 15:22] TheZ3ro commented on #668
@paranoidi What do you mean? What should I update? Right now for using the cli you need to compile it manually the call `keepassxc-cli`. Right now it's not distributed in the snap/appimage/dmg (and this is our fault)

[2017-06-27 15:33] louib commented on #668
@paranoidi  The CLI right now is still limited. I'm currently working on a more complete interactive shell, covering most of the commands in the `kpcli` perl script. You can follow [this PR](https://github.com/keepassxreboot/keepassxc/pull/684) for more info.

[2017-06-27 18:25] guzzard commented on #590
@peperunas I think the issue disappeared with the latest update I did.

[2017-05-22 09:31] [ALPM] upgraded keepassxc-git (2.1.3.r245.gc4d6fa8-1 -> 2.1.4.r396.ga75746c7-1)
[2017-06-18 13:51] [ALPM] upgraded keepassxc-git (2.1.4.r396.ga75746c7-1 -> 2.1.4.r428.gf817eaa5-1)

I had the issue with 2.1.4.r396.ga75746c7, however 2.1.3.r245.gc4d6fa8 worked as expected, and 2.1.4.r428.gf817eaa5 also works f

[2017-06-27 18:37] weslly opened #694 "Check for updates"
## Expected Behavior
Check for updates when the application starts and notify the user when there's a new release available to download.

## Possible Solution
Check the [Github API](https://api.github.com/repos/keepassxreboot/keepassxc/releases/latest) for releases and notify the user if there's a new release available.

We can ask the user if he wants to enable this feature on the first run and m

[2017-06-27 19:47] puchrojo opened #695 "open second database from terminal"
You can't open a second database from terminal. Only ober menu open.

## Current Behavior
1. open one database from terminal (or other method)
2. try to open a second database from terminal. You get this message:
"Another instance of KeePassXC is already running."
The program are now on foreground, but not asking for the password.

## Expected Behavior
2.  try to open a second database and the Pro

[2017-06-27 21:10] droidmonkey commented on #695
Oh nice find, another unintended casualty of single instance

[2017-06-27 21:16] droidmonkey commented on #693
*shakes fist*

[2017-06-27 21:37] TheZ3ro opened #696 "Improve general usage documentation"
Many useful feature are not documented anywere.
We need to write some proper documentation for the general usage of KeePassXC

for example: https://github.com/keepassxreboot/keepassxc/pull/127#issuecomment-311462557

Like we said in the other Issue:

We can open a new repository called wiki and then we can make a script that pushes wiki/master over https://github.com/keepassxreboot/keepassxc.wiki.

[2017-06-27 22:46] fancypantalons commented on #49
The project position on this really strikes me as odd.

I use Keepass because I don't trust cloud services, which was a point magkopian touched on.

However, I really value cross-device synchronization.  To make that possible, I run my own server for storing my keepass database.  I've chosen SSL-secured webdav for this purpose, and currently successfully use Keepass 2 on the desktop and Keepass2An

[2017-06-27 23:18] rockihack commented on #457
In _global autotype_ the active window id is stored while pressing the hotkey.
Before the autotype sequence starts keepassx raises the window with that stored id.

In opposite _perform autotype_ just minimizes keepassx window and starts autotype.
https://github.com/keepassxreboot/keepassxc/blob/079e383319ffb95b804610525012c1d3e7f5ea0e/src/autotype/AutoType.cpp#L161

Probably `hideWindow->showMinim

[2017-06-28 00:06] droidmonkey commented on #687
For the snap this is likely related to why launching the browser with dbus fails.

[2017-06-28 03:33] sts10 commented on #696
I don't know if this is helpful or if it's been done elsewhere in a superior way, but I took [a quick stab at a blog post explaining the basics of using KeePassXC](https://sts10.github.io/post/keepassxc-setup-guide/)-- here's the [raw markdown](https://github.com/sts10/blog-hugo/blob/master/content/post/keepassxc-setup-guide.md) and [the static images and GIFs I made and used](https://github.com/s

[2017-06-28 08:26] Losiara opened #697 "How to prevent autofill via http plugin?"
## Expected Behavior
When page open where there is saved password, keepasxc waits for user command to fill fields

## Current Behavior
If url detected, fields autofilled anyway

## Possible Solution
Add some options to json in setup area of http plugin to prevent autofill.

## Your Environment
kepassxc 2.2.0

[2017-06-28 08:51] HifeFish commented on #558
I second this request. Accessing notes has become a hassle. So much so that I sometimes create a secondary entry with the note in the username field.

At least for entries, maybe there could be an optional column to display notes. This obviously still doesn't cover more extensive notes, though.

[2017-06-28 09:06] peperunas commented on #590
Tried build f817eaa and latest version `2.2.0`. Nothing.

[2017-06-28 09:32] guzzard commented on #590
Hi @peperunas, I did some experimenting.. rebooted computer.. keepassxc started and unlocked automatically as expected.. exited keepassxc and tried to restart it manually from the command prompt with "keepassxc --keyfile ~/path_to.key --pw-stdin ~/path_to.kdbx <<< password" but it did not work. The database was not unlocked. I then restarted the computer again and keepassxc did NOT unlock on autos

[2017-06-28 09:44] themasch opened #698 "Combination of a yubikey passphrase and yubikey challenge response doesn't work."
I used to use a passphrase which combined manually entered sequence with the passphrase stored on the yubikey. I type the first ~15 characters, then press the button on the key to enter the rest.

## Expected Behavior
I enter my passphrase, let the yubikey "enter" his passphrase, the yubikey sends [enter], keepassxy should set the key in CR-Mode and ask me to press the button on the yubikey.

## C

[2017-06-28 10:19] TheZ3ro commented on #696
@sts10 I like this guide! It's very useful for first-time users, I will open a new repository for the wiki asap

[2017-06-28 10:30] TheZ3ro opened #699 "Make the 25ms delay in autotype overridable"
With #550 we have introduced a small delay in autotype for Linux (and before that, for other platforms).
This delay is fixed and hardcoded to 25ms.

Some users can't use autotype since it's very slow and have very long email-passwords (like for example https://github.com/keepassxreboot/keepassxc/issues/128#issuecomment-311241590)

## Possible Solution
- Make the hardcoded delay overridable by the

[2017-06-28 10:36] phoerious commented on #696
I think we should host the wiki on the main website and not on GitHub. The GitHub wiki is good for developer documentation, but the end user stuff should be on the website.

[2017-06-28 10:37] TheZ3ro commented on #558
What about #454 ?
Inserting a preview panel on the bottom that will show some info on the selected entry (without opening it)

[2017-06-28 10:46] phoerious commented on #697
The browser plugins are not maintained by us. Please report the issue directly to PassIFox and chromeIPass.

We have a successor browser integration called keepassxc-browser in the works, which will not autofill login fields.

[2017-06-28 10:46] #697 closed

[2017-06-28 11:13] HifeFish commented on #558
@TheZ3ro Indeed the old preview panel worked great for my purposes. Especially since it doesn't require using the mouse.

However, @silverkorn was also addressing group notes, which would not be visible there, so that would be a separate issue still.

[2017-06-28 11:14] TheZ3ro commented on #696
Ok, I agree

[2017-06-28 11:19] TheZ3ro commented on #558
We can add a preview panel for groups as well

[2017-06-28 11:26] droidmonkey commented on #590
I wonder if its a combo of a latent .lock file and single instance perhaps.

[2017-06-28 11:43] TheZ3ro commented on #590
Yes, probably it's caused by the single instance, we need to dig more into this

[2017-06-28 12:06] HifeFish commented on #558
Sounds perfect (as far as I'm concerned).

[2017-06-28 12:24] rodoviario opened #700 "Feature request: Keep old database versions"
It will be nice to have an automatic database backup (a funcionality that exists as plugin in keepass2)

## Expected Behavior

Every time yo save the database the old version is saved with the date appended at the end of the filename
It automtically keeps in a selectable number of files (let say, onli 5 copies)

## Current Behavior

There is no automatic backup funcionality nor support for backup

[2017-06-28 13:34] droidmonkey commented on #700
Besides database corruption i don't understand the need for this. Every entry already has a history of changes. If you are concerned about corruption, i wouldnt want the application which could cause the corruption to do my backups. Use cron and rsync for that purpose.

[2017-06-28 13:35] droidmonkey commented on #558
I love the idea of a preview panel.

[2017-06-28 15:17] O-Gopal commented on #621
![keepassxc--screenshot](https://user-images.githubusercontent.com/2028254/27644403-baddc764-5c23-11e7-8b41-3422b74c32b1.png)

Screenshot attached.

I found the QT5 configuration tool. But it's not in the Ubuntu repos, and at this point installing from a tarball is beyond my skill set. (Also: Changing the default font size for _all _ apps is not what I want to do.

Thank you.

[2017-06-28 15:33] hifi opened #702 "Apply button in settings does not work"
The new `[ Apply ]` button does not save the configuration in Tools -> Settings.

## Expected Behavior
Apply changes and save config.

## Current Behavior
Nada.

## Steps to Reproduce (for bugs)
1. Start up (don't open any database)
2. Tools -> Settings
3. Make any change
4. Hit Apply
5. Hit Cancel
6. Go back and see the change has been reverted

[2017-06-28 15:36] hecnm commented on #428
I can confirm this happens as well in OSX 10.11.6 (El Capitan) with KeePassXC 2.2.0 and US keyboard.
For inputing accented characters with the US keyboard, a sequence is needed (for example: Alt+e, then a equals á).
When typed in the default mode for the master key (masked characters) it behaves as described above (ignoring the accent). When the real characters are showing up (the eye button has b

[2017-06-28 16:23] Udo017 commented on #17
Please make possibility to choose width column's are shown and copy the value by double click on the column.

[2017-06-28 19:34] #702 closed

[2017-06-28 19:40] phoerious commented on #621
I edited your post. Please don't post screenshots of your actual password database.

[2017-06-28 19:43] phoerious commented on #428
Most likely a Qt bug. Maybe not directly related to #324, but I assume Qt is somehow using a non-deadkey version of your input layout.

[2017-06-28 20:07] O-Gopal commented on #621
Thank you, phoerious. That was helpful. I've attached a new screenshot to that text.

[2017-06-28 20:48] olifre commented on #681
Other things that would be helpful:
- `show` does not support `-g` which means it can currently not be used with keyfiles.
- optionally caching the password-tree (only structure, not passwords) would allow to offer shell-completion as e.g. `pass` does. Otherwise, manual usage is pretty cumbersome.
- `clip` currently does not work for me - also, I guess `clip` does not yet auto-clear the clipboard

[2017-06-28 21:11] louib commented on #681
Thanks for the input @olifre !

I'll make sure all the top-level commands have the `-g` available on the next iteration.

I'm currently working on an interactive shell with readline supports, with autocompletion. Your can look at [this PR](https://github.com/keepassxreboot/keepassxc/pull/684) for more details.

Which OS do you use? Right now the Clip commands uses the QClipboard class, which expec

[2017-06-28 22:15] magkopian commented on #681
It would also nice to have a `locate` command for listing all the group paths, were entries with the same name appear. For example, by typing `keepassxc-cli locate google passwords.kdbx` to get an output similar to the following,

[code]

This is especially useful, with commands like `show` and `clip` that you need to remember the group path in order to reference the right entry, as you have multi

[2017-06-28 23:41] rodoviario commented on #700
I see your point, and you are mostly right.

But beside corruption, it protects me from human error (mostly mine, but also mi wife's). If we mistakenly delete entries (not update, but delete) and save, its good to know that the previous database version is there. Anyway I can do backups outside the program, and the most valuable thing is the (new) portability for the linux version. I can carry it

[2017-06-28 23:41] #700 closed

[2017-06-29 00:48] louib commented on #681
@magkopian what about
`find` finds the entries in the db using the name, and returns a flat list of results
[code]

`search` does a search on the entries fields, reusing the same code used right now by the search bar.

[2017-06-29 01:05] phoerious commented on #695
We need to rework the single instance stuff a little. When I open a second instance in debug mode, my normal non-debug mode instance is still being raised to the foreground which is really annoying.

[2017-06-29 01:25] sts10 opened #710 "Left-align Timeouts settings to match other settings (OS X)"
Totally an aesthetic thing, but I just realized that, on Mac OS X, the "Timeouts" settings are oddly center aligned. All other settings appear to left-align, even the "Convenience" settings right underneath them.

![keepassxc-set-lock-time](https://user-images.githubusercontent.com/4871664/27667260-9fa2ab80-5c47-11e7-8c0e-0e58c05cb8a4.png)

## Expected Behavior
The Timeouts settings should also be

[2017-06-29 01:28] phoerious commented on #710
The difference between the two groups is that the first contains check boxes and labels which are associated with number input fields, whereas the second group only has check boxes. Therefore the first group is aligned around a center axis, so the number fields are left-aligned.

[2017-06-29 01:28] #710 closed

[2017-06-29 02:00] CRCinAU opened #712 "Yubikey is not re-detected after replugging."
When using the Challenge/Response mode with a Yubikey, if you unplug the key and replug it, the key is no longer detected or able to do the challenge / response authentication.

This leads to being unable to save the database after any changes.

Error message states:
Writing the database failed. Unable to issue challenge-response.

## Expected Behavior
Key should be redetected on replug - or only

[2017-06-29 02:42] weslly commented on #553
@metbril Can you check if it works with v2.2.0?

[2017-06-29 03:17] droidmonkey commented on #695
Oh yes agreed

[2017-06-29 06:53] quinncomendant opened #713 "Shrink layout gaps and icon size of sidebar tabs"
I just updated to 2.2.0 on macOS and noticed the entry function tabs are now icons. There're too big and I must click the `▼` button to scroll down to access the lower tabs. Having them as text links was better.

It'd also be a shame to add one more option to the settings. Perhaps make icons smaller? Or reduce spacing between icons, labels, and between tabs?

![screen shot 2017-06-29 at 16 47 13](

[2017-06-29 06:54] quinncomendant commented on #403
I've experienced this too, but can't reproduce it now. :(

[2017-06-29 07:07] rgloor opened #715 "CAPS Lock - Regression & new BUG (with Auto-Type)"
Caps Lock Problem / wrong behavior in and after Auto-Type

## Expected Behavior
A few month ago, there was a fix, that would prevent wrong Data-Entry in case caps lock was active (ON) when initiating/using Auto-Type.

## Current Behavior

Now with the latest version, there is a double change:
a) Regression
The caps lock fix is "reverted" (not working any more). So if caps lock is active when using

[2017-06-29 08:48] TheZ3ro commented on #681
I like the `list` suggestion by @magkopian

[2017-06-29 08:53] rezad1393 opened #716 "RPC support?"
does keepassxc support keepassRPC?

[2017-06-29 08:54] phoerious commented on #715
We never had such a caps lock protection feature. At least not that I can remember. Are you sure, that wasn't rather some platform-specific Qt feature?

[2017-06-29 08:58] phoerious commented on #403
I could also reproduce casual crashes when downloading icons twice, but I've had no time to dig deeper on this. I'll take a deeper look in the evening.

[2017-06-29 09:01] #638 closed

[2017-06-29 09:03] phoerious commented on #712
I suppose this is rather a YubiKey lib issue.

[2017-06-29 09:04] phoerious commented on #716
No. We support KeePassHTTP (i.e., PassIFox, chromeIPass and passafari) and we will support a more modern and secure alternative called keepassxc-browser in the future.

[2017-06-29 09:04] #716 closed

[2017-06-29 09:15] rezad1393 commented on #716
deos KeePassHTTP allow adding and entries?

[2017-06-29 09:51] rgloor commented on #715
@phoerious
Sorry. I thought it was here. Where after some troubles with Caps Lock, there was a fix: Which checked if Caps Lock is on, and if it was, it toggled it OFF, entered Data, and then toggled it ON again (to restore previous state).
But it might have been somewhere "upstream" (KeePass or KeePassX), Sorry then.

[2017-06-29 10:00] gigaSproule opened #717 "Unable to write to keepassxc.ini"
When opening the settings for keepassxc (installed via snap), it complains that it can't write to the `keepassxc.ini` file. I'm guessing this is due to the fact that the file is under `$HOME/.config/keepassxc/` (and snap apps can't access it? https://bugs.launchpad.net/snappy/+bug/1607067) or because snap apps can only write to it's own space (`$HOME/snap/keepassxc`)?

## Expected Behavior
Setting

[2017-06-29 10:02] magkopian commented on #681
@louib Sorry I didn't know you have already implemented `find` and `search`, I guess in that case a `locate` command isn't really needed.

[2017-06-29 10:03] nilbus commented on #637
To resolve this, could you open one of the copies, merge the other, and then save onto the dropbox copy?

Could you just replace the dropbox copy with the local copy after merging and saving?

[2017-06-29 10:22] CRCinAU commented on #712
Not sure - but I've found out that it locks you out of slot 1 operation while you use it for Keepassxc - which makes me think that the key isn't closed between required uses...

[2017-06-29 13:49] louib commented on #681
@magkopian they're not implemented yet, that was just a suggestion. They could be added pretty easily after #684 is merged though, if you're willing to jump in!

[2017-06-29 14:17] magkopian commented on #681
@louib Well, in that case, the actual name of the command is not an issue. The functionality is what it matters. I guess the reason why I said `locate`, was because it reminded me of the `locate` command on Linux, which looks up to its database in order to locate a file.

[2017-06-29 16:23] sts10 commented on #713
Agree 100%. The icons should be made to fit in one "screen" height, if nothing else so that new users can more easily find the sections toward the bottom (like Auto-Type). I'd vote for smaller icons and less space in between.

Separately, I feel like that "Icon" icon look a little too similar to a die (random password generator)?

[2017-06-29 17:34] phoerious commented on #713
You guys seem to have pretty tiny screens. The search field is also not visible.

[2017-06-29 20:24] lopopolo opened #720 "Cannot copy and paste into Steam.app on macOS"
I came across [this thread on the steam forums](https://steamcommunity.com/discussions/forum/2/648814396131800297/) that details an issue I am having where copy-paste from keepassxc does not work into the steam app (both native and web views).

## Expected Behavior

Copy via cmd-b and cmd-c in keepassxc are able to be pasted into steam via cmd-v or right click context menu

## Current Behavior

Pa

[2017-06-29 20:39] lopopolo opened #721 "Database does not lock with session if about menu is active"
## Expected Behavior

When the setting "lock databases when session is locked or lid is closed" is enabled, the database should be locked on sleep even if the about menu is showing

## Current Behavior

Database remains unlocked with about menu active

## Possible Solution

## Steps to Reproduce (for bugs)

1. Unlock database
2. Choose menu item KeepassXC > About KeepassXC
3. Select Debug Info tab

[2017-06-29 21:13] sorcix opened #722 "Generate QR code with TOTP settings"
## Expected Behavior
The TOTP menu contains an option to generate a QR code for me to import the TOTP key/settings to an authenticator app on my phone.

## Current Behavior
The TOTP menu only shows TOTP codes and plaintext settings. I have to type the secret key manually if I want to add it on my phone.

## Possible Solution
Generate a QR code inside the app, or (less secure) open a browser window

[2017-06-29 21:17] sorcix commented on #713
I'm having the same issue on Linux/Gnome, where my KeepassXC window is usually not fullscreen. The properties and history buttons are not visible. To make things worse: there is no indicator that I can scroll down.

![screenshot](https://user-images.githubusercontent.com/65006/27710757-16c324e0-5d21-11e7-9868-b94ea78207f6.png)

[2017-06-29 22:05] williamtheaker opened #723 "Sign macOS releases for Gatekeeper support"
## Current Behavior
When double clicking on KeePassXC.app, the application fails to open if Gatekeeper has been disabled in macOS. A system popup states "KeePassXC" can't be opened because it is from an unidentified developer

## Expected Behavior

Application passes code signing check and executes without user intervention.

## Possible Solution

Fixing this requires an Apple Developer account wh

[2017-06-29 22:33] Generator opened #724 "Can't register KeePassHTTP extensions keys on Archlinux"
## Expected Behavior

Install new KeePassHTTP browser extension (e.g. PassiFox, keepassxc-browser, KeePassHelper)

## Current Behavior

Unable to register new KeePassHTTP extension key.
There's no prompt to register the new extension key.

Tested with official KeePassXC-2.2.0-x86_64.AppImage and works without problem.

## Steps to Reproduce (for bugs)
Install PassiFox or other KeePassHTTP extensio

[2017-06-30 02:57] droidmonkey commented on #713
The icons are rather large.

[2017-06-30 02:58] droidmonkey commented on #722
I wish the Google Authenticator app would let me export the loaded TOTP codes I already have...

[2017-06-30 03:03] droidmonkey commented on #717
I don't experience this issue (nor anyone else that has used the snap). Can you confirm that you don't have any permissions issues with the snap storage directory. We have permission to access the user home directory.

[2017-06-30 03:04] droidmonkey commented on #716
Yes

[2017-06-30 03:49] sts10 commented on #713
Sorry, I was a little sloppy with my words earlier when I wrote, "The icons should be made to fit in one 'screen' height." I simply meant that users should be able to see all of the icons with _most_ _window_ sizes. I also didn't mean to sound so blunt! I'm loving the new version-- thank you for all your hard work.

By my measurements (using OS X), KeePassXC needs to be about 715px tall for users

[2017-06-30 06:56] gigaSproule commented on #717
I did check that. I tried deleting the `keepassxc.ini` file and when that didn't work, tried deleting `$HOME/.config/keepassx`, which also didn't work. I tried re-creating the directory, but again to know avail.

What are the expected permissions? It might be worth noting that I tried the snap version after I had the deb installed, but uninstall ed to try the snap version, so that could have done

[2017-06-30 09:03] mattsches commented on #717
Same here, installed via snap, affected config file has `664` permissions: `~/snap/keepassxc/23/.config/keepassxc/keepassxc.ini`

Version info:
[code]

[2017-06-30 11:32] yan12125 commented on #722
If you use Android, my fork of KeepassDroid is worth a try - https://github.com/yan12125/keepassdroid/tree/totp. I add a notification item that generates TOTP codes.

[2017-06-30 15:26] deknos commented on #187
We use this feature, too in a heterogenous work environment (linux and windows desktop) and share our passwords in keepassxc. This would be very important.

[2017-06-30 16:35] marekjedrzejewski opened #725 "Make {PICKCHARS} possible [$50]"
Original KeePass has {PICKCHARS} placeholders for entering partial password, would be nice if it was implemented.

## Expected Behavior

When entry has {PICKCHARS} placeholder, window is opened that lets user choose which characters of the password should be entered. It looks like this in KeePass:
![Pickchars window](http://keepass.info/screenshots/windows_vista/pickchars_big.png)

I'd gladly try

[2017-06-30 16:52] magkopian opened #726 "Feature Request: Add custom icon from URL"
It would be nice if there was an option for adding an icon by providing a direct URL to it, as an alternative to adding it from a local file.

## Expected Behavior
There should be a way for the user to add a custom icon from a direct URL in addition to adding one from a local file.

## Current Behavior
There is currently no way to add a custom icon directly from a specific URL, but only from a loc

[2017-06-30 17:35] hifi commented on #726
I was rather thinking of having an actual HTML parser that would pull the `<link rel="icon">` info like a browser would. It's more common these days to have that in favor of the old favicon.

Would depending on libxml2 be bad? It would probably be rather trivial to parse HTML documents with it (AFAIK it has HTML mode) and find the necessary tag making the icon downloader more robust.

1. Download

[2017-06-30 17:45] magkopian commented on #726
@hifi This has already been [discussed](https://github.com/keepassxreboot/keepassxc/issues/32#issuecomment-252090527) in the past, and we all agreed that pulling an actual HTML parser as a dependency for something that its mail purpose is to be a password manager is a bit too much.

Also, the occasional failure of the favicon download is not the only reason I made this feature request, there are a

[2017-06-30 18:01] phoerious commented on #723
have a valid certificate which we use for signing our Windows binaries. Unfortunately, Apple only supports Apple certificates. Dick move from their side.

[2017-06-30 18:18] hifi commented on #726
Maybe that is where a proper user manageable plugin architecture would help to keep the main program slim and outsource the ugly bits.

On topic: what if instead of a new button the icon download button always opens up a dialog where you select either "[X] Try to download the icon automatically" or you type in the url?

[2017-06-30 18:21] hifi commented on #699
@TheZ3ro This can be closed.

[2017-06-30 18:22] magkopian commented on #726
@hifi That also a nice idea, or possibly when pressing the "Add custom icon" to ask the user whether they want to add an icon from a local file or a URL.

[2017-06-30 18:46] #699 closed

[2017-06-30 18:46] sainaen commented on #721
Yep.
The issue is with [`MainWindow::lockDatabasesAfterInactivity()`](https://github.com/keepassxreboot/keepassxc/blob/develop/src/gui/MainWindow.cpp#L901), which is called by [`MainWindow::handleScreenLock()`](https://github.com/keepassxreboot/keepassxc/blob/develop/src/gui/MainWindow.cpp#L985): it doesn't lock DBs if there's an open modal dialog. I'm not sure why `handleScreenLock()` was impleme

[2017-06-30 20:03] JRSav opened #727 "Windows opening Welcome screen creates .kdbx file"
## Expected Behavior
  This is based on Windows 10 1703.
   The database file created in the opening Welcome screen and/or drop down menu should be a .kdb file.

## Current Behavior
  Both the welcoming screen "Create New Database" and the drop down "Database" menu defaults to creating a .kdbx database. Keypassxc **does not** read .kdbx files.
  Once past the opening Welcome screen the default fil

[2017-06-30 20:08] TheZ3ro commented on #727
KeePassXC does read kdbx files. When I try to create a new database (both from the welcome screen and from the icon) it select only the kdbx format.

[2017-06-30 20:12] phoerious commented on #727
I'm really not quite sure what you are talking about. KeePassXC, in fact, reads nothing else but KDBX files. A KDB file can only be read through the import function which, in turn, creates a KDBX from it.

[2017-06-30 20:12] #727 closed

[2017-06-30 20:17] phoerious commented on #724
I'm not quite sure what you bug is. Can you provide some more detailed reproduction steps?

[2017-06-30 20:31] Generator commented on #724
@phoerious
Do a clean install of KeePassXC on Archlinux and enable KeePassHTTP, Install a browser extension (Chrome or Firefox) should appear a dialogue to accept the new extension key to access KeePassXC through KeePassHTTP.

I've tested with the archlinux package and the dialogue didn't show, also tested with Appimage package with no issue registering the extension key.

Reported the issue on Ar

[2017-06-30 21:03] phoerious commented on #724
Works perfectly fine for me.

1. Install chromeIPass
2. Start KeePassXC
3. Enable KeePassHTTP in the settings
4. Click "Connect" in chromeIPass
5. Enter a name
6. Profit

[2017-06-30 21:37] JRSav commented on #727
I had a prior copy of Keepass ver1.29 on my system. There must have been crosstalk between the two . Sorry for the interruption.

[2017-06-30 22:10] Generator commented on #724
Look like there was some issue with previews configuration files.
Removed $HOME/.config/keepassxc/ and start KeePassXC again solved the problem.

[2017-06-30 22:10] #724 closed

[2017-06-30 22:24] phoerious commented on #727
KeePass is a totally different application.

[2017-06-30 23:28] t4777sd commented on #682
Thanks guys. I will just use a non-snap version that can work with firejail. Btw, the program is amazing. You guys have done a great job in creating a better program, communication, etc. Really an awesome open source team!

[2017-06-30 23:47] t4777sd commented on #508
I would utilize the feature in the same way @marco-brandizi utilizes it if it was available. However, since I am not developing or maintaining the keepass code, I can see how it might just add unnecessary complexity to the code / interface.

Since the only difference between tags and folders is that tags offers a one to many relationship (an entry can belong to multiple tags but only one folder).

[2017-07-01 07:53] phoerious commented on #508
Actually, tags are many-to-many. One-to-many is what we already have with folders. I kind of agree with @droidmonkey on this one, but I'm not totally against tags.

[2017-07-01 08:32] Spheerys commented on #99
I'm also interested bu thus toggle function !

[2017-07-01 12:19] nolaviz opened #729 "Support OpenYOLO"
## Expected Behavior

KeePassXC should integrate with arbitrary Android apps using the OpenYOLO protocol.

## Current Behavior

KeePassXC needs to use plug-ins (or the insecure KeePassHTTP) to integrate with browsers, and cannot be used at all to secure sign-in for third-party apps.

## Possible Solution

Integrate the [OpenYOLO reference implementation](https://github.com/openid/OpenYOLO-Android)

[2017-07-01 12:24] droidmonkey commented on #729
Im not sure how openyolo applies to us, we are not an Android app. Furthermore they state that their api is not stable yet.

[2017-07-01 12:24] #729 closed

[2017-07-01 12:44] droidmonkey commented on #725
I still think this is an antipattern fad that is going to go away. Cool dialog though

[2017-07-01 12:47] droidmonkey commented on #187
Seems very easy to implement. Here is my question: would you guys value the ability to open the database read-only from the start? Then a lock file would only be created and displayed if opened in read/write mode.

[2017-07-01 14:15] weslly commented on #722
Not exactly what you are asking, but Keepass2Android can generate codes for TOTP entries added on KeepassXC, so you can use it as an alternative to Google Authenticator.

[2017-07-01 21:35] Throne3d opened #730 "Crash (segmentation fault) when downloading favicon for id.atlassian.com"
With a password entry that has `http://id.atlassian.com/` (or `https://id.atlassian.com/`) in the URL field, attempting to download the favicon always results in "Unable to fetch favicon." and sometimes results in a crash.

It might be related to #403 or #678 but doesn't quite seem to match what they're reporting.

## Expected Behavior
It should definitely not crash, and in the case of `id.atlassi

[2017-07-01 22:09] magkopian commented on #730
Have you tried installing KeePassXC from the Snap, AppImage or the Debian package instead of compiling it yourself, and see if the issue is still present? Because I just tried this on my Debian Stable system and I couldn't reproduce, it works perfectly for me.  Here is my debug info:

KeePassXC - Version 2.2.0 (Debian Package)
Revision: caa49a8ef3ee28ed478192389b21d61107b3b8e0

Libraries:
- Qt 5.7

[2017-07-01 22:24] phoerious commented on #730
The favicon cannot be found, because it is not at the standard location `/favicon.ico` and we don't parse the HTML webpage  for any `<link>` tags.
The crash is most likely the same, but it's hard to reproduce and occurs only under certain conditions which I have yet to determine.

[2017-07-01 22:24] #730 closed

[2017-07-01 22:29] magkopian commented on #730
@phoerious It's not in a standard location but it still works perfectly fine for me. I notice though that @Throne3d uses the latest dev version of the software instead of the latest release, maybe he has the Google fallback disabled?

[2017-07-01 22:30] phoerious commented on #730
Yes, Google fallback is disabled by default as of e5559372144dac44b09fb03c02d17f4f5a49b7b2 and needs to be enabled explicitly in the settings.

[2017-07-01 22:40] #679 closed

[2017-07-01 23:15] Throne3d commented on #730
The same as in the issues I linked, #403 or #678?

[2017-07-01 23:22] Throne3d commented on #730
Both the AppImage and the snap seem to download the favicon properly, and so the error box does not appear (and presumably relatedly, I get no crash nor segmentation fault issue). I'm not sure if this means it's more or less likely to be the same issue?

## AppImage

KeePassXC - Version 2.2.0
Libraries:
- Qt 5.9.0
- libgcrypt 1.6.1

Operating system: Ubuntu 17.04
CPU architecture: x86_64
Kernel: l

[2017-07-02 01:05] lopopolo opened #731 "Fetching favicon for Non-ASCII and Internationalized domains fails"
## Expected Behavior
* [Google fallback should use https.](https://github.com/keepassxreboot/keepassxc/blob/master/src/gui/EditWidgetIcons.cpp#L237)
* Non-ASCII domains need to be %-encoded when constructing the google fallback url because they are url query string parameters. For example, http://💩.la. [QUrlQuery::addQueryItem(](http://doc.qt.io/qt-5/qurlquery.html#addQueryItem)?
* Internationaliz

[2017-07-02 01:08] lopopolo commented on #731
This could be considered a security issue because the current 2.2.0 leaks (all?) sites in a password database to the network

[2017-07-02 03:38] quinncomendant opened #732 "Auto-type window title unicode display issue"
I'm creating an auto-type window association for a website with the following title:

    <title>SC Admin ⧸ Login</title>

That `⧸` is not a normal forward slash, it is actually [U+29F8 (big solidus)](https://codepoints.net/U+29F8?lang=en). The website output is sent in UTF-8.

When I use KeePassXC 2.2.0 to create a new window association, in the *Window title* select menu, this appears (screensho

[2017-07-02 05:48] weslly commented on #732
Seems to be a bug with Qt rendering instead:

![image](https://user-images.githubusercontent.com/107672/27767513-51d15eac-5ed0-11e7-8e46-3411e118e3c7.png)

I'm not sure if there's a way to fix it without actually patching Qt

[2017-07-02 08:31] phoerious commented on #730
I cannot reproduce the crash reliably, but it seems to occur when the download fails, which occurs more often when Google fallback is turned off.

[2017-07-02 08:36] phoerious commented on #731
Downloading a favicon leaks at least the destination server anyway, even when using https (just not the hostname and URL). Also when you add http URLs, they will be called first before any Google fallback (even if that is https). I'll prepare a patch, though.

[2017-07-02 08:41] phoerious commented on #732
I suppose it's just a display issue. Maybe the font that Qt uses just doesn't support the character. When I view your bug report on Android, I also only see an empty box, even though the Noto font is usually pretty amazing with weird Unicode characters. So probably not a KeePassXC bug.

[2017-07-02 09:01] Germano0 opened #733 "libgcrypt CVE-2017-7526"
libgcrypt 1.7.8 has been released to fix CVE-2017-7526.
I report such news here because I am not sure if KeepassXC binary packages include an older libgcrypt version, so I wanted to let you know about that (in case you still haven't heard about such problem)
https://lists.gnupg.org/pipermail/gnupg-announce/2017q2/000408.html

[2017-07-02 09:08] phoerious commented on #733
Thanks for the report. However, this issue doesn't affect us, since we don't use RSA. Also whoever has sufficient execution access to perform such an attack could easily just wiretap your master password as you type it into the password field.

[2017-07-02 09:10] #733 closed

[2017-07-02 09:11] TheZ3ro commented on #731
This will only leaks website you donwload the favicon for. I was already planning to fixing google fallback to https for #719

[2017-07-02 09:25] TheZ3ro commented on #730
I can't reproduce the crash either, but the behavior is fine (with google fallback disabled, KeePassXC can't get the favicon)

[2017-07-02 10:38] weslly commented on #732
I tried showing this character in other Qt apps and it didn't work either

![image](https://user-images.githubusercontent.com/107672/27769116-443a3420-5ef9-11e7-9657-1b8a510e0232.png)

I'm closing this since it's a bug with Qt

[2017-07-02 10:38] #732 closed

[2017-07-02 11:22] n1trux commented on #613
If you actually read my Issue, I already stated that it's possible to do that.

I will implement this feature and create a PR, this Issue is just to track that and get input from other users.

[2017-07-02 11:49] hifi opened #734 "Cross-platform user loadable plugin support"
User written plugins are a big part of the original KeePass and would mean a world to many users that would want to extend KeePassXC without knowing a complex native language like C++ (me included).

However, as far as I know, KeePass is exposing its internal C# API to plugins and that way plugin support is rather easy to achieve. Compiled C# code is platform and architecture agnostic so they have

[2017-07-02 12:20] kroka opened #735 "Download favicon for all entries without icon"
## Expected Behavior

* _Tools > Download and set missing icons_
It will download the favicon and set it as symbol for each entry (for which no icon was defined, yet)

## Current Behavior

You have to download the favicon for every single entry.

## Context

Having a huge database without any custom icons set, this new feature would dramatically reduce manual effort.

_Update 2017/10/05:_ It might

[2017-07-02 14:09] lopopolo commented on #731
Ahh yes, I forgot about SNI. Apologies for being overly dramatic.

[2017-07-02 15:38] droidmonkey commented on #731
There is nothing particularly sensitive in a domain name, and there is nothing saying the request is coming from a password manager. Favicon lookups is a VERY common transaction.

[2017-07-02 15:41] droidmonkey commented on #734
If anything i would use V8 since it integrates with a C++ interface. I've done extensive C++ integration using both LUA and Python... It is not fun at all.

[2017-07-02 16:52] hifi commented on #734
The size is something to consider, though. V8 ain't light at around 15 MB give or take so it alone would be around twice the size of the complete KeePassXC package on Fedora where the shared Lua library is around 256k.

Otherwise JavaScript as a language wouldn't be bad at all. Everyone seems to know it these days.

[2017-07-02 17:21] phoerious commented on #734
If (and that's a big if the moment) we implement some sort of plugin mechanism, it needs to be lightweight and not increase the overall size by some tens of megs. V8 is far too big.
I'd prefer either LUA or native Qt plugins.

[2017-07-02 17:38] hifi commented on #734
The plugin system could be taken even further by having a signing system in place and a plugin portal to install such signed and verified plugins.

I'm probably going to try prototyping something with Lua if I have enough time and motivation with the assumption it will not be up to standards and never be merged in.

[2017-07-02 17:46] slagiewka commented on #725
Antipattern or not - it is still a valuable feature for logins in various locations that still require selective character input. For me it's the only thing that forces me to use a regular KeePass from time to time. It would be great if I could use KeePassXC for every use case I have.

👍 to that.

[2017-07-02 18:04] phoerious commented on #725
To be honest, I didn't even know this broken authentication scheme is even a thing until people started bringing it up.

[2017-07-02 19:32] lcapriotti opened #736 "[Feature Request] Selective Auto-Type without duplicating entry"
Auto-Type sequence is fully customisable at the entry level, but there is only one auto-type sequence per entry.

## Expected Behavior
Be able to choose what information to use for the auto-type functionality upon need without setting up specific entries.

## Current Behavior
Only one auto-type setting is possible, ie a single field or combination (pwd or username & pwd, for example)

## Possible

[2017-07-02 19:56] weslly commented on #736
Actually you can have more than one custom sequence per entry by using window title associations. You can get the title of the window or browser tab to create different sequences.

![image](https://user-images.githubusercontent.com/107672/27773051-18736110-5f47-11e7-9c7d-a495244d6349.png)

[2017-07-02 20:04] olifre commented on #681
Perfect, thanks a lot for your reply!
I am using Gentoo Linux here. Really looking forward to the things to come ;-).

[2017-07-02 21:39] droidmonkey commented on #736
Furthermore you can use entry cloning to setup multiple sequences per the same window.

[2017-07-03 08:36] stysedo opened #738 "Add ability to open entries in a popup window"
Sorry, due to a slip of the hand, I accidentally created this post empty!
I'm editing it to fill it in...

I'd like to suggest an option to allow for entries and files to be opened in their own window instead of the current interface (at last in macOS) which seems to be 'single window.'

## Expected Behavior

Opening an entry would open it in its own window allowing us to have multiple entires ope

[2017-07-03 08:50] phoerious commented on #738
?

[2017-07-03 08:55] stysedo commented on #738
Sorry, due to a slip of the hand, I accidentally created this post empty!
I've edited it to fill it in...

[2017-07-03 09:45] weslly commented on #736
Closing this since you can add multiple sequences with window associations and cloning/referenced entries, as @droidmonkey noted.

[2017-07-03 09:45] #736 closed

[2017-07-03 13:29] sorcix commented on #722
I'm on Android so this actually is a solution for me. 👍

[2017-07-03 13:37] TheZ3ro commented on #731
The `QUrl` behavior seems a little bit strange here.
[code]

Outputs for various punycode url:
[code]

Also, there was this bug https://bugreports.qt.io/browse/QTBUG-60364

[2017-07-03 14:00] weslly commented on #722
@sorcix nice! closing this one

[2017-07-03 14:00] #722 closed

[2017-07-03 14:40] CRCinAU commented on #278
I second (ok, 25th?) the idea that being able to throw SSH keys in the DB would be awesome.

Right now, I have scattered identity files everywhere among multiple machines - it would be great to put them all in one place.

[2017-07-03 15:57] lcapriotti opened #739 "[feature request] multiple auto-type sequences per entry"
Each entry supports one auto-type sequence, either default or custom. Ideally each entry should allow multiple auto-type sequences, as to achieve this cloning and modifying entries is needed, with possible misalignment if further changes are needed (pwd for example).

## Expected Behavior
Multiple auto-type sequences should be possible for the same entry.

## Current Behavior
Only one auto-type se

[2017-07-03 16:00] phoerious commented on #739
Duplicate of #736.

You can have multiple auto-type sequences per entry.

[2017-07-03 16:00] #739 closed

[2017-07-03 17:32] janhicken commented on #590
I'm experiencing the same issue. It somehow works only, if there's no database in the history. If you clear every database tab with `^w`, exit the application and then issue the command with `--pw-stdin`, it works.

[2017-07-03 18:07] teresaejunior opened #740 "Provide global AutoType shortcut specifically for TOTP"
## Expected Behavior

It would help a lot if there was a specific global shortcut for auto-typing TOTP passwords. Most websites that implement TOTP give you a login page (where I press Ctrl+Shift+M) and then a separate TOTP page (where I could press Ctrl+Shift+N, for example).

## Current Behavior

Currently, the user can either:
1. Manually look for an entry on KeePassXC and copy the TOTP passwor

[2017-07-03 18:52] Talkarcabbage commented on #637
I _believe_ that would have an equivalent effect, assuming the local copy ends up fully "up to date" first.

[2017-07-03 19:03] TheZ3ro commented on #740
You can set multiple Autotype sequence and trigger Global Autotype 2 times, selecting for the first one the Username/Password one and the second the TOTP code. Like #736

[2017-07-04 00:50] kortschak opened #741 "File not found warning immediately replaced when key file not found"
When a key file is not found at the path specified, a less than helpful dialogue is shown:
[code]

## Expected Behavior

A dialogue showing that the key file was not found.
[code]

## Current Behavior

Currently the dialogue that should be shown is flashed for about a quarter of a second and then replaced with:
[code]
It is very easy to miss the actual cause of the failure because of this.

## Pos

[2017-07-04 02:13] kortschak commented on #741
Looking at gui/DatabaseOpenWidget.cpp it looks like [`DatabaseOpenWidget::openDatabase` accepts](https://github.com/keepassxreboot/keepassxc/blob/7580c385da58329ef29e0d026b1ac0720cbcccf2/src/gui/DatabaseOpenWidget.cpp#L142) the [invalid `CompositeKey` returned by `DatabaseWidget::databaseKey` on failure](https://github.com/keepassxreboot/keepassxc/blob/7580c385da58329ef29e0d026b1ac0720cbcccf2/src/

[2017-07-04 07:36] matyx commented on #712
I believe that this is Keepassxc issue. I have found a workaround - you can redetect yubikey without quitting keepassxc. You need to go to Databases -> Change master key -> Click refresh under Challenge response section. Keepassxc will be able to use your yubikey.

I would suppose to call Challenge/Response refresh procedure before saving the database if the database is opened via yubikey and ther

[2017-07-04 08:11] peperunas commented on #590
I can confirm that closing (CTRL-W) the database solves this issue.

2017-07-03 19:32 GMT+02:00 Jan Hicken <notifications@github.com>:

--
*- Giulio*

[2017-07-04 08:20] guzzard commented on #590
@janhicken @peperunas @droidmonkey @TheZ3ro I can also confirm. I made sure "remember last databases", "remember last key files and security dongles" and "load previous databases on startup" was unchecked in the settings, and then I cleared the "recent history" of databases. Now KeePassXC automatically unlocks on startup using --pw-stdin every time. Should be possible to figure out what is causing

[2017-07-04 09:37] thrdroom opened #745 "MacOS GUI completely broken / unusable"
I wanted to switch from KeepassX to KeepassXC in my company. Sadly the whole GUI is broken on all our macs which makes the programm unusable here :(

## Expected Behavior

Programm should be running smooth like the original KeepassX

## Current Behavior

When opening the programm the whole GUI gets messed up and none of the functions and buttons are useable. Opening kdbx files renders nothing. Doc

[2017-07-04 10:03] phoerious commented on #745
Can anybody else reproduce this with OS X 10.9 or older?

[2017-07-04 10:54] CRCinAU commented on #712
These bits of code interest me - but I'm absolutely hopeless at C++.....

https://github.com/keepassxreboot/keepassxc/blob/139658b5c33a39d261a5f3b0ba89c6b93a4a38f9/src/gui/DatabaseOpenWidget.cpp#L65

https://github.com/keepassxreboot/keepassxc/blob/139658b5c33a39d261a5f3b0ba89c6b93a4a38f9/src/gui/ChangeMasterKeyWidget.cpp#L58

One is for the Open Database dialog, the other for modifying the master

[2017-07-04 11:50] thrdroom commented on #745
I haven't tried to build it myself - too many dependencies for a workstation here. (no xcode, brew etc...)

[2017-07-04 12:55] weslly commented on #740
You can use a small delay to wait for the second page to load and type the TOTP too, here's my Github autotype sequence:

![image](https://user-images.githubusercontent.com/107672/27830882-c1393ff6-609e-11e7-9932-85b0c42c2fce.png)