[2017-02-23 03:54] mattyjones commented on #5
I am starting work on an official Debian package. Looking at the thread above that should clear up some of the concerns around Ubuntu. Part of the idea behind creating a Debian package will be doing it in such a way that it is easily reproducible by others.

I am aware of the packages referenced on the site but in the spirit of keeping things clean I will be creating my own from scratch using the

[2017-02-23 04:19] droidmonkey commented on #334
Are any other snaps affected?

[2017-02-23 04:38] tkuraku commented on #334
I don't use snaps too much, but I just tried the libreoffice snap. And I can't enter Japanese text use libreoffice writer either. It might be an issue with snaps in general.

[2017-02-23 08:13] phoerious commented on #5
That sounds amazing! Thank you very much! 

[2017-02-23 08:38] samrocketman commented on #5
Might I suggest a `packaging` repository related to packaging scripts for various platforms?  ref: https://github.com/jenkinsci/packaging

One could create a team for contributors who are package maintainers, lock down the master branch (i.e. protect it via settings), and then can be liberal with allowing contributors r/w access to non-master branches.  It also means all packaging-related issues c

[2017-02-23 12:24] jean-sh commented on #231
What about an option that defaults according to what version is run?
Check both locations: if the file already exists, use that one. If not, check the version: if installed version: default to the separate config directory; if portable version: default to the same directory as the executable.
That way it is handled transparently but the option is available for users to select the directory manuall

[2017-02-23 14:17] droidmonkey commented on #334
Looks like the bug is with the mozc interface in the unity7 plug.

[2017-02-23 14:17] #334 closed

[2017-02-23 14:33] varjolintu commented on #287
The key management and transferring the data between the browser extension is not an easy task. One way to do it might be:

- Ask a separate password in the browser extension (but do not save it, only in memory)
- Ask the same password in KeePassXC (maybe a separate setting 'Browser Extension')
- Do not use the password directly but encrypt is using for example [session25519](https://github.com/jo

[2017-02-23 14:54] Throne3d commented on #334
What about character display, though?

[2017-02-23 15:29] tkuraku commented on #334
I just tried the libreoffice snap and it can't display Japanese characters either. I will try to report the bug for snapd.

[2017-02-23 15:30] phoerious commented on #287
I think the most important thing here is authentication over encryption. Encrypting the password while sending it to another process doesn't make things much more secure. What's very important though, is that once your database has been unlocked, only a privileged (authenticated) process can request a password.

[2017-02-23 18:19] GuilloOme commented on #287
For the secure session management and the crypto, I was talking with our crypto guy here at @delvelabs and he were recommending trying using a lib/protocol like libsignal-protocol made and tested against this kind of concern availlable in [JavaScript](https://github.com/WhisperSystems/libsignal-protocol-javascript) and [C](https://github.com/WhisperSystems/libsignal-protocol-c) (never tested on ou

[2017-02-24 00:53] TheZ3ro commented on #287
The main problem with KeePassHTTP is that the key is randomly generated by the client (I don't even know if CSPRNG is used here) and sent base64 encoded plaintext to the KeePassXC server.
This is fine if your PC is safe and you limit your connection to 127.0.0.1

I kind of like @varjolintu proposal and I came out myself with a similar idea some week ago.

Some discussion point:
- Not saving the pa

[2017-02-24 12:18] chrisspelberg opened #341 "Read-only database can be modified, and prevents closing application without Save as..."
## Expected Behavior
A database that is opened read-only should disable all edit options OR when it is modified, when closing the database the program should provide an option to discard the changes and not save the database.

## Current Behavior
A read-only database can be modified. When quitting the program or closing the database it asks to save the database. There is no option to not save or r

[2017-02-24 14:49] droidmonkey commented on #341
Agree with this.

[2017-02-24 20:04] jsha commented on #287
@GuilloOme:

I disagree with this ranking of difficulties. Instead, I would ask where the security boundaries are. For KeePassXC, I would say that the defensible security boundary is "code execution on the local machine." If an attacker has local code exec, there is nothing KeePassXC can do to defend against it. Adding a layer of encryption or authentication to local process IPC merely adds comple

[2017-02-24 20:39] tkisason opened #342 "Add an option to hide comment fields"
Hello,

It would be great to have an option to hide the comments field as a toolbar toggle option, ala keepassz

Thank you!
Sincerely,
Tonimir

[2017-02-24 20:53] phoerious commented on #335
This appears to be some depper library problem on your system. it's not a KeePassXC bug.
Also these permission errors let assume that your GDB setup is somehow broken. I can't relly help you with this.

I would suggest you try our AppImage and see if that works.

[2017-02-24 20:53] #335 closed

[2017-02-24 20:56] phoerious commented on #342
I'm not quite sure what you mean. Do you mean the "Notes" field on the edit entry screen? If so, why would you want to hide it?

[2017-02-24 21:01] tkisason commented on #342
Sorry, notes. that's what i ment.
Simply because the notes can contain confidential information, and that could reduce the potential issues with shoulder surfing.  (Without going into a overly too specific issue)

[2017-02-24 21:07] Mintulix commented on #335
OK, thanks for analyzing. I will try again when I make a new system install in 1 or 2 months.

[2017-02-24 21:13] phoerious commented on #342
Why don't you use advanced attributes for that? We already have a patch on the way for 2.2.0 which allows you to hide advanced attributes. The notes field is more for general notes and not for private keys etc.

[2017-02-24 21:18] phoerious commented on #324
Closing since we can't reproduce and it seems to be working for you again.
Most likely not a KeePassXC issue anyway.

[2017-02-24 21:55] droidmonkey commented on #342
Recommend using the attributes section for anything that needs to be "protected" from view. See #220

[2017-02-24 22:11] tkisason commented on #342
I have a database that is more than 5 years old with a ton of entries, and there are a lot of comments below. :) That's the practical reason. Attributes are cool for new stuff, but unfortunately, there are legacy issues. :(

[2017-02-24 22:12] skypanther commented on #296
I'm regularly tripped up by search being non-global. I guess I'm well trained by the behavior of KeepassX.

[2017-02-24 23:52] ixnari opened #343 "Add support for high ANSI characters in the password generator"
This is something I miss from when I used to use KeePass on my windows partition. The current character set is great, but the addition of high ANSI characters would increase the strength of a password and would make KeePassXC even more awesome.

[2017-02-25 03:20] #202 closed

[2017-02-25 09:42] TheZ3ro commented on #324
I've experienced this the other day when my system layout was IT and Autotype sadly is US-only like @rockihack said.
Reopening this.

There is a method to change the autotype layout? If not we can close again

[2017-02-25 11:58] rockihack commented on #324
I never said that autotype is US-only. It seems to be a bug in xkb autotype or your display server.

https://github.com/keepassxreboot/keepassxc/blob/1f6f7b614ce3528f24958d2025289b96665119fe/src/autotype/xcb/AutoTypeXCB.cpp#L223

[2017-02-25 12:33] phoerious commented on #324
Problem seems to be that autotype sometimes doesn't respect the user's keyboard layout and then falls back to a US layout. But I have no idea why.

[2017-02-26 10:55] janhicken opened #348 "GUI icons are blurry, looks zoomed"
As you can see in this screen shot ![screenshot_1](https://cloud.githubusercontent.com/assets/2724840/23338994/d0c0c3f8-fc18-11e6-98f3-039b51754b80.png) my keepassxc instance looks weird. To the left, there is a window of keepassx2 working correctly but keepassxc has some blurry icons and looks zoomed in in a way.

## Expected Behavior
keepassxc on the right should look like keepassx2 on the left

[2017-02-26 11:05] phoerious commented on #348
This is most likely a duplicate of #323. Can you try installing version 2.1.1 and see if the problem persists?

[2017-02-26 11:55] janhicken commented on #348
You're correct, downgrading to 2.1.1 fixes the issue. Please go ahead marking it as a duplicate and close this issue.

[2017-02-26 11:55] #348 closed

[2017-02-26 20:15] Teyras commented on #88
Just for the record, the KeePassRPC protocol seems more complicated than KeePassHTTP and it uses some features that are not present in KeePassXC (e.g. password profiles, if I understand correctly). The only "documentation" I know of is the [source code](https://github.com/luckyrat/KeeFox/blob/master/KeePassRPC/KeePassRPCService.cs) - look for methods annotated with [JsonRpcMethod].

[2017-02-26 20:52] phoerious commented on #286
Fixed in #340.

[2017-02-26 20:52] #286 closed

[2017-02-26 20:53] phoerious commented on #295
Last remaining issue fixed in #347.

[2017-02-26 20:53] #295 closed

[2017-02-26 20:55] phoerious commented on #223
Any update on this? Is this still an issue?

[2017-02-26 20:59] phoerious commented on #206
Fixed in #299.

[2017-02-26 20:59] #206 closed

[2017-02-26 21:00] phoerious commented on #205
Fixed in #340.

[2017-02-26 21:00] #205 closed

[2017-02-26 21:08] phoerious commented on #69
Closing due to lack of feedback.

[2017-02-26 21:12] phoerious commented on #258
Should be fixed by #333.

[2017-02-26 21:12] #258 closed

[2017-02-26 21:14] phoerious commented on #210
Is this still an issue with the updated Snap package?

[2017-02-26 21:16] phoerious commented on #103
Does this issue still occur with 2.1.2 or the develop branch?

[2017-02-26 21:19] phoerious commented on #252
Is still this an issue?

[2017-02-26 21:20] phoerious commented on #88
Closing this in favor of #259 to keep things organized.

[2017-02-26 21:20] #88 closed

[2017-02-26 21:25] phoerious commented on #200
Is KeePassXC still using your disk root folder as default folder? For me it's showing the current working directory or the most recently used folder.

[2017-02-26 21:26] phoerious commented on #172
Closing due to lack of feedback.

[2017-02-26 21:29] jsoref commented on #200
Probably. Have you used a new profile, or trashed your preferences? I'm going to be installing it on another computer with a new account shortly, and I might try taking my preferences at some point...

[2017-02-26 21:33] phoerious commented on #200
KeePassXC saves the last directory you used. Which folder is used depends mostly on your platform's file dialog.

[2017-02-26 22:41] agharbeia opened #352 "non-Latin input script not working"
The AppImage doesn't detect the changing of the input language.

I cannot verify whether this is because it is a an AppImage is unable to detect installed keyboards and their status, or would also be present if installed as a system package, since 1) this is my first experience with an AppImage, and 2) I'm unable to install the DEB due to dependency mismatch:
`keepassxc depends on libqt5core5a (>=

[2017-02-26 22:45] phoerious commented on #352
I would assume this is related to #272.
Does the new keyboard layout work when you restart KeePassXC?

[2017-02-27 01:54] mattyjones opened #353 "[RFC] Packaging Repo"
I am actively working on packaging for Debian and have created a [repo][1] for it specifically.

This is a security application, as such it will be much easier to get it into Debian along with other OS's and make people feel better about it if the build tools and process were entirely transparent. Speaking again from a Debian POV, in order for it to be accepted it will need to be inspected and the

[2017-02-27 02:13] phoerious commented on #353
First of all, thank you very much for doing the Debian packaging for us. This helps us a lot!

We can surely provide an official packaging repository under the KeePassX Reboot organization, no problem at all (ping @droidmonkey).

[2017-02-27 02:57] droidmonkey commented on #353
https://github.com/keepassxreboot/keepassxc-packaging

Like magic! You can submit a PR to this parent repo when you are ready.

[2017-02-27 03:08] Ghosthree3 commented on #223
I can still reproduce it yes (and now am struggling to fix it again).

[2017-02-27 03:09] droidmonkey commented on #210
This is no longer an issue as I have been able to use the tray icon with the new snap. Now, granted the tray icon itself is not showing up... different issue.

[2017-02-27 03:09] #210 closed

[2017-02-27 07:44] mattyjones commented on #353
I am going to close this and I would think any further packaging talk could/should happen in the above repo by opening an issue there. Thanks for the quick response!

[2017-02-27 07:44] #353 closed

[2017-02-27 10:04] anatoli26 opened #354 "Auto-type disabled when building from sources"
Cmake shows:
[code]
It is invoked with: `cmake ..`

`libxi`, `libxtst` and `libqt5x11extras5` are all installed (dev and lib), all other packages as described at https://github.com/keepassxreboot/keepassxc/wiki/Set-up-Build-Environment-on-Linux are also installed (except the YubiKey ones).

## Environment
* KeePassXC version/commit used: 2.1.2 tag (b9279f7)
* Qt version (e.g. Qt 5.3): QMake versio

[2017-02-27 10:12] anatoli26 commented on #354
OK, found the problem with more digging.. cmake should be invoked this way: `cmake -DWITH_XC_AUTOTYPE=ON ..`

Why this option is not ON by default and this is not documented anywhere?

[2017-02-27 10:27] phoerious commented on #354
It is documented. Have a look at our wiki. https://github.com/keepassxreboot/keepassxc/wiki/Building-KeePassXC

We may enable the feature by default in the future.

[2017-02-27 10:27] #354 closed

[2017-02-27 11:23] anatoli26 commented on #354
I had, this document https://github.com/keepassxreboot/keepassxc/wiki/Install-Instruction-from-Source doesn't mention it, the INSTALL.md in the root of the repo (https://github.com/keepassxreboot/keepassxc/blob/develop/INSTALL.md) also have not a single mention.

The one you provide does mention it, but just as an example without explaining its meaning.

Who would want to build KPRC without auto-t

[2017-02-27 11:44] phoerious commented on #354
I think it's pretty clear what -DWITH_XC_AUTOTYPE=ON does, so it doesn't need any explanation. The only thing that may be confusing is why you need to explicitly specify it. But as I said, we may change that.

[2017-02-27 13:56] nabeelomer commented on #201
@louib The set supported by KeePass is enough, I just want to be able get my passwords over SSH, I don't even need to be able to write to the database.

[2017-02-27 18:20] CombleG commented on #197
Hi,

Just to say that i have the same problem..
Dropbox or GoogleDrive..
I want to use KeePassxc instead off KeePass, but i can because off this bug :(

[2017-02-27 18:21] CombleG commented on #197
Hi,

Just to say that i have the same problem..
Dropbox or GoogleDrive..
I want to use KeePassxc instead off KeePass, but i can because off this bug :(

[2017-02-27 18:23] Dunkh4n commented on #197
Hi,

Just to say that i have the same problem..
Dropbox or GoogleDrive..
I want to use KeePassxc instead off KeePass, but i can because off this bug :(

[2017-02-27 21:33] johnnydvc opened #355 "Low resolution application and notification icons, theme's off"
## Expected Behavior
keepassxc should stick to the general theme, maybe qt issue.

## Current Behavior

icons inside keepassxc and the indicator are very low resolution.

![screenshot-2017_02_01_221202-514x226](https://cloud.githubusercontent.com/assets/4787052/23380941/06b1f70a-fd3d-11e6-992d-b30be26a627f.png)

![screenshot-2017_02_01_221218-119x48](https://cloud.githubusercontent.com/assets/4787

[2017-02-27 21:52] phoerious commented on #355
This is a duplicate of #323 and #348 and will be fixed in 2.1.3.

[2017-02-27 21:52] #355 closed

[2017-02-27 22:37] matthewdavis opened #356 "Allow for deleting a custom favicon used by multiple entries"
## Expected Behavior

When attempting to delete a custom favicon the message "Can't delete icon. Still used by $X items" is displayed. Maybe make the '$x items' a link to the found items.

## Context

Reasons for this feature request are as follows
* Because when I clicked download favicon, if one is not found a default icon is used for that site. And because #232 still exists, numerous 'default'

[2017-02-28 02:21] droidmonkey commented on #356
A group can also have an icon assigned to it. This might be easier to implement by changing it to a question instead of an error.

"This icon is used by X entries, and will be replaced with the default icon if deleted. Are you sure you want to remove it?"

If you click yes it will take the enumerated entries and replace the icon with the default then delete the custom icon.

Perhaps an even better

[2017-02-28 03:50] droidmonkey commented on #356
I posted a fix, see if this fits your needs.

[2017-02-28 05:44] danielj-at-jumbo commented on #17
Related to #129

[2017-02-28 13:36] matthewdavis commented on #356
Just tested it and it worked great.

[2017-02-28 19:15] TheZ3ro commented on #354
@anatoli26

This document mention it and describe it clearly under the [Building extension](https://github.com/keepassxreboot/keepassxc/wiki/Install-Instruction-from-Source#building-extension) section

[2017-02-28 19:25] anatoli26 commented on #354
You're right, haven't seen it. Hope you'll turn it ON by default, as Janek said, to avoid confusion.

By the way, the app is better and better with every release. Great job, guys!

[2017-03-01 01:08] mrrsm commented on #75
@TheZ3ro Is this something you are working on?  If not I can clean up my code for this and make a PR.

[2017-03-01 02:11] elopio commented on #298
Just to comment here that if you don't want the snap to access the network, you can disconnect the plugs with `sudo snap disconnect`.

[2017-03-01 02:24] droidmonkey commented on #75
Does it have a nice GUI interface as described in my last comment on #274?

[2017-03-01 02:34] mrrsm commented on #75
My current changes create a popup when you clone an entry which gives you the option for references (along with a few other things). http://imgur.com/a/nYeYs
This works similar to how KeePass does it at least.

I should be able to change the edit entry page to pick a custom entry to reference as well if that is how you would like it to work.  At least in my use cases I rarely make a current entry

[2017-03-01 03:45] #356 closed

[2017-03-01 07:15] zootboy commented on #103
Yes, the issue is still present in 4061fc7.

[2017-03-01 09:32] nfnty opened #360 "Copy column field value on double-click"
## Expected Behavior

Column field value should be copied directly when double-clicked in the main view.

## Current Behavior

Either you enter the full entry view or clicking the URL field opens the link in a browser.

## Context

Partly depends on configurable columns, as reported in  #17.

Should be default on username/password fields and configurable for all fields.

Have been using KeePassX `

[2017-03-01 10:59] TheZ3ro commented on #75
@mrrsm currently I'm not working on it. I like the clone with reference idea and if it's the KeePass behavior I think we should go for it.
Unfortunately this is limited to Username and Password. I agree that most of the case that are the only useful field to reference but every field should be available for reference.
Maybe adding a nice gui/dialog for selecting references with a button next to th

[2017-03-01 12:23] droidmonkey commented on #75
@mrrsm that looks great and a good idea to put it with cloning.

[2017-03-02 11:33] jaltek opened #364 "Global Auto-Type key option is missing in preferences"
## Expected Behavior
Ability to set the global Auto-Type key combination in the application settings menu.

## Current Behavior
The option to set the global Auto-Type key combination is missing in the preferences.
There is also no ```GlobalAutoTypeKey``` in ```~/.config/keepassxc/keepassxc.ini```

## Your Environment
* KeePassXC version/commit used: ```Revision: b9279f73fa58d75e1ec88f734f3c77c0f01

[2017-03-02 11:39] droidmonkey commented on #364
Did you run cmake using ```-DWITH_XC_AUTOTYPE=ON```?

[2017-03-02 11:41] jaltek commented on #364
I'm using this openSUSE repo:

https://build.opensuse.org/package/show?project=security&package=keepassxc

According to the [RPM spec](https://build.opensuse.org/package/view_file/security/keepassxc/keepassxc.spec?expand=1) the flag is set, yes.

[2017-03-02 11:43] jaltek commented on #364
Side-note: This is the build log:

https://build.opensuse.org/package/live_build_log/security/keepassxc/openSUSE_Tumbleweed/x86_64

[2017-03-02 12:25] TheZ3ro commented on #364
Seems that the RPM spec is missing 2 dependencies for autotype: `libxi libxtst` (maybe on openSuse they have different names)

[2017-03-02 12:43] phoerious commented on #364
We should start generating CMake errors when Auto-Type is enabled, but libxi and libxtst are missing. People keep reporting these kinds of issues.

[2017-03-02 13:28] jaltek commented on #364
Filed a bug at openSUSE bug tracker.

https://bugzilla.opensuse.org/show_bug.cgi?id=1027653

Thank you guys for your help.

[2017-03-02 13:29] phoerious commented on #364
Thanks! I'll close this one here.

[2017-03-02 13:29] #364 closed

[2017-03-02 14:47] zzserg opened #366 "Cloud sync"
## Expected Behavior

Need sync with cloud storages, Dropbox, Google Drive, WebDAV, etc.

## Current Behavior

none

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* KeePassXC version/commit used: (can be found under Help -> About)
* Qt version (e.g. Qt 5.3):
* Compiler (e.g. Clang++3.6.0):
* Operating System and version:

[2017-03-02 14:58] RealOrangeOne commented on #366
See #242. Likely Duplicate

[2017-03-02 15:35] TheZ3ro commented on #364
@phoerious

I think it's a good idea...

[2017-03-02 15:42] droidmonkey commented on #366
Perhaps this fact needs to be on our website / FAQ?

[2017-03-02 17:02] louib commented on #366
@droidmonkey yep, maybe a new section in the FAQ `Why is syncing to cloud storage not implemented?`

[2017-03-02 17:31] mrrsm commented on #75
So where would you want to have the settings for cloning other fields? I was looking into that last night and the only option that didn't seem too obtrusive was to define in the settings globally what fields will get transferred as references when you clone.  This would then turn the replace username/password with replace fields with references.  My use case is just for user/pass references and I

[2017-03-02 17:37] phoerious commented on #366
Done: https://keepassxc.org/docs#faq

[2017-03-02 17:49] phoerious commented on #75
Make a PR with a couple of screenshots against develop and we'll work it out.

[2017-03-02 17:50] TheZ3ro commented on #366
I think it's good, but we will still receive Issue :smile:

[2017-03-02 17:52] Raphi111 opened #367 "Global autotype shotcut depends on layout"
## Expected Behavior
When Ctrl+Alt+A is set as global autotype shortcut, pressing it should trigger autotype, whatever the keyboard layout is.

## Current Behavior
When (for example) Ctrl+Alt+a is set as global autotype shorcut and the keyboard layout is set to 'be', the key triggering autotype is Ctrl+Alt+q (on be azerty keyboard, 'q' is where the 'a' is on a qwerty keyboard) and not Ctrl+Alt+a,

[2017-03-02 17:54] phoerious commented on #367
Duplicate of #324.

[2017-03-02 17:54] #367 closed

[2017-03-02 17:56] TheZ3ro commented on #75
What I was saying is. The reference used with KeePass syntax (see first post) needs to be available in all the fields.
If I enter in an entry URL `{REF:A@I:9831}` I expect to refer to the `9831` entry's URL.
The reference-parsing code should be enabled on all the entry's field. (like in https://github.com/keepassx/keepassx/pull/184/files)

Then when cloning user can automatically use reference.

[2017-03-03 11:13] agharbeia commented on #352
It seems so, @phoerious. If I start with Ar as the keyboard layout before launching KeePassXC, then I'm able to only use Arabic keyboard, and not switch to English.

[2017-03-03 11:34] #352 closed

[2017-03-03 14:18] weslly opened #369 "Crash when permanently deleting trashed entry inside search view"
## Expected Behavior
The program should not crash when deleting an entry from the recycle bin inside the search view.

## Current Behavior
When deleting an entry from the recycle bin, the program crashes immediately.

    Process:               KeePassXC [5687]
    Path:                  /Applications/KeePassXC.app/Contents/MacOS/KeePassXC
    Identifier:            org.keepassx.keepassxc
    Vers

[2017-03-03 16:00] phoerious commented on #369
I wonder how you are able to find things in the recycle bin at all using the search field. When I search for stuff in the recycle bin, I get no results.

[2017-03-03 16:30] weslly commented on #369
I deleted my recycle bin group and removed another entry to regenerate it. After this I couldn't find the entry in the search. Turns out my old recycle bin group had search set to inherit from the parent (root):

![image](https://cloud.githubusercontent.com/assets/107672/23559008/7e2e36f2-0014-11e7-8d8b-2bad4b5e1bf1.png)

I couldn't remember turning this on so I opened my database it on MacPass (w

[2017-03-03 16:34] louib commented on #369
@weslly thank you for reporting this issue! I was able to reproduce the crash on MacOS.

[2017-03-03 16:35] phoerious commented on #369
Thanks for the explanation. I can reproduce the bug with this setting.
Since there is an easy workaround, though, I don't think we will release another 2.1.x for this.

[2017-03-03 22:59] phoerious commented on #331
Guard or remove `link_libraries(ws2_32 wsock32)`

[2017-03-04 00:16] matthewblain opened #372 "Authenticode Code Signing (for Windows)"
Installer binaries and executables should be signed w/Authenticode.

I see the code is already GPG signed, but validating a GPG signature requires significant effort to validate, and the OS does not know about it. So most users will either blindly accept or reject the various Authenticode warnings (e.g. "This publisher could not be verified. Are you sure you want to run this software.")

If the bu

[2017-03-04 00:25] phoerious commented on #372
Code signing incurs quite a significant financial cost for us and right now there are no viable free certification authorities for open source projects (Certum made their previously free service a paid service recently). For that reason we cannot provide a signed Windows binary right now.

[2017-03-04 00:43] matthewblain commented on #372
Yeah, that's a valid issue.
It looks like StartSSL is about $60/2 years but they're controversial.
Comodo reseller http://codesigning.ksoftware.net/ lists $84/year.
Certum lists a free trial, or a cert (unstated validity) €28 if you have some piece of hardware, or €84 with their hardware.
(And it looks like you know this but be sure to countersign any release with /t or whatever the flag is, been

[2017-03-04 00:44] phoerious commented on #372
I don't like StartSSL. They were acquired by some Chinese company under dubious circumstances and they handled Heartbleed really badly.

[2017-03-04 01:48] droidmonkey commented on #372
Perhaps we can accept community donations to fund a proper cert.

[2017-03-04 01:54] droidmonkey commented on #369
Nice bug hunting!

[2017-03-04 02:13] phoerious commented on #372
We keep getting asked about whether we accept donations quite a lot actually. So maybe we could collection enough money.

[2017-03-04 03:34] droidmonkey commented on #372
OK so I just went ahead and started a pledgie campaign:

<a href='https://pledgie.com/campaigns/33487'><img alt='Click here to lend your support to: KeePassXC Authenticode Certificate and make a donation at pledgie.com !' src='https://pledgie.com/campaigns/33487.png?skin_name=chrome' border='0' ></a>

[2017-03-04 12:47] phoerious commented on #372
I added it to the website.

[2017-03-04 17:54] t4777sd opened #375 "Security: Protection from Key Loggers"
A password database like keepass is extremely vulnerable to a keylogger. If someone logs the password to the program, then the attacker will gain access to all user passwords.

As a result, maybe keepass should improve protection against key loggers? Some ideas I have:

1) As alternative to typing a password, give the users an option to "type" it on a virtual keyboard. In other words, a keyboard i

[2017-03-04 18:30] phoerious commented on #375
Secure desktops are very platform-specific and on-screen keyboards are very vulnerable to shoulder surfing and extremely inconvenient to use.

Generally, I'm not so sure if it is really worth the effort. Once you manage to install a key logger, you may also install any other kind of malware which we can't protect against. Nothing prevents a malware from simply waiting for you to unlock the databas

[2017-03-04 18:33] #369 closed

[2017-03-04 20:09] TheZ3ro opened #376 "List all Contributors and Translators in About Dialog"
## Context
Right now in the About screen only KeePassXC maintainers are listed.
We need to make a list of Contributors and Translators in the About screen.
<s>Also we should add the KeePassXC Team copyright in every file header (that has been modified since the fork) and list all the contributor in the COPYING file.</s>

[2017-03-04 20:14] t4777sd commented on #375
I understand its hard due to different platform specific issues, so maybe it is better for people to take efforts on their own platform (such as using some types of jailing or sandboxing in linux when available).

However, regarding the virtual keyboard, that is cross-platform and it does defeat most attacks. It would not be any more subject to over the shoulder attacks than what keepass has now.

[2017-03-04 20:14] TheZ3ro commented on #343
I like this. I will work on this after the #373 PR.

[2017-03-04 23:08] droidmonkey commented on #375
Once your system is compromised to this level, you have lost. Full stop. There is nothing we can do to prevent every type of attack.

[2017-03-05 12:09] ixnari commented on #343
Awesome, thank you! Looking forward to v2.2.0!

[2017-03-05 16:34] #75 closed

[2017-03-05 19:48] matthewblain commented on #372
Note that this exact same issue applies on the Mac--it won't even let me open KeePassXC without using the 'right click open' trick.
http://apple.stackexchange.com/questions/58509/how-can-i-open-a-single-app-by-an-unidentified-developer-without-allowing-all

[2017-03-05 19:50] phoerious commented on #372
Or
[code]
;-)

This is the stupidest "protection" feature I've ever seen.

[2017-03-05 23:53] allan2 opened #379 "Autotype spells username wrong"
When I perform autotype, it spells my username wrong in the input field.

e.g. username in KeePass entry will be allan@domain.ca

Expected input field: allan@domain.ca
Results:: alaln@domain.ca

Using default sequence.

## Steps to Reproduce (for bugs)
1. Create entry
2. Edit entry -> Auto-Type -> Add Window title -> Autocomplete to match Firefox tab
3. Perform Auto-Type

* KeePassXC version 2.1.2

[2017-03-06 01:42] goodloop commented on #269
@phoerious seems I am facing the same problem here. and there are no ~/.config/keepassxc/keepassxc.ini file in my home directory.  My environment is macOS 10.12.3, and use keepassX before.
Any hint?

[2017-03-06 07:17] vlenzer opened #381 "Add Two-Channel Auto-Type Obfuscation (TCATO)"
Hey guys,

what about adding Two-Channel Auto-Type Obfuscation (TCATO) from KeePass in KeePassXC? I think it would be a nice feature.
In case you don't know what it is:

The goal should be a safer Auto Type - to make work for keyloggers much harder.

[2017-03-06 08:22] bigbuffy opened #382 "CMake Error when compiling"
## Expected Behavior
Source should compile with Wiki instructions under Solus.

## Current Behavior
When compiling with the instructions I get this error:
[code]
KeePassXC does not compile.

## Possible Solution
not sure :(

## Steps to Reproduce (for bugs)
1.  Following the wiki https://github.com/keepassxreboot/keepassxc/wiki/Set-up-Build-Environment-on-Linux under Arch Linux. Installed all depe

[2017-03-06 08:43] TheZ3ro commented on #382
What version of CMake do you have?

[2017-03-06 08:44] bigbuffy commented on #382
Ok I feel stupid.. your supposed to make the build dir in the root of the git source.. I have gotten a bit further now, but I ran into this error:
[code]

Cmake version:
[code]

[2017-03-06 08:45] TheZ3ro commented on #381
We were talking about it here https://github.com/keepassxreboot/keepassxc/issues/20#issuecomment-252799731

[2017-03-06 08:56] bigbuffy commented on #382
Found a rabbit hole of dependencies through googling.. sorry for the trouble. I'll figure out the exact packages needed from Solus repositories. Looks like a majority of stuff is not bundled like other operating systems.

[2017-03-06 10:36] bigbuffy commented on #382
Here are all the build dependencies needed to compile on Solus successfully.

Might try to package it when I have time..
[code]

Thanks for the help!

[2017-03-06 10:36] #382 closed

[2017-03-06 11:39] phoerious commented on #381
Autotype obfuscation is IMHO absolutely useless. Why would an attacker want to log your autotype passwords when he can simply log your master key each time you unlock your database?

[2017-03-06 11:44] vlenzer commented on #381
@phoerious because a pure keylogger then has now every information to log in to a specific website. While the master key is useless without any information about savingpoint or keyfile.

But it seems as it is useless nevertheless as descripted it the linked comment.

[2017-03-06 12:07] phoerious commented on #381
When you can install a Keylogger, you can install anything, including a mal ware that abducts your password safe.

[2017-03-06 14:52] Throne3d commented on #381
I think the point is possibly that even if you're infected with a keylogger, it might not target any of your password databases whatsoever. You might be at high risk of getting another virus that *does*, of course, but if you get just the one virus in a freak accident and it does not abduct your password safe, only keylogs, this would keep you safe from it. It's about reducing the surface area of

[2017-03-06 14:55] Throne3d commented on #375
I think most platforms provide an on-screen keyboard anyway, which you might be better off using except for the added obscurity that would come with it being implemented through KeePassXC. I'm not sure it's really worth investigating adding a virtual keyboard module.

[2017-03-06 15:32] TheZ3ro commented on #381
TCATO works in a way that "Split it into two subparts (character-wise, like two flat intertwining combs). Copy/paste the first part, merge the rest by sending keypresses.".

A keylogger then can copy to the clipboard, listen to KEY_LEFT and KEY_RIGHT and calculate the original password. There are already PoC, not every keylogger can do this.

TCATO is useless against targeted attack, but can keep

[2017-03-06 15:40] Throne3d commented on #381
It seems worth considering, then, rather than dismissing out of hand? It's possible we don't want to put the effort into implementing this for the perceived gain, but the gain *might* be worth it.

[2017-03-06 15:42] TheZ3ro commented on #381
If someone is willing to work on it, IMHO is in the wishlist

[2017-03-07 00:34] phoerious commented on #379
Does this happen reliably or does it just mix up characters randomly? What happens when you add a delay to your Auto-Type sequence?

[2017-03-07 00:36] phoerious commented on #375
Closing this as out of scope. And as @Throne3d said, most platforms already have some sort of on-screen keyboard which you can use.

But have a look at #381.

[2017-03-07 00:36] #375 closed

[2017-03-07 11:59] phoerious commented on #272
Since we have this issue also in #324 with a better description, I'll close this again.

[2017-03-07 11:59] #272 closed

[2017-03-07 12:48] rgloor commented on #324
Still not fixed. Had problem again.
Yesterday, just installed KeePassXC v2.1.3.   and it worked again.
After restarting the system this morning. Problem is here again.
Closed KeePassXC, restarted it again. Now working again..... but not having any clue, what will trigger the misbehavior again.
So issue is still open.

[2017-03-07 16:52] allan2 commented on #379
The mixed up characters seemed reliable in order.
Now, the autotype always takes me to a different folder in my KeePass database. For one of my entries, it inputs my password into the search bar..

[2017-03-07 17:55] zpiman commented on #19
Question, in KeePass are the profiles saved in the global config file or are they part of the database?

[2017-03-07 19:18] TheZ3ro commented on #19
@zpiman I don't know, I need to test it out but I think they are outside the database.
PS: Are you planning to work on this?

[2017-03-07 19:21] zpiman commented on #19
I just had a look at the Keepass code and it looks like the profiles are stored in the local program configuration... Personally I think it should be part of the database since knowing ones password profiles can give an attacker an idea about what passwords he is using.  And yes @TheZ3ro, I am planning to work on this :smile:.

[2017-03-07 19:31] zpiman commented on #19
@TheZ3ro I notice you did some work on the diceware password generator. Would be nice to integrate it with the password profiles.... I am not yet fully familiar with all the options in the original KeePass password generator, but having something like `{diceware}-{diceware}-{diceware}-{diceware}` to generate a pattern of 4 random words or simply `{diceware: 4}` would be very nice. I am going to lo

[2017-03-07 19:33] TheZ3ro commented on #19
@zpiman Yes, I was asking since after the diceware I want to help with/develop the generator profiles

[2017-03-07 19:36] zpiman commented on #19
@TheZ3ro nice! I would be glad for any help/guidance... How far are you with the diceware?

[2017-03-07 19:39] TheZ3ro commented on #19
@zpiman Almost included, just 2 UI problems away https://github.com/keepassxreboot/keepassxc/pull/373

[2017-03-07 20:48] zpiman commented on #19
I think the password generator widget should get a redesign. First of all high ANSI is not supported yet (I know about #343 and I can't wait :+1: ). It would be nice to have that working first.
Next, all special characters are included in one set. I often have the problem that some apps allow say a space and other dont. I think the approach of splitting the class into 'minus','underscore','space',

[2017-03-07 21:13] TheZ3ro commented on #19
The high isn't implemented yet but, yes there will be different button for various characters groups.

The password generator UI is already pretty full.
I was thinking about a totally new view (like the password generator view) under the "Tools" menu where the user can create new password profile easily, friendly and with a simple UI.
Then in a different tab of the (new) password generator the use

[2017-03-07 21:18] phoerious commented on #19
I'm absolutely against making the password generator any more complicated than it is. Adding High ANSI characters is a nice feature and we can add it, but allowing the user to toggle usage of every possible character (sub)group would be absolute overkill. I know there are services which have stupid password rules and require character X to be present and disallow character Y, but they are quite ra

[2017-03-07 21:24] zpiman commented on #19
Absolutely agree @phoerious. My bad, I had my changes in mind for the the Password Generator under the Tools menu... I feel like that is the more 'advanced' menu where we could afford more options. In the widget I think we could leave it as it is and only add a button to get through to the more advanced Password Generator with profiles and patterns.

@TheZ3ro

[2017-03-07 21:29] phoerious commented on #19
That is the exact same widget and I wouldn't add too many options that one either. But having a slightly more advanced toolset for the stand-alone version is at least debatable.

[2017-03-07 21:35] zpiman commented on #19
@phoerious exactly what I have in mind, making the Tools>Password Generator stand-alone and more sophisticated

[2017-03-07 21:44] phoerious commented on #19
Keep in mind, that our goal is not to reach feature parity with KeePass. Our goal is to provide a solid and modern password manager and not to support every imaginable feature. KeePass IMHO has way too many options.

[2017-03-07 21:52] zpiman commented on #19
@phoerious I agree with you on all of this, and the clean simple UI of KeepassXC is one of the reason I am using it. However I still think that giving the users the ability to customize everything perhaps even through advanced text configuration can be beneficial for someone somewhere with some particular problem. For the same reason do I use i3. It is clean, the default works but you can tweak an

[2017-03-08 03:38] #45 closed

[2017-03-08 03:38] #111 closed

[2017-03-08 07:31] bipox opened #383 "Crash when deleting entries "for good", when selected via a search"
keepassxc 2.1.2

## Steps to Reproduce (for bugs)
1. delete entry
2. search for deleted entry using the search function
3. delete "for good"
4. app crash

Delete from the recycle bin folder directly works fine

## Your Environment
* Qt version: 5.8.0
* Operating System and version: Manjaro Linux x64

[2017-03-08 09:47] TheZ3ro commented on #383
Possible duplicate of #369

[2017-03-08 10:16] bipox commented on #383
You're right. Sorry 'bout that.

Great app btw.

[2017-03-08 10:57] TheZ3ro commented on #383
Thanks :) Closing this

[2017-03-08 10:57] #383 closed

[2017-03-08 19:52] dyskette commented on #61
Hello. Translation files are still keepassx, but I'm not sure if that should be an issue at all. So I just want to ask, is that going to change or is it going to stay that way?

I only notice when trying to make a package in rpm.

[2017-03-08 19:53] phoerious commented on #61
What do you mean by that? We have our own translation files.

[2017-03-08 20:43] dyskette commented on #61
Oh, sorry for the misunderstanding. I mean the name of the files, like `keepassx_XX.ts`.

[2017-03-08 22:41] phoerious commented on #61
We also still have some defines that are called KEEPASSX_*. We may replace those in the incrementally, but it's no priority.

[2017-03-09 00:36] lebarondemerde commented on #5
Someone created a [FreeBSD Port](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=217404). Should be a matter of time to KeePassXC come to FreeBSD Ports tree.

[2017-03-09 09:55] microcreators opened #384 "Locking the DB after locking the lap / hibernating"
## Expected Behavior
I use keepassXC pretty often during a day. I'd love to see a feature of automatically locking the DB after I'm done, which in my case usually is simply closing the lid or locking the account. I'm on OSX, but I imagine this would apply to other systems as well.

## Current Behavior
Currently, if the file was open and a laptop went to sleep (automatically, by closing it, by hibe

[2017-03-09 10:03] phoerious commented on #384
Duplicate of #135.

[2017-03-09 10:03] #384 closed

[2017-03-09 18:34] anatoli26 commented on #103
I'm testing the 2.1.2 for a week already and this issue has not appeared yet.

[2017-03-09 19:03] anatoli26 commented on #310
This setting was implemented from the beginning in the original KP and the global timeout setting was already requested in #100, with a corresponding printscreen of its implementation in the original KeePass. IMO, those who migrate from KP, won't have any issue with the new setting, moreover, they expect it.

My rationale for this setting is that one may have a short screen lock timeout (say 5 min

[2017-03-09 20:00] anatoli26 commented on #310
If you are interested in a Linux solution, there's an utility `xprintidle` which prints the time in ms since the last user activity (keyboard/mouse), quite robust, works well on unlocked and locked session. If you inspect its source code (http://archive.ubuntu.com/ubuntu/pool/universe/x/xprintidle/xprintidle_0.2.orig.tar.gz it's just 136 lines .c file) there are basically 3 functions: `XOpenDispla

[2017-03-10 06:35] rgloor commented on #324
Tracked it down a bit:
When I shut down my system (openSUSE LEAP 42.2), I usually leave KeePassXC running.
So when I start it up again, KeePassXC comes up as well after login.
What I found:
- When KeePassXC is started automatically, the keyboard mapping / layout is wrong (@ -> ").
- When I close KeePassXC and restart it again, everything works fine (@ -> @).

So when KeePassXC is starting within t

[2017-03-10 07:44] bipox commented on #269
Same issue, I'm using linux (manjaro). Permissions of the .config are ok.

[2017-03-10 09:26] therealmarv commented on #296
In the past I used seldom the mouse with KeepassX because search was working globally on KeepassX. Now everytime I select a group or created a new key the search is kind of broken for me (and I have to move the mouse to root for global search). I have no use case for non global search because I'm not a strict/tidied up person "this in this group, this in this group"... in a 2017 Google influenced

[2017-03-10 09:37] kflesch opened #385 "Latest versions need OSX 10.12"
DMG explains that Version support OSX 10.7.x

## Expected Behavior
should specify which is the base version of OS supported
## Current Behavior
App needs OSX 10.12 latest working version is 2.1.1
## Possible Solution

[2017-03-10 09:56] cslux opened #386 "UI recent database issues"
Hey everybody,

## Expected Behavior
1. When I click *Database -> Recent databases -> Clear history* the history is cleared from *Database -> Recent databases* and from the main view list widget *Recent databases*.

2. On startup select the recent databases instead of focusing the button *Create new database*, when there are recent databases.

3. When a recent database is selected in the main view

[2017-03-10 10:45] TheZ3ro commented on #386
1. Ok, I can reproduce that

2. It's not really a bug. Depends on user workflow.

3. We can add that, but currently the Recent database list isn't focusable with tab so you still need to click 1 time on one element to give it the focus so you can double click instead of single click

[2017-03-10 11:14] cslux commented on #386
2. Yeah, right! You can ignore that
3. Hmm, are you sure? I can focus it by pressing 3x TAB after startup and can select the elements with the space key, but pressing enter doesn't do anything. As a side note, the buttons at the main view get triggered with the space key, so, I would either change the behaviour so everything gets triggered with the enter key or instead of highlighting (selecting)

[2017-03-10 12:16] rockihack commented on #385
Instead of using the environment variable `export MACOSX_DEPLOYMENT_TARGET=10.7` in the release-tool script consider using `CMAKE_OSX_DEPLOYMENT_TARGET` to fix this issue.

https://cmake.org/cmake/help/v3.8/variable/CMAKE_OSX_DEPLOYMENT_TARGET.html

[2017-03-10 12:24] droidmonkey commented on #386
I concur with the need to catch enter in the recent database view.

[2017-03-10 12:25] TheZ3ro commented on #386
@cslux
3. Ok I was missing the space step :sweat_smile:

[2017-03-10 12:27] droidmonkey commented on #324
If you want to wait for events, use udev or similar. I would just add it to the end of your .bash_profile or equiv file.

[2017-03-10 12:39] phoerious commented on #385
According to the documentation, CMAKE_OSX_DEPLOYMENT_TARGET is initialized with the value of the environment variable. I also checked the generated Makefiles and the -mmacosx-version-min is set correctly.
We had one report like this before, but they fixed it by rebooting their machine. Since then we haven't had any reports about compatibility errors except this one.

[2017-03-10 12:41] phoerious commented on #324
I really think, this is tied to the Qt bug I linked above. KeePassXC gets the correct layout when it is already set, but when it changes during runtime, KeePassXC doesn't notice.

[2017-03-10 13:05] TheZ3ro commented on #385
I think @kflesch is using the `brew cash` package and that it's outdated (the first commit says 2.1.1)
Try the latest 2.1.3 version on the website, thanks

Also @phoerious we should open an issue on *cash* for updating the KeePassXC package (and remember doing that for every release)

[2017-03-10 13:12] kflesch commented on #385
Have redownloaded the latest version and now is fine. Sorry for the inconvenience.

[2017-03-10 13:12] #385 closed

[2017-03-10 13:12] TheZ3ro commented on #385
No problem :smile:

[2017-03-10 16:45] slevesque opened #388 "Automatic group reorder"
Can't reorder groups.

## Expected Behavior

Automatically reorder main level of groups on the left sidebar.

## Current Behavior

No possibility to reorder at all.

## Your Environment

Révision: 76dcfb5ed0c874f6a835ef0347ddf6098b149e9b

Use :
- Qt 5.6.1
- libgcrypt 1.7.2-beta

Extensions :
- KeePassHTTP
- Autotype

* KeePassXC version/commit used: (can be found under Help -> About)
* Qt version

[2017-03-10 18:57] droidmonkey commented on #388
Reorder is accomplished using drag/drop. Does this not work for you?

[2017-03-10 19:01] slevesque commented on #388
I didn't notice this. It works. But Its a little time consumming to do it on 200 groups. If we have an option do reorder automatically when we want to, it will be fine.

[2017-03-10 21:48] #26 closed

[2017-03-12 04:43] matthewblain commented on #372
Code signing isn't perfect but it's not stupid. Still has the 'and why should I trust these 'keepassxc folks' issue, but at least it can be traced back to you.
(And yes, I donated to your pledge drive.)

[2017-03-12 15:50] d3vas opened #392 "Autotype feature missing in KeepassXC snap package"
The snap package doesn't show the autotype action in the menu and context menu.

## Expected Behavior
Allow autotype when using the snap package of keepassxc

## Current Behavior
Installing the snap package of keepassxc hides autotype entries from the menu

## Possible Solution
Bundle what is needed to make this work inside the snap package

## Steps to Reproduce (for bugs)
1. Install snap
2. Open

[2017-03-12 16:26] droidmonkey commented on #392
This is my fault, I forgot to add the X11 libraries to the snapcraft build script so it never built the auto-type plugin (cmake guards FTW).

I have uploaded a new build of v2.1.3 that supports auto-type

[2017-03-12 21:40] phoerious commented on #372
No signature will ever prove that our code doesn't harm your PC. But a signature ensures at least that it comes from us and we're actually whoever puts their (business) name on the certificate and not some scammer from $STEREOTYPICAL_COUNTRY.

[2017-03-13 01:33] Keisial opened #393 "Sign git tags with the release key"
Release tags in the repository should be signed with the KeePassXC Release PGP key.

[2017-03-13 02:10] droidmonkey commented on #393
Any particular reason why? I don't see any reason why this is necessary. The release key is meant to enable you to verify built binary distributions as legit. It also is co-signed by three parties (TheZero, phoerious, and myself) and can be revoked at any time as a result by any one of us.

[2017-03-14 16:25] lebarondemerde commented on #5
Now, it is officially on FreeBSD: https://svnweb.freebsd.org/ports?view=revision&revision=436151

[2017-03-14 16:30] phoerious commented on #5
I'll add it to the website in the evening.

[2017-03-14 18:11] TheZ3ro commented on #148
KeePassX related PR https://github.com/keepassx/keepassx/pull/200

[2017-03-14 18:55] phoerious commented on #379
I cannot reproduce this, but I suppose adding a slight delay between key presses may solve this issue. There is also a PR for KeePassX that adds a 100ms delay between each keystroke, thus I suppose you're not the only one having issues. I guess we could make the delay configurable.

[2017-03-14 22:25] TheZ3ro commented on #379
You can test with the `{DELAY n}` sequence in autotype

[2017-03-14 22:57] zootboy commented on #103
I tested 2.1.2, and the issue is present for me. I suspect it's some odd interaction with Awesome WM.

[2017-03-15 10:33] swamp-fish opened #396 "Can't copy Custom Attributes"
Can't copy Custom Attributes that i've added in Advanced -> Additional Attribues. In Keepassx2 it works as it should.
## Expected Behavior

1) Right Click on the entry
2) Copy attributs to clipboard
3) Choose custom attribute that you created
4) Paste it anywhere
5) See your information pasted well

## Current Behavior

1) Right Click on the entry
2) Copy attributs to clipboard
3) Choose custom at

[2017-03-15 10:39] eternaltyro commented on #278
Can we push this to Milestone v2.3.0 instead of v2.2.0? This might involve a lot of discussion and would hold up v2.2.0.

[2017-03-15 11:02] swamp-fish opened #397 "A way to edit list of attributes in the upper part"
Add/remove visibility(including cutom ones) and rearrange attributes in the header that currently only has Title, Username and Url

## Possible Solution

![screenshot_20170315_124903](https://cloud.githubusercontent.com/assets/9247853/23945129/0377c180-097e-11e7-9330-0f69e83778a6.png)
For example,
1) Right Click on the Title
2) Edit
3) A new window will open that will have all shown attributes lis

[2017-03-15 11:44] TheZ3ro commented on #396
I'm using KeePassXC 2.1.3, Revision: 882115ecadb7fa6fcfb811d385d7491fa5c2f7a0

Everything works fine

[2017-03-15 11:52] Kaito23 opened #398 "Support multiple urls per entry"
Hey,

is it possible to add multiple urls to a single entry?
Maybe a cool feature?
(Working with passiFox)

Greetings Kaito

[2017-03-15 11:57] phoerious commented on #278
We will decide that once we have our clear roadmap for 2.2.0 and can see if we will manage to implement this in time or not. Right now there are lots of other features which are not finished or completely missing.

[2017-03-15 12:02] phoerious commented on #397
I would prefer a right click menu with a list of check options to toggle visibility and drag and drop for reordering columns.
I wouldn't list custom attributes, since they are not available in every entry and there can also be infinitely many, possibly making the list very long.  But a single column "Advanced attributes" would be possible.

[2017-03-15 12:05] phoerious commented on #398
You can only add one URL per entry. But you can add more as custom attributes when needed. 2.2.0 will also support references, so you create multiple entries referencing each other where only specific fields are different (e.g. the URL).

[2017-03-15 12:59] angelsl commented on #148
I will rebase my PR in a bit.

[2017-03-15 16:27] Huxly72 opened #400 "USB/Removable Drive Access"
i feel like i am just missing something really obvious here...but i cant seem to find it :(

## Expected Behavior
Open a db or key file from an external removable usb drive

## Current Behavior
When i try to open a db for key file from a usb drive, i cannot see the drive, i am restricted to my home folder only.

## Possible Solution

## Steps to Reproduce (for bugs)
1. Attach usb drive with key fi

[2017-03-15 17:09] phoerious commented on #400
Try our AppImage and see if it works. Snap packages have dedicated permission management and you might not have the needed permissions to access USB drives.

[2017-03-15 17:21] Huxly72 commented on #400
yes, it does work from the appimage.  perhaps you could add the removable-media interface as a plug for the snap package in a future release?

https://github.com/snapcore/snapd/wiki/Interfaces#removable-media

[2017-03-15 22:43] droidmonkey commented on #400
Ugh so many plugs....

[2017-03-16 02:00] droidmonkey commented on #396
Related to #68 ?

[2017-03-16 10:25] vaidotas-adf opened #401 "Autofocus Find input after opening database"
## Expected Behavior
After opening database find input dialog should be focused, that eliminates additional click or key combination to start searching.

## Current Behavior
Find input dialog is not focused.

## Your Environment
* KeePassXC version/commit used: 2.1.3
* Operating System and version: MacOS X El Capitan

[2017-03-16 10:46] ugoviti opened #402 "URL Opening doesn't pass {USERNAME} and {PASSWORD} variables correctly"
Hi,
thank you very much for the project...
I'm coming from KeepassX 2.0.3 and I using URL Opening with passing {USERNAME} and {PASSWORD} field.

With KeepassX works good, but from KeepassXC it doesn't works...

Example:

in the URL I have: rdp://{USERNAME}:{PASSWORD}@192.168.0.217

opening this link the {USERNAME} and {PASSWORD} are not passed as real values, ah that is the resulting launched URL

[2017-03-16 11:00] phoerious commented on #402
Adding the password to the URL is a pretty bad idea. You can find that in the process explorer and most likely also in your desktop logs.

[2017-03-16 11:01] phoerious commented on #396
I would assume so.

[2017-03-16 11:01] #396 closed

[2017-03-16 11:08] ugoviti commented on #402
I understand the idea... this is a feature of KeepassXC?
anyway rdesktop hide the password from the process list...
Now the correct way to handle the automatic connection to the server is via Auto-Type?

however, passing the {USERNAME} to the URL would be useful.

Would be great to have a settings to enable disable the passing of {USERNAME} and {PASSWORD} variables.

Kind regards

[2017-03-16 11:23] phoerious commented on #402
I'm not aware that we changed anything here that would prevent substitution of placeholders in URLs, but I also wasn't aware that it is possible.

[2017-03-16 11:45] TheZ3ro commented on #402
I will look into this ASAP

[2017-03-16 12:20] TheZ3ro commented on #402
Yes I can confirm this bug, I'm working on it. Thanks for the submission

[2017-03-16 15:31] phoerious commented on #68
The reason for this behavior is again KDE's automatic accelerators. KDE adds & characters everywhere to allow you to use Alt+<Character> to trigger an action via keyboard. So when you have an advanced attribute called "foo", KDE makes something like "&foo" of it, so you can trigger that action with Alt+F.
There is no way for us to find out if that & is actually supposed to be there or was added by

[2017-03-16 16:25] phoerious commented on #68
You can work around this problem by adding this to `~/.config/kdeglobals`:
[Development]
AutoCheckAccelerators=false

I've added an entry to our FAQ: https://keepassxc.org/docs#faq-kdeaccelerators

[2017-03-16 18:53] FlorinAndrei opened #403 "crash when switching to favicon"
## Expected Behavior
Download favicon, apply it to the entry.

## Current Behavior
Crash when clicking OK.

## Steps to Reproduce (for bugs)
1. Right-click a key entry, select View/Edit, select Icon.
2. Click Download Favicon
3. Click OK.

Do NOT click once on the favicon to select it after it's downloaded.

## Context
KPXC 2.1.3 on Mac OS X 10.12.3. I just started using it today.
The DB is shared

[2017-03-16 18:55] FlorinAndrei commented on #403
Correction: it crashes every time after downloading a new favicon, after you click once to select it, then click OK to apply. Basically the favicon thing is broken.

[2017-03-16 19:41] TheZ3ro commented on #402
@ugoviti I've submitted a PR, if you want to try if it works #405

[2017-03-16 20:12] #402 closed

[2017-03-16 20:18] phoerious commented on #403
I cannot reproduce the crash. Tried on both Arch Linux and OS X.

[2017-03-16 20:45] ugoviti commented on #402
Good job @TheZ3ro , just compiled and tested... works perfectly now!

Thank you very much!

Keep up the good job.

Kind regards

[2017-03-16 21:24] TheZ3ro commented on #402
Thanks @ugoviti :smile:

[2017-03-17 00:15] droidmonkey commented on #401
This seems like it should be a preference. Everyone has a different workflow when it comes to search and keyboard shortcuts. Frankly, hitting CTRL+F right before you search isnt that big of a deal.

[2017-03-17 00:18] droidmonkey commented on #403
Can you produce a stacktrace through gdb?

[2017-03-17 00:51] louib commented on #201
I'll close this one now that we have a first basic version of the CLI, that allows fetching passwords. New commands could be added as separate issues.

[2017-03-17 00:51] #201 closed

[2017-03-17 00:53] TheZ3ro opened #406 "Load custom attributes from CSV if there are any"
## Expected Behavior

When loading a database from CSV file, load extra columns as custom attributes using the column name as attributes name.

## Current Behavior

Loads only the default attributes column (Title, Username, Password, URL, Notes)

Maybe we can assign this to @seatedscribe

[2017-03-17 00:54] weslly commented on #403
This happened to me a few times before but I can't to reproduce now.

[2017-03-17 02:41] FlorinAndrei commented on #403
I cannot reproduce it on Ubuntu 16.04 (installed from snap), but on OS X it crashes every time.

I'll see if I can figure out how to get the stack trace.

[2017-03-17 03:32] FlorinAndrei opened #408 "using snap to distribute official packages on Linux is a bad idea"
Please don't use snap as one of the "officially recommended" ways to install your software on Linux. It's a new, untested technology, riddled with bugs.

On Ubuntu 16.04 snap completely breaks mounting USB volumes, either automatically or manually. And then when you try to get rid of it, it refuses to remove or disable the core package. There's an old bug open with Ubuntu for the failure of "snap

[2017-03-17 03:46] #408 closed

[2017-03-17 07:51] vaidotas-adf commented on #401
Having preference to enable autofocus would be great. I'm used to how Keepass on Windows works, where search autofocus is enabled by default.

[2017-03-17 09:35] seatedscribe commented on #406
Sure! I'll start asap.

[2017-03-17 11:51] phoerious commented on #408
I disagree. Snap packages are a good and secure way to install software. The only problem I have encountered so far is that Dolphin shows a lot of loop devices when snapd is running.
Also, we cannot support 10 different package formats for 20 different Linux distributions in 30 different versions. KeePassXC is getting more and more "native" packages on several distributions thanks to the community

[2017-03-17 12:20] droidmonkey commented on #408
In my limited experience with it through KeePassXC, I found snap to be awesome and "kinda terrible" at the same time. Here is a brief rundown:

Awesome-
1. Cross platform support, push the details to the snapd instead of on the app itself
2. Plugs and interfaces is a great idea and standard way to define interdependencies
3. User control over access. You can decide to unplug an interface at any ti

[2017-03-17 12:43] ugoviti commented on #402
Hi @TheZ3ro ,
I'm Sorry, but I discovered a little bug... if the password contains the percent '%' simbol, the first character after the %, is uppercased, example:

REAL PASSWORD = abcd%asd

is passed to the command, as: abcd%Asd

Thank you very much

[2017-03-17 13:06] mimmog opened #409 "Safari and Chrome Extension"
Hi, there is KeepassXC safari or chrome extension ? Where I can find all available extension ?

Thank you

[2017-03-17 13:19] phoerious commented on #409
There are no dedicated browser extensions, but KeePassXC is compatible with PassIFox and chromeIPass. You find those in the Mozilla add-on database and the Chrome web store.

[2017-03-17 13:19] #409 closed

[2017-03-17 13:23] TheZ3ro commented on #402
This is a different problem so you should open a different Issue.

Anyway I've tried it out,
Username is `Jo%hn` password is `sec%ret` this is the URL resolved:
![istantanea_2017-03-17_14-15-55](https://cloud.githubusercontent.com/assets/686894/24044642/6f6259ec-0b1c-11e7-9ea4-8454fdcbb137.png)

If I copy the URL this is the clipboard content `http://twitter.com/Jo%hn.sec%ret`
If I open the URL th

[2017-03-18 14:04] haenzet opened #411 "Class RunLoopModeTracker is implemented in both /usr/local/Cellar/qt5/5.8.0_1/lib/QtCore.framework/Versions/5/QtCore (0x103800e30) and /Applications/KeePassXC.app/Contents/Frameworks/QtCore.framework/Versions/5/QtCore (0x1031c0e30). One of the two will be used. Which one is undefined."
[code]
## Expected Behavior
App shall start without crashing

## Current Behavior
App crashes with error

## Possible Solution
unknown

## Steps to Reproduce (for bugs)
1. Start Keepassxc

## Context
Trying to start the app.

## Your Environment
Issue is same in dev and 2.3.1
* latest and 2.3.1 from source
* Qt 5.8.0_1
* cmake 3.7.2
* OSX 10.12.2.

[2017-03-18 14:07] #411 closed

[2017-03-18 14:08] phoerious commented on #411
Any reason why you closed this issue?

[2017-03-18 14:09] haenzet commented on #411
I just found #74, I guess this is the problem. Will re-open if it does not fix the issue.

[2017-03-18 15:57] redzacke commented on #403
Hi,
unfortunately I have the same problem reproduced in the same way.
+1

[2017-03-18 17:03] eNTi opened #412 "Auto-Type : Differentiate by parent window"
I want auto-type to realize the difference between the "Enter Password" window from Firefox and Thunderbird. They use the same title for the window (instead of adding the name of the program) and such I have to select one entry from a liste each time I (re-)start one of those programs. It's a minor annoyance but it adds up.

## Expected Behavior
Make an option or use the parent window info by defa

[2017-03-19 01:48] fourzerofour commented on #68
Thanks a lot! The workaround totally fixes the issue

[2017-03-19 02:52] Xant1k commented on #409
CKP better.

[2017-03-19 14:38] axujen commented on #103
Same issue as the people above, archlinux and awesome wm with keepassxc version 2.1.2

The creds window only appears after unlock the database and repressing the autotype keybind.

[2017-03-19 15:16] jheld opened #413 "GPG Snap package verify"
I've installed the snap package version for ubuntu, and I wanted to verify the GPG signature. How can I do this? Do I need to do this? I'll uninstall in the meantime, just in case.

[2017-03-19 15:47] hifi commented on #103
No repro on Xfce. Focus follows mouse is enabled and the target window was under my cursor the whole time.

[2017-03-19 16:15] bipox opened #414 "No Bépo keyboard support (french dvorak), problem with autotype"
It will enter login information wrong, for example what should be "bépo" will become qwer (on a qwerty configuration).
I understand this is not a priority, and I'm no developer, but if I can help in any way with this I'd be happy to.

[2017-03-19 16:21] PeterM-9 opened #415 "Same database file for several local users"
I expected to be able to use the same kdbx file for several users on on machine (one after the other not opening the database at the same time) by placing the file in a folder available to all, adding all users to group "keepass" and giving group "keepass" w/r permissions on the file.
However it seems, that only the owner of the kdbx file can open the database (and unlock it with the password). Wh

[2017-03-19 16:38] 97-109-107 commented on #296
Is there a chance of maybe introducing a keybind for going to root level and laucnhing search?
For example, regular search is launched via ``^f`` while root-levele search could be bound to ``^F``

[2017-03-19 16:48] TheZ3ro commented on #414
I think it's a duplicate of #324

[2017-03-19 17:10] bipox commented on #414
Yes, probably. However phoerious is able to make it work when restarting the program, as I can't make it work, be it starting manually after boot, or closing and relaunching it.

[2017-03-19 18:00] droidmonkey commented on #413
There is currently no way to sign a snap package unfortunately. You can confirm that the author is me (droidmonkey) on the Ubuntu store.

[2017-03-19 18:01] droidmonkey commented on #415
You are probably not doing the permissions correctly.

[2017-03-19 18:01] droidmonkey commented on #296
Not a bad idea at all

[2017-03-19 18:43] TheZ3ro commented on #296
The new shortcut maybe can insert the #239 keyword for global search @droidmonkey

[2017-03-19 19:39] droidmonkey commented on #296
I'll make these things my next contribution

[2017-03-19 20:48] darkneptune opened #416 "keepassxc + PassIFox doesn't work with 'Iceweasel(hardened-preferences)'"
keepassxc + PassIFox doesn't work with 'Iceweasel(hardened-preferences)'

## Expected Behavior
passwords should be fieeld in the web pages.

## Current Behavior
no data is filled in the web pages. And PassIFox contextual menu to fill in doesn't work.

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* KeePassXC version/commit used: 2.12 (can be

[2017-03-19 20:54] noraj1337 commented on #191
Supporting AES Twofish will allow to support Twofish Database generating from KeePass.

It is a very common problem : a user create a Twofish database on KeePass 2 under Windows and then go to Linux and want to open the same database with KeePassX/KeePassXC but can't because it only support AES Rijndael.

[2017-03-19 21:32] PeterM-9 commented on #415
All users are in group keepass and the group has read/write access to the file, what other permissions could there be to set?
When the owner of that file (whoever that is in any a given moment) opens it, all works fine.
@droidmonkey do you mean to say, that you are sure my szenario is supposed to work?
Thanks for any tipps

[2017-03-19 21:52] Barjea opened #418 "Open URL not working in snap distribution (menu and shortcut)"
KeepassX 2.0.2 with Firefox 52.0 Ubuntu 16.04
select an entry right click menu 'open URL' it opens the corresponding URL -> OK
vs
KeepassXC 2.1.3 with Firefox 52.0 Ubuntu 16.04
select an entry right click menu 'open URL' nothing happens as if this menu is not active. -> not OK
select an entry  CTRL U nothing happens -> not OK
all other shortcuts are OK

tried Chromium : same behaviour KeepassX 2.0

[2017-03-19 21:53] seatedscribe commented on #406
As we are on this, why not add the Entry/Notes input column as well?
I think it is a more thorough approach (and the GUI is a little more pleasant to look at :grin: )

[2017-03-19 22:32] phoerious commented on #406
Whatever you think is useful.

[2017-03-19 22:37] phoerious commented on #416
Can you test if it works with KeePass2 and the KeePassHTTP plugin?

[2017-03-19 22:39] phoerious commented on #191
Twofish support is already implemented and will be part of 2.2.0. If you need it now, you can compile the develop branch.

[2017-03-19 22:43] phoerious commented on #415
Permissions on that file must be 664 for that to work and you cannot have any additional restrictions via, e.g., AppArmor or SELinux.
We do not put any restrictions on who can access the database file in addition to your file permissions, so this is not a KeePassXC problem.

[2017-03-19 22:43] #415 closed

[2017-03-19 22:46] phoerious commented on #418
Can you try the AppImage or DEB and see if it works? This might be the following problem: https://keepassxc.org/docs#faq-ubuntushortcuts

[2017-03-19 22:57] noraj1337 commented on #191
@phoerious : Thanks, that's good to know. I don't need it, I'm patiently waiting for KDBX4 support. Is there a release date for KDBX4 or is it too early? And does KeePassXC has a roadmap page?

[2017-03-20 01:24] darkneptune commented on #416
Hi,

I've tried 3 different password managers: 'keepass' 'keepasx2' and
'keepassxc'.

Together with 'keefox', 'passIfox' web plugins and have copied
'keePassHttp.plgx' into /usr/share/keepassx2.

No results. :(

In other web browser (like 'Icecat') they works:

keepass + keefox
or
keepassxc + passIfox

In 'Icedove (hardened-preferences)', even the message 'keepassfox has
not been configured' doesn

[2017-03-20 01:29] purachina commented on #413
Looks like “keepassxreboot” for me.
![](https://cloud.githubusercontent.com/assets/24848379/24086711/afcc6cee-0ce2-11e7-86ae-37ddb97dc503.png)

[2017-03-20 01:41] phoerious commented on #416
This is not a KeePassXC issue then. You should make sure your browser plugin settings are correct and if they are, file a report to PassIFox.

[2017-03-20 01:41] #416 closed

[2017-03-20 03:40] droidmonkey commented on #413
Yes sorry, that is correct. I changed my developer name to reflect the "organization" name we have.

[2017-03-20 10:24] Barjea commented on #418
Hi Janek,

I have tried all 3 options together :*no result*
"

*Why do the tray menu and in-app shortcuts not work on Ubuntu/Unity?*
    This is a bug caused by |appmenu-qt5|.
    You have 3 options:

      * Remove the |appmenu-qt5| package
      * Set the environment variable |UBUNTU_MENUPROXY=''|
      * Set the environment variable |QT_QPA_PLATFORMTHEME=''|

    *Note:* When you choose the fir

[2017-03-20 20:07] KalleDK commented on #278
The one thing I really like KeeAgent for is the abbility to have the program popup to grant access each time a program tries to use a key. This also works with agent forwarding.

If ssh-agent and pageant had this, I would not need KeeAgent.

![image](https://cloud.githubusercontent.com/assets/574334/24119340/17df7aaa-0db1-11e7-8bdd-aecc477b4155.png)

[2017-03-21 00:01] phoerious commented on #418
When  you set the environment variable in /etc/environment you have to re-login for the changes to be applied. Better set the environment in the terminal with
[code]
and then start KeePassXC from the same terminal instance. But when you didn't have appmenu-qt5 installed in the first place, it's not an appmenu-qt5 bug. When it only happens for the snap package, then we are probably missing some plu

[2017-03-21 03:15] droidmonkey commented on #418
This is rather awkward... I found this resource: http://www.ktechpit.com/linux/using-xdg-open-snap-package-open-external-url/

That fix works for normal URL's. There is still a problem with the cmd:// syntax since that uses QProcess to launch the command. This can probably be fixed in a similar manner??

[2017-03-21 14:41] FMuro opened #421 "Aesthetics"
So far, I've run the Fedora unofficial package. I've just tried the AppImage. I'd like to use it, because it's an official way to install KeePassXC, but it doesn't integrate in Gnome. I've tried hard to run it with the nice Adwaita Qt5 theme by all means known to me, but I've consistently failed. I don't really know how AppImages work. Is it maybe the case that they can't pick Qt themes which are

[2017-03-21 14:50] phoerious commented on #421
The AppImage cannot pick up your system theme when your Qt binaries are in a different location than on the system the AppImage was built on. That's simply a limitation of how AppImages and Qt themes work.
We were thinking about bundling a theme, but that wouldn't make things better. It might look good on your platform, but surely not on mine or many other platforms.

If you want perfect system in

[2017-03-21 14:50] #421 closed

[2017-03-21 15:49] schiorean commented on #210
I can confirm, Snap install it show the "empty" tray icon.

[2017-03-22 07:26] nellistc commented on #28
Seems that for regular use, the original KeePassHttp plugin does not rely on the TriggerUnlock value being true. This appears to be an override for when the option in the plugin to unlock the database is not enabled.

[2017-03-22 08:57] swamp-fish commented on #397
The way you described it could really result in long unusable list. The way i described it you'll have everything managable. It would be nice even to have a filter for each section. Maybe i described everything bad. My proposal is to get similar to Smplayer way of changing elements in toolbars but with filter on top of each list.

[2017-03-22 11:05] phoerious commented on #397
I know what you mean, but we only have a very limited number of options. I would like to do it the way most file explorers do it for their columns.

[2017-03-22 11:09] fcore117 commented on #231
With every release it becomes better and better, now i have used it weeks and works great. Deleted old bloat and slow keepass.

I am great user of usb3x raid drives and constant keepassxc re-configuring is quite a pain, i hope devs will find very best solution for portability that works on Linux and on Win.

[2017-03-22 12:12] schiorean opened #423 "Global application shortcut"
Hello,

What would be nice to have is a global app shortcut that simply opens the application main window. Very nice to have if one is working a lot with the application instead of opening it from sys tray using mouse.

P.S. Apologizing if feature requests should be added somewhere else.

[2017-03-22 16:05] TheZ3ro commented on #423
This is a duplicate of #99

[2017-03-22 16:06] #423 closed

[2017-03-23 02:33] droidmonkey commented on #296
Ok so i implemented the option to perform a global search. Works great. Some implementation questions:

1. Should CTRL + F always perform a scoped search?
2. Likewise, should CTRL + SHIFT + F always perform a global search?
3. Should the last form of search be remembered?

[2017-03-23 04:16] boconnell opened #424 "Hangs when not run as superuser"
## Expected Behavior
I can run keepassxc as a normal user and it shouldn't hang. At the very least, it should provide an error / timeout on whatever is causing it to hang.

## Current Behavior
I can only run it as a superuser.

## Possible Solution
Not sure. I installed keepassxc via unofficial debian stable package (and am running debian stable) using sudo but am otherwise running as a normal use

[2017-03-23 09:21] 97-109-107 commented on #296
@droidmonkey My reasoning for doing _1_ and _2_ the way you outlined would be the following:
Given that the user is now in a nested folder (_root → scope [selected]_) it would seem natural that the user needs to perform more work (ie press an extra modifier) to move out of the said scope - because _root_ is farther away.

[2017-03-23 09:43] TheZ3ro commented on #296
@droidmonkey I think that 1 and 2 should be Yes and 3 should be No.

Also how do you want to implement the remember scope? If you use CTRL+F for the last form of search and CTRL+SHIFT+F for the global-only, how do you set back the scoped search?
Using CTRL+F for the last form and CTRL+SHIFT+F for the other one (if last is global, the other is scoped) ?

I think this will be a pain for users, using

[2017-03-23 09:46] TheZ3ro commented on #424
Can you post the permission for the `~/.config/keepassxc/keepassxc.ini` file in your home folder?

[2017-03-23 10:04] therealmarv commented on #296
(sorry for the hard words):
Original KeepassX used option 3 and I would love that KeepassXC behaves the same. It is the best for all adopters of original KeepassX because you don't break existing workflows. I have no problem with breaking changes in new features or if it increases security but please don't touch my search workflow I use since my long long time ago Windows times where I used Keepas

[2017-03-23 10:06] schiorean opened #426 "Auto-Type {CLEARFIELD} not working"
I want to make sure that user name and password fields are cleared. So I setup the auto-type sequence as {CLEARFIELD}{USERNAME}{TAB}{CLEARFIELD}{PASSWORD}

## Expected Behavior
I expected that user name and password fields will be cleared.

## Current Behavior
The fields weren't cleared, just like {CLEARFIELD} was non existent.

## Possible Solution

## Steps to Reproduce (for bugs)
1. Set auto-ty

[2017-03-23 10:10] TheZ3ro commented on #426
I'm aware of this bug and I'm surprised it was never added as an Issue

[2017-03-23 10:17] TheZ3ro commented on #296
@therealmarv I understand your point of view but think of a modern file manager, if you are in a folder and search you will only find element inside your folder, not all elements from the root or C:/ drive. That's the points in having folders.

Maybe we can add an option for global search in the Find icon dropdown (that now is used for case sensitive) that can be enabled/disabled and remembered. @

[2017-03-23 10:22] therealmarv commented on #296
@TheZ3ro yes I know. I proposed Ctrl+Shift+F but I changed my mind about it. It was like a quick solution/workaround but this program "the Keepass family tree" has some history and now I think this should not have be changed in the first place. It's bad for KeepassXC to behave at that point different than KeepassX and Keepass.

[2017-03-23 10:49] phoerious commented on #296
Maybe use Ctrl+F for global search and Ctrl+Shift+F for explicit scoped search?

[2017-03-23 11:13] seatedscribe commented on #296
Forgive me if this topic has already been discussed in detail, but I'd like
to dig a little more to make sure we are considering all the aspects...
before going to decide *how* to solve I'd want to define well *what* is the
real issue.

So can somebody give some user case where a global search by default is
*not* recommended?

These days any search would be trans-folder, as someone pointed out
alr

[2017-03-23 11:39] TheZ3ro commented on #296
Really IMHO searching in a specific group if a group is selected is the natural behaviour, like stated in #16

In a modern file manager if you are in a specific folder and you search you get only file from inside that folder. On google if you set language to French you get only french result.

I don't see why selecting a group (that is essentially a filter) and searching mean that you want to sear

[2017-03-23 12:00] phoerious commented on #296
I can understand why you would want to search across all folders. It happened to me a couple of times that I selected a folder, copied a password, hid the password manager, opened it again and wanted to search something else, but still had the old folder selected. In those cases, restricted search can be quite annoying.

[2017-03-23 12:23] seatedscribe commented on #296
I think we should always put things into context. My experience with
password managers so far, for example, are that folders are useless when
all I need is already provided, which is a search capability onto all the
fields of a record. I use them only if I want to split a db so as  to group
the records that I need to move.

As a counterexample, 'locate' command in Linux does not limit itself to th

[2017-03-23 12:31] therealmarv commented on #296
Just some examples against filtered search first is natural and default on tree view styles:

* [ ] - macOS search in Finder is always global and optional based on current directory.
* [x] - On Windows 10 search in the Explorer search bar is indeed based on current folder (and sub folders).
* [ ] - Evernote search is always global and optional filtered.
* [ ] - Slack, search is global first
* [ ]

[2017-03-23 12:44] TheZ3ro commented on #296
@seatedscribe I can provide you an use case against global search, for example:
I have multiple account on a single website (like multiple mail or Twitter account or such), one account is in the Personal group and others are in different group. I'm in the Personal group and search for "Twitter" or "email" and now I get a bunch of account that I don't need. (Note: Also items in the RecycleBin are d

[2017-03-23 12:46] phoerious commented on #296
Only if you have enabled search for the recycle bin, which should be off by default.

[2017-03-23 13:11] therealmarv commented on #296
This is not normal nowadays to speak in the language of https://github.com/keepassxreboot/keepassxc/issues/16#issue-180562663 It's not how UX works nowadays in the year 2017.

Here some more examples where you have global search first no matter in which group/tree level/sublevel you are:
* Trello
* Gmail
* Google Drive
* Yahoo Mail
* Outlook
* eBay
* iTunes
* Wunderlist
* **Keepass**
* **KeepassX*

[2017-03-23 13:34] TheZ3ro commented on #296
This reminds me of a XKCD https://xkcd.com/1172/

So the alternatives are:
 1. Always search globally (like KeePassX, revert #16)
 2. Scope-based search based on current group (like KeePassXC currently)
 3. Scope-based default with a shortcut for clear the scope filter and search globally
 4. Global default with a scope option that is remembered (image below)

![istantanea_2017-03-23_14-32-59](htt

[2017-03-23 13:35] skypanther commented on #296
I see it this way: you're either the type that organizes your stuff into folders (to make it easier to find) or you're more free-form with lots of entries in a few big buckets (and the hope that you'll get organized someday :smile:).

If you're well-organized, your folders are logically named and nested, with only a few entries in each. In such cases, search-within-a-folder is largely irrelevant b

[2017-03-23 13:45] seatedscribe commented on #296
On 23 Mar 2017 13:44, "TheZ3ro" <notifications@github.com> wrote:

example:

Twitter account or such), one account is in the Personal group and others
are in different group. I'm in the Personal group and search for "Twitter"
or "email" and now I get a bunch of account that I don't need.

@thezero this is easily handled already in KXC, and global search only make
it even frictionless!
Try this use

[2017-03-23 13:45] TheZ3ro commented on #296
@skypanther as I said before if you are not well-organized you can click on Root group and search globally.

Someone can have 4-5 groups with many entries inside. One group for personal things, one for work, etc. If I want to search for my personal email and I have the Personal group selected and I simpy search for "Gmail".
I don't care about my work gmail account when I'm at home with my Personal

[2017-03-23 13:48] Gerii commented on #296
How about both showing both results?
I.e. having a category in the search result called 'local matches' and after that a category called 'global matches'.

[2017-03-23 13:49] TheZ3ro commented on #296
**please take a look at https://github.com/keepassxreboot/keepassxc/issues/296#issuecomment-288720610 and comment what would you like to have in KeePassXC, eventually propose other alternatives. Thanks**

[2017-03-23 14:01] seatedscribe commented on #296
I am for the alternative n. 4, as @thezero is, but with the 'limit search to group' option disabled by default.

[2017-03-23 14:06] therealmarv commented on #296
No. 4 is good for me! 👍

[2017-03-23 14:06] TheZ3ro commented on #296
@seatedscribe yes, 4 is "Global default"

[2017-03-23 14:09] thezero commented on #296
@seatedscribe pls stop tagging me, you're talking to @TheZ3ro :)

[2017-03-23 14:15] seatedscribe commented on #296
Doh, replying by mail means no tag hints and relying only on my poor memory, @thezero. Ooops, I did it again (only to reach to you and ask for your forgiveness, I swear!) :smile:

[2017-03-23 15:09] tonnydourado opened #428 "Accented characteres don't work in the master key input field on Linux"
My master key has some accented charactes in it (like á, é, ç, ó, ú, ñ, etc), but the accent is not inputted in the master key field, so I can't unlock the database. I typed it in other window and copied to the master key input field and it worked, though.

## Expected Behavior
When I type a accented character in the master key input field, it should input the accented character

## Current Behavi

[2017-03-23 15:12] seatedscribe commented on #428
Tried on KXC 2.1.0 and accents are displayed correctly.

On 23 Mar 2017 16:09, "Antonio Dourado" <notifications@github.com> wrote:

[2017-03-23 15:36] phoerious commented on #296
This approach doesn't scale well. I have hundreds of passwords. I can't possibly keep them all organized in little sub groups, especially since most of them are simply web service logins of some kind. Dividing them into subgroups doesn't make any sense and I can only remember where I put a specific password for a very limited number of them.

I vote for @TheZ3ro's  suggestion No. 4 with default to

[2017-03-23 15:49] TheZ3ro commented on #428
@tonnydourado are you using the Snap package?

[2017-03-23 16:06] azrdev opened #429 "Allow to select entry if window not found on auto-type"
This is a feature request.

## Expected Behavior

1. Select a window for which no auto-type is configured
2. Press the global auto-type shortcut
3. (optionally: unlock your database)
4. Select an entry in your database to be auto-typed

## Current Behavior

instead of 4. there is a warning message like "could not find an entry with matching window title", which can only be dismissed with "OK".

##

[2017-03-23 17:03] piedrok opened #430 "Starting keepassxc doesn't choose the last database though option is ticked"
When I choose the setting "load last database at start" and restart the program, I always get asked to choose a database anyway - the option does nothing it seems...

I suggest the option to be removed (if not working anyway) or to be fixed.

## Context

I use gnome on arch and I want to start keepassxc once a session and then leave it in the background.
I do not want to change my local database a

[2017-03-23 17:51] danyill commented on #296
No. 4 sounds good.

Without global search, I (who am often disorganised) will sometimes search for a website, go to the containing folder (not always but from time to time), copy and paste credentials as necessary (if I am not autotyping) and then continue with my task.

Some time later I return to Keepass for a completely separate "password event" and search again, only to get no results because

[2017-03-23 19:53] tonnydourado commented on #428
@TheZ3ro No, the AppImage package.

[2017-03-23 19:55] phoerious commented on #428
Can you try the DEB package, please?

[2017-03-23 20:01] tonnydourado commented on #428
I didn't really want to run a unofficial package, but I'll give it a try

[2017-03-23 20:07] tonnydourado commented on #428
Tried, can't install any of the .deb packages in Ubuntu 14.04, they all have unsolvable dependencies (libgcrypt20 >= 1.7.0 for testing and unstable and libqt5core5a >= 5.3.0 for stable)

[2017-03-23 21:21] gitarra opened #431 "Snap Ugly GTK default theme (raleigh)"
I installed keepassxc from the snap on Xubuntu 16.04 and the application looks ugly.

It is using the default gtk theme which probably isnt supposed to happen?

Screenshots:

![screenshot_1](https://cloud.githubusercontent.com/assets/4739888/24270762/255384a4-101f-11e7-9167-ab2489abe3ac.png)
![screenshot2](https://cloud.githubusercontent.com/assets/4739888/24270769/28edab08-101f-11e7-9dbd-b898e22f

[2017-03-23 21:22] gitarra commented on #431
I am also wondering why it uses an old beta version of libgcrypt?

[2017-03-23 21:28] gitarra commented on #431
Looks like it doesnt register a mime type either so that database files would be registered for the application and show a nice icon etc

[2017-03-23 22:37] droidmonkey commented on #426
Can this also be implemented as a generic config option? (e.g., Always clear fields before autotype)

[2017-03-23 23:21] droidmonkey commented on #296
I will implement num 4, and not implement CTRL+SHIFT+F as it is wonky.

I will propose a new shortcut for those that don't want to enable global search always: CTRL+R. select the root group

[2017-03-24 02:59] droidmonkey commented on #431
Noted. Snaps have been a journey... The packages that build the program are all from ubuntu 16.10 i presume. Not sure why there is a beta gcrypt, never noticed that!

[2017-03-24 04:53] mkasberg commented on #430
I'm using KeePassXC 2.1.3 on Ubuntu 16.10 and that option works great for me.

The setting is stored at `~/.config/keepassxc/keepassxc.ini`. Does KeePass have access to that location on your system?

[2017-03-24 09:34] rockihack commented on #411
My patch for macdeployqt was merged into qt dev branch.
The workaround is not needed anymore with next qt update or earlier if homebrew backports the fix.

https://github.com/qt/qttools/commit/8f9b747f030bb41556831a23ec2a8e7e76fb7dc0

[2017-03-24 11:14] paolostivanin commented on #430
same setup (arch x64 + gnome) same issue!

[2017-03-24 11:17] paolostivanin opened #432 "Security audit payed by crowdfunding?"
I was thinking that after release 2.2.0 (which will bring a lot of new stuffs) it would be nice to have a security audit being made by  a third party. Of course this requires money but I think the amount could be easily found by setting up a crowdfunding campaign.

What do you think?

[2017-03-24 11:32] phoerious commented on #432
If we actually manage to raise enough money, I'm all for it. We have thousands of users already, but I don't know how many of them are actually willing to contribute financially. Our fundraising campaign for the Authenticode certificate went rather slowly.

[2017-03-24 11:36] paolostivanin commented on #432
@phoerious I think it's worth a shot. Worst case nothing happens :)
Maybe this time we can try to involve more users to share the link to all the social networks!
We can also try also by posting on reddit, hackernews, by contacting major website like omgubuntu, etc.

[2017-03-24 11:40] schiorean commented on #431
Snap package doesn't display the keepassxc tray icon to me (Ubuntu 16.04.02). I gave up on snap and use appimage which looks ok until now. You may try appimage instead, although I'm not sure if appimage has to be updated manually when a new version is released.

[2017-03-24 12:12] weslly commented on #432
While I would love to see that happen, it probably would be a wasted effort right now since a serious security audit costs a lot of money (we are talking about thousands) and I don't think KeepassXC is nearly popular enough to raise that much money.

Even the original Keepass app which has been around since 2003 and probably have hundreds of thousands of users, only got their [1st security audit l

[2017-03-24 12:34] paolostivanin commented on #432
[code]

I am no security code experts but I have read online that an estimate could be:
1 kLOC/hour
150 USD/h

64 (KLOC) * 150 (USD) = 9600 USD. Sounds reasonable :)

[2017-03-24 12:53] schiorean commented on #431
if libgcrypt 1.7.2 is old then mine is even older?

[2017-03-24 16:11] phoerious commented on #431
Can you try unsetting `$XDG_DATA_DIRS` in the terminal and then run the KeePassXC snap from there?
[code]

[2017-03-24 16:12] phoerious commented on #432
The thing is, before we do anything for a security audit, we need to increase our test coverage.

[2017-03-24 22:16] flyinbutrs opened #433 "Feature ReQuestion: References / links support?"
I'm not sure if this is already supported or if this is a feature request, but is there a way to create / utilize references like [described here](https://superuser.com/a/870509/74640) for Windows keepass2?

[2017-03-24 22:37] TheZ3ro commented on #433
Currently there isn't a nice GUI for inserting references beside when duplicating/cloning an entry. (Like https://superuser.com/a/434046) But if you manually insert the reference code and KeePassXC will interpret the reference correctly

[2017-03-24 22:40] TheZ3ro commented on #432
And maybe have a stable version

[2017-03-24 22:40] flyinbutrs commented on #433
Could you elaborate on how to do that exactly? What would I put as the password in entry A to reference the password for entry B?

[2017-03-24 22:54] TheZ3ro commented on #433
@flyinbutrs Yes, the complete reference format is described on [KeePass website](http://keepass.info/help/base/fieldrefs.html).

Currently you will need to build KeePassXC form source from the develop branch and the only way to link references is by using entry UUID.

So if you want to do this right now you have to:
- Go in the entry you want to reference and from the *Property* section copy the *

[2017-03-25 06:45] schiorean opened #434 "GUI Scaling problem"
The App GUI is scaled too large, almost the entire screen. My screen resolution is 1920x1080.

## Expected Behavior
Normale window size.

## Current Behavior
Huge window size.

## Steps to Reproduce (for bugs)
I'm not sure, but what I have is a laptop that I usually keep it connected with another external monitor when at work. So what I did:
1. Installed the AppImage version of the application whi

[2017-03-25 07:11] schiorean commented on #434
If I change the Ubuntu desktop app exec line instead of
`Exec="/home/sorin/App/KeePassXC-2.1.3-x86_64.AppImage" %U`
to
`Exec=env QT_SCALE_FACTOR=1 "/home/sorin/App/KeePassXC-2.1.3-x86_64.AppImage" %U`

it's working. Anyway, some bug is lurking somewhere. Suddenly it didn't work.

[2017-03-25 13:57] flyinbutrs commented on #433
Not discounting user error, but I don't think this is working. I put this into a password field (twice):

{REF:P@I:77d14b5fb035281bc4d2781e006cf386}

And have double checked that the UUID is correctly pointing to another entry, but when I go to the page, both keepasshttp, autotype, and command+c put that exact string into the password field / clipboard rather than the referenced password.

I'm usi

[2017-03-25 14:00] phoerious commented on #433
2.1.3 doesn't support references yet. You need to compile the develop branch for that.

[2017-03-25 14:02] phoerious commented on #434
I suppose your second monitor has a very different pixel density and/or resolution. This is most likely the same issue as this one: #323

[2017-03-25 14:03] flyinbutrs commented on #433
Oops... reading comprehension failure. Is that coming in the next release? I'd prefer not to compile from source if it's only going to be a few weeks.

[2017-03-25 14:15] phoerious commented on #433
We don't have a release date yet and some major features are yet to be completed.

[2017-03-25 22:06] gitarra commented on #431
Tried unsetting XDG_DATA_DIRS, nothing changed, that is if I did it correctly.

So here is a list of issues I see, not sure I should make a new issue for each of them?

1. No tray icon
2. Application does not register a MIME type for the database files (.kdbx), so my file manager does not know what to do with them and does not show an icon for the files.
3. Uses default GTK theme, probably too 90'

[2017-03-25 22:08] boconnell commented on #424
-rw-r--r-- 1 <username> <username>

[2017-03-25 23:22] phoerious commented on #431
At least on Ubuntu the Snap should use the system theme.

[2017-03-26 02:38] grant-gitcode opened #435 "Only actionable menu items (not greyed-out) are "Open Database" and "Password Generator""
## Expected Behavior

When I open the keepassxc application, there should be a button which says "create new database". There is none.

## Current Behavior

Instead of seeing the option to create a new database, there is only the option to open a database, which itself does not give the option to create a new database.

The terminal prints:

[code]

## Possible Solution

## Steps to Reproduce (for

[2017-03-26 09:45] phoerious commented on #435
The action to create a new DB is hidden in the menu, which unfortunately isn't shown in Ubuntu unless you hover over the top bar.

In develop we already have a nice welcome interface, though, and additionally a button in the toolbar.

[2017-03-26 09:45] #435 closed

[2017-03-26 22:27] DominicWatson commented on #99
fwiw, I manually merged that keepassx pull request (keepassx/keepassx#171) into a local clone of keepassxc. There were a bunch of conflicts but all simple to resolve (keeping both for the most part). The application compiled fine and it works a treat for me. I can now assign a WM keyboard shortcut to open up KeePassXC and then focus on the search input with no fuss:

[code]

[2017-03-26 23:34] louib commented on #430
@piedrok can you try with the latest version of the develop branch, which will show a warning message if there is any problem with the config file's permissions (since https://github.com/keepassxreboot/keepassxc/pull/391)?

[2017-03-27 03:09] anatoli26 commented on #99
@DominicWatson, could you please submit your changes as a PR here for review by the dev team?

[2017-03-27 03:21] anatoli26 commented on #103
Just experienced the problem again. Restarted the machine, opened Firefox, it asked me for master pass, pressed the autotype key, KPRC showed the unlock window, entered the pass > enter, the window disappeared, no credentials shown.

Ubuntu 16.04 with latest updates, KPRC 2.1.2 Revision: b9279f73fa58d75e1ec88f734f3c77c0f015a348

[2017-03-27 04:21] anatoli26 commented on #103
For me it's a race condition. @phoerious, @TheZ3ro, could you please point me to the parts of the code responsible for the autotype functionality? I'll try to debug and further investigate what's going on.

[2017-03-27 15:20] meisanerd commented on #430
Also, have you closed KeePassXC manually once since opening the file?  It appears to save the last database on program close, but on my system, when shutting down the computer, it would sometimes close Keepass before it could save the last database to the config file.  Manually closing it resolved the issue.

[2017-03-27 16:53] louib commented on #269
@bipox @goodloop seems like this issue is still valid. We'll follow up with [this new issue](https://github.com/keepassxreboot/keepassxc/issues/430)

[2017-03-27 16:54] louib commented on #430
@meisanerd good catch! If that's the case, maybe it's just a matter of manually calling [`sync()`](http://doc.qt.io/qt-5/qsettings.html#sync) when editing the settings!

[2017-03-27 18:13] phoerious commented on #271
Bugfix for this was just merged into Qt 5.9.0 RC.

[2017-03-27 18:16] phoerious commented on #430
I have suspected something like that for a while, because it just doesn't make any sense that some settings are saved and some are not. We have the same problem when running with ASAN memory leak checks and they report some errors at program exit.

[2017-03-27 23:42] ibrokemypie opened #438 "Add Menubar Icon MacOS"
## Expected Behavior

Keepassxc minimises into menubar on MacOS when closed or minimised

## Current Behavior

Currently closing quits the app entirely and minimising goes to dock instead, with no configurable options

## Possible Solution

Add options (similar to on linux with the statustray)

## Context

Especially for KeeHTTP, the app needs to be constantly running in the background, but curren

[2017-03-28 06:15] schiorean commented on #429
I like this proposal. I have several websites that I work on and have the same user/password to all of them. This way I can have the same credentials in the same entry.

[2017-03-28 07:19] TheZ3ro commented on #429
@schiorean Alternatively you can consider using #370 that is merged in develop

[2017-03-28 10:49] pfoo commented on #259
I tried both keefox (keepassrpc) and passifox (keepasshttp), I think keefox / keepassRPC is ahead in term of integration, accessibility and functionality but might be harder to port to keepassxc.

Keefox is providing an additional tab in keepass allowing to easily hide the entry from firefox, set priority override, define how to match and URL and add custom URL.
Keefox addon for firefox is also pr

[2017-03-28 11:08] phoerious commented on #259
We need a cross-browser solution, though.

[2017-03-28 11:50] schiorean commented on #429
Thanks will check it. When will #370 be released officially?

[2017-03-28 12:01] phoerious commented on #429
We don't have a release schedule for 2.2.0 yet.

[2017-03-28 12:48] ibrokemypie commented on #438
have updated following the template and providing numerous examples

[2017-03-28 15:50] droidmonkey commented on #438
Um there is already an option to "minimize on close"

[2017-03-28 16:38] mrrsm commented on #438
That setting doesn't show up for me either actually on MacOS Sierra.  I am going to rebuild off of develop just to verify that it isn't there.

To confirm it should show up under the "Basic Settings" tab in the "General" section?

[2017-03-28 16:48] phoerious commented on #438
The setting is disabled on OS X. The code comment is "tray is useless on OS X". Since I'm not using OS X myself, I've never verified if that is true also for new versions.

[2017-03-28 17:06] QQQNo commented on #430
I was having the same problem. Linux Mint, first tried with the AppImage, then went for the debian installer. The problem was that the .config/keepassxc/keepassxc.ini was owned by root. KeePassXC was unable to write to it, and it stored only a few settings. Changing the owner to my user with sudo chown USERNAME solved the issue.

[2017-03-28 19:48] mrrsm commented on #438
I personally like the tray apps I have on osx for other apps however most of them seem to have some unique drop down/popup like @ibrokemypie showed in the images he posted.  I am not sure what your feelings are about having custom code for an osx taskbar or if it would mimic the way it works on other systems.  I haven't looked into it yet but I may spend some time in the near future looking into i

[2017-03-28 20:22] droidmonkey commented on #438
Wow, sorry didn't realize this was disabled for osx!

[2017-03-28 21:41] colans commented on #5
* Debian ITP: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=855173
* Ubuntu (tracks Debian): https://bugs.launchpad.net/debian/+bug/1677043

[2017-03-29 03:02] ibrokemypie commented on #438
That explains a lot to me! Personally, I would be content with the option simply hiding the window and removing the dock entry, with the only functionality being click to restore it and keeping it running in the background for keehttp

[2017-03-29 03:09] ibrokemypie opened #439 "KeePassHTTP plugin reports out of date version"
## Expected Behavior

No error in chromeIpass

## Current Behavior

chromeIpass reports
`You use an old version of KeePassHttp.
Please download the latest version from GitHub.`

## Possible Solution

Update keehttp/report latest version

## Context

Somewhat confusing/annoying in the chromeIpass window

## Your Environment

* KeePassXC version/commit used: 76dcfb5ed0c874f6a835ef0347ddf6098b149e9b

[2017-03-29 08:31] TheZ3ro commented on #439
What version of ChromeIPass are you using?
Probably this isn't only a "report to chromeIPass a different version" but also some changes in the protocol

[2017-03-29 08:48] ibrokemypie commented on #439
chromeIPass Version:2.8.1
KeePassHttp Version:1.8.4.1

[2017-03-29 11:42] kwill opened #440 "Integrate libsecret to enable access to GNOME or KDE keyring"
[libsecret](https://developer.gnome.org/libsecret/) is a GNU/Linux library used to access the GNOME or KDE keyring, including passwords, SSH keys, GPG certificates and more. Given that KeePassXC stores similar data (passwords), would libsecret integration offer any benefits? Or are the goals of a keyring and a password manager distinct?

* KeePassXC treats the system keyring as a KeePass database

[2017-03-29 12:21] kwill commented on #259
Perhaps KeePassXC could instead expose a WebSocket server ([example](http://autobahn.ws)), and serve password data over HTTPS to browser add-ons (implemented as WebSocket clients)?

[2017-03-29 12:25] kwill commented on #259
Just saw Native Messaging suggested as an alternative to an `https://localhost` / WebSocket solution: #287

[2017-03-29 13:15] phoerious commented on #440
I had something like this in mind already. I'll see how we can integration OS keyrings and KeePassXC in the best possible way. We already have ssh-agent integration on the agenda.

[2017-03-29 13:18] phoerious commented on #115
Closing this in favor of #440 which provides direct suggestions how to implement OS keyring integration.

[2017-03-29 13:18] #115 closed

[2017-03-29 14:00] droidmonkey commented on #259
Cool idea but yikes, boost is the last dependency I want to add!

[2017-03-29 14:04] varjolintu commented on #287
There's a development version available at: [chromeKeePassXC](https://github.com/varjolintu/chromeKeePassXC)

The implementation is almost identical to chromeIPass except JSON data is changed to lower case. The random key generation is using [tweetnacl-js](https://github.com/dchest/tweetnacl-js) and I'm also considering if it would be easier to use secretbox to encrypt the whole message instead of

[2017-03-29 14:13] widowild1 commented on #439
some problem in archlinux

[2017-03-29 15:15] bugzy commented on #440
Not sure if the following pull request would be worth looking at:
https://github.com/keepassx/keepassx/pull/159
I am not sure that what you have described above is supported in it.

[2017-03-29 15:47] piedrok commented on #430
I checked and I have full access as user.

Settings are correct in the ini file.

Shutting down keepassxc manually and starting it again works fine.

So obviously when shutting down the system keepassxc seems to miss remembering the last database.

Can't this be solved easily?

Thx to all of you looking into that,
p.

[2017-03-29 19:10] #386 closed

[2017-03-29 20:40] gridstorm opened #443 "crash after clone and then saving a new entry"
## Expected Behavior

Cloning an existing item and then editing that item should allow the database to be saved with a new modified entry.

## Current Behavior

Duplicating an existing item and then editing/changing the information in that item followed by a database save, causes the application to crash. After reopening the database, the cloned entry is saved but the modified item information is

[2017-03-30 01:32] ibrokemypie commented on #398
Would there be an option to show the referenced entries as simply being additional attributes in the first, so that the number of entries remains the same and everything is held together? Understand that due to the keepass compatibility that it is not possible to do this in the database, but displaying it otherwise in app would be a good workaround

[2017-03-30 01:34] Keisial commented on #440
Yes!
I would find useful both
a) auto-opening if the master key for that file is in the keyring
(note: would need to store it based on database full path, which is fragile. It would require a UI for storing the master password there, too)

b) fetching passwords stored in Keepassxc through libsecret
(would likely need some mapping to determine the keepass location of key foo. This could be done by

[2017-03-30 01:47] Keisial commented on #428
Have you tried with the locale set to pt_BR instead of en_US? (not necessarily for the whole system, you may change the env variables before launching keepassxc)

keepassx masked password fields fail miserably on accented characters, but unless there has been a recent regression, they work on keepassxc. I will test with last version to confirm this.

Note that you can build keepassxc on Ubuntu 14.

[2017-03-30 02:03] Keisial commented on #393
In order to verify the source code as legit if fetched from the repository. Any party performing its own build should be interested on doing so from the proper code.
The tarballs are signed, but verifying the checkout then requires a burdensome download of the same contents in a slightly different format. And still, there are a few files on git but not on the tgz, which are thus not covered by the

[2017-03-30 02:10] droidmonkey commented on #393
Just by pulling from this repository ensures the code you are using is legit. Each of the maintainers commits using their personal PGP and I require 2-factor authentication for registered maintainers.

We may use the release key in the future, but it is not that big of a deal.

[2017-03-30 02:10] #393 closed

[2017-03-30 07:52] TheZ3ro commented on #398
Hiding entry just because they have reference seems a little confusing to me and it will be complex to implement. We already have a nice way to display Reference-entry.
Does some other KeePass-compatible program do that?

[2017-03-30 07:53] vlenzer opened #444 "Global Auto-Type Hot Key bug"
Since some days my KeePass XC 2.1.3 has a strange bug. Didn't change anything before the bug appeared.

After every reboot the global Auto-Type hot key doesn't work anymore. When going to settings the field with the relevant key is highlighted in red. After switching the key it works again till next reboot.
I'm not able to choose same key as it gets highlighted red again.

- KeePass XC 2.1.3
- Qt

[2017-03-30 08:01] TheZ3ro commented on #393
This will be just an extra, releases are already signed by one among me, droidmonkey or phoerious.
Currently the [release tool](https://github.com/keepassxreboot/keepassxc/blob/develop/release-tool#L388) use the default gpg key but it's easy to change that to use the KeePassXC Release key.

The thing is that the key isn't associated with any profile so Github will show an "Unverified" label instea

[2017-03-30 09:16] kwill commented on #259
@droidmonkey Which one requires Boost (WebSocket or Native Messaging)?

Perhaps browser integration would be a separate package (there only for those that want it).

[2017-03-30 11:21] droidmonkey commented on #259
Websocket server requires boost libraries which are basically like adding another​ qt

[2017-03-30 11:45] seatedscribe commented on #259
On 30 Mar 2017 13:21, "Jonathan White" <notifications@github.com> wrote:

another​ qt

Well, it strongly depends on what you need. Most of the boost libraries are
#included as hpp files and compiled directly in the project so you really
pay for what you use.

[2017-03-30 12:06] ibrokemypie commented on #398
Not as far as I know, my thinking was just that if a user simply wants multiple urls for the exact same entry, we deliver that to the user, while keeping the keepass backend exactly the same.
eg
Entry: Microsoft
username: whatever
password: *******
url: microsoft.com
url: live.com
url: office.com

it is the exact same account over all 3 urls, so wouldnt it make more sense to display it as a single

[2017-03-30 12:25] phoerious commented on #398
We need to remain compatible with other KDBX implementations. You can of course, add multiple URLs as advanced fields.

[2017-03-30 13:13] stevep99 opened #445 "Seems to be no way to import a CSV file"
Wanted to try keepassxc out, to compare against lastpass.
I exported my data from lastpass - the only format supported by lastpass is CSV.

There seems to be no way to import this CSV data into keepassxc.

## Expected Behavior
Should be able to import lastpass CSV.

## Current Behavior
Unable to import from lastpass CSV file.

## Possible Solution
Add required feature.

## Context
It is important

[2017-03-30 13:15] seatedscribe commented on #445
Which branch are you using? CSV feature has been merged weeks ago on
develop.

On 30 Mar 2017 15:14, "Steve P" <notifications@github.com> wrote:

[2017-03-30 13:20] phoerious commented on #445
2.1.3 does not yet support CSV import. You need to compile the develop branch or wait for 2.2.0.

[2017-03-30 13:20] #445 closed

[2017-03-30 13:21] stevep99 commented on #445
Wow, quick response!

I simply did:
`sudo snap install keepassxc`
on Ubuntu 16.04 LTS.

The only import option I see is "Import keepass 1 database".

[2017-03-30 13:23] stevep99 commented on #445
OK great, will look forward to 2.2.0 then.

[2017-03-30 13:57] dsbert commented on #197
This is still a problem in version 2.1.3. However, it seems like it might not be happening quite as often.

[2017-03-30 17:58] cslux opened #446 "[UI] Don't set window to modified if group tree view gets collapsed or expanded"
## Expected Behavior
When the tree gets collapsed or expanded (groupview (tree view)) the window should not be set to modified, instead silently save the state.

## Current Behavior
The window is set to modified, on quit the user will be asked whether the "changes" should be saved or not.

![keepassxc-modified](https://cloud.githubusercontent.com/assets/1712313/24518724/2d35513e-1583-11e7-9c50-115

[2017-03-30 18:02] cslux commented on #446
The **Tools* menu entry hasn't an accelerator either.

[2017-03-30 18:13] louib commented on #446
This could at least be a setting. I might be surprising the first time you get prompted to save your changes when you don't remember creating / editing any entry.

@cslux can you create new issues for the menu accelerators please?

[2017-03-30 18:21] cslux commented on #446
Sure!

[2017-03-30 18:23] cslux opened #447 "[UI] Missing menu entry accelerators"
## Expected Behavior
At least the menu entry should have an accelerator.

## Current Behavior
The **Database** and **Tools** menu entry do not have an accelerator.

## Your Environment
KeePassXC - Version 2.1.3
Revision: b7546b45b3c48e2ffa150be72fc6ce03db1adf00

Libraries:
- Qt 5.7.1
- libgcrypt 1.6.6

Operating system: Fedora 25 (Workstation Edition)
CPU architecture: x86_64
Kernel: linux 4.10.5-

[2017-03-30 22:42] tonnydourado commented on #428
Tried setting `LC_ALL`, `LANG` and `LANGUAGE` in the terminal before launching the AppImage executable. The text in the UI actually changed, but the master key field still didn't show the accented character in my master key.

[2017-03-30 23:00] soredake commented on #259
@phoerious keefox will be re-written to cross-browser WebExtensions http://keefox.org/news/detail/2017/03/26/changes-to-keefox-in-2017

[2017-03-30 23:25] droidmonkey commented on #446
Consider the case when you make changes to the database then expand a group. The auto save option is not desired.

[2017-03-31 00:42] jwatt opened #448 "Add support for CSV import"
I have hundreds of logins saved in Firefox, and with the help of a Firefox add-on I can export them to a CSV file. Currently there is no facility to import CSV files into KeePassXC though.

[2017-03-31 01:37] phoerious commented on #448
Duplicate of #445.

[2017-03-31 01:37] #448 closed

[2017-03-31 08:03] ferdigant opened #449 "Make a KeePassXC Limited Version"
Hello,
I just want to remove some Options of KeePassXC Portable.
This File is located at a "shared" Cloud and some users can open it like ist installed, but don`t have to edit it.

## Expected Behavior
1. Portable Edition should not Export Passwords as an CSV File
2. Portable Edition should not reset Database Masterkey
3. Portable Edition should not use "Tools" "Settings"

## Context
I know that s

[2017-03-31 09:27] TheZ3ro commented on #449
This is not really a "Portable" version but it's a "Limited" version.

Like you said

So IMHO it's useless put effort into it

[2017-03-31 09:33] eternaltyro commented on #449
Can you elaborate on this?

Why? I don't understand the context for this.

[2017-03-31 09:46] TheZ3ro commented on #449
@eternaltyro From what I've understand, he has the KDBX file in a shared folder and want to put a KeePassXC Portable and Limited version along with it.
Since many users can access the shared storage he want a limited version so users can't edit the master password (making others unable to access the kdbx file) and other various things.

This is useless since users can manually copy passwords one b

[2017-03-31 09:58] ferdigant commented on #449
@TheZ3ro Yeah, I want to do it like this
For sure they can copy it one by one but its not simply as the Export and it may prevent it.

@eternaltyro
its on a shared Folder where the users can open it.

SharedFolder -> KeepassXC -> KepassXCPortable
SharedFolder  -> Database

working fine right now, but i want to close this Settings because of prevention sb. steal the Password of my customers at once

[2017-03-31 11:24] TheZ3ro commented on #449
Sorry but we are not developing this. I'm closing

[2017-03-31 11:24] #449 closed

[2017-03-31 11:29] ferdigant commented on #449
Well I dont think that this is a big Deal,
I just want to hide the Export Funktion for the users

[2017-03-31 11:54] gitarra commented on #431
I installed the Snap on Ubuntu (not Xubuntu) 17.04 and it uses the system theme like it should.

[2017-03-31 12:00] gitarra opened #450 "Snap Old version of libgcrypt"
The Snap uses an old beta version of libgcrypt.

![screenshot](https://cloud.githubusercontent.com/assets/4739888/24549591/b37bb93c-1622-11e7-9a29-a04949bd0a1e.png)

[2017-03-31 12:03] gitarra opened #451 "Snap No tray icon"
The Snap does not show a tray icon.

![screenshot2](https://cloud.githubusercontent.com/assets/4739888/24549686/2dc55950-1623-11e7-9e28-db628121f0a4.png)

![screenshot](https://cloud.githubusercontent.com/assets/4739888/24549668/0f577408-1623-11e7-8377-d9aaccbbe83b.png)

[2017-03-31 12:07] gitarra opened #452 "Snap does not register a MIME type for database files"
The Snap does not register a MIME type for the database files.

This means that my File Manager does not know what to do with the files and does not show an icon for them.

![screenshot](https://cloud.githubusercontent.com/assets/4739888/24549811/bb4822e4-1623-11e7-81bc-c86eb2348997.png)

[2017-03-31 13:08] phoerious commented on #449
You are free to compile a custom version of KeePassXC. A guide to compiling the program can be found in our wiki and removing the menu entries is quite trivial. But we cannot support such exotic use cases.

[2017-03-31 16:04] xingxing9688 opened #453 "I use the latest version, I would like to ask how to chromeipass and keepassxc configuration"
If you are using several KeePass databases you can define a specific icon-color to each of them.
This will help you to easily determine from which database the credentials are retrieved.  ？

[2017-03-31 16:26] Keisial commented on #428
I confirm that I can enter accented characters on the master password field also on KeePassxc 2.1.3. I am using a copy natively compiled on Ubuntu 14.04.

I would try compiling it locally, in case the AppImage is somehow interfering.
See https://github.com/keepassxreboot/keepassxc/wiki/Set-up-Build-Environment-on-Linux and https://github.com/keepassxreboot/keepassxc/wiki/Building-KeePassXC

[2017-03-31 19:35] droidmonkey commented on #451
I cant figure out how to make it work, tried several ways. Any ideas?

[2017-03-31 20:32] rwky opened #454 "Add preview pane"
## Expected Behavior
The highlighted entry should have a preview pane with the details of the entry i.e. group, creation, username etc

## Possible Solution
KeepassX 0.4.x had this feature no idea if you can use the old code.

## Context
It's handy to see various info in the pane, especially the clickable urls.

[2017-03-31 21:00] TheZ3ro commented on #451
Can you verify that those file exists on you system?
`/usr/share/keepassxc/icons/application/24x24/apps/keepassxc-locked.png`
`~/.local/share/pixmaps/appimagekit-keepassxc.png`

[2017-03-31 22:43] droidmonkey commented on #451
They exist in the snap, but for whatever reason the snap isn't exposing them properly...

[2017-04-01 08:19] ibrokemypie commented on #398
then we will need to broaden the keehttp protocol to integrate that with the extensions though, would we not?

[2017-04-01 09:02] TheZ3ro commented on #451
This is maybe related to #102 or #194

[2017-04-01 09:10] fonic opened #455 "Bring back password column + copy username / password on double-click"
I always loved the possibility to copy username / password to clipboard by double-clicking the respective column. Currently, there is no password column at all and a double-click on the username opens the entries' details instead of copying the username to the clipboard.

The feature was present in KeePassX 0.4.x and got removed in 2.x. Its removal was the main reason why I switched to original Ke

[2017-04-01 09:27] TheZ3ro commented on #129
Sub-issue of #17

[2017-04-01 09:31] TheZ3ro commented on #455
We are aware of this, those feature weren't really removed in 2.x, since it is a complete rewrite they aren't implemented at all yet.

Duplicate of #17 (password column) and #360 (double-click to copy) so I will close this in favor of those

[2017-04-01 09:31] #455 closed

[2017-04-01 11:54] droidmonkey commented on #398
No, this is already a feature in the http plugin. It searches the attributes for a specific key name. I believe that is in the settings

[2017-04-01 12:22] TheZ3ro commented on #450
For the next version @droidmonkey will address this (since he is the maintainer of the snap ;)

[2017-04-01 12:25] TheZ3ro commented on #453
Can you re-elaborate the request? Sorry but I can't understand what you mean

[2017-04-01 14:48] cyphar opened #456 "TestCsvParser::testUnicode fails on openSUSE"
I've been trying to build the master `develop` branch using the official openSUSE package's `.spec` file. The `isUnicode` test fails when building inside both `osc build` (locally) and on OBS. Is there a particular version requirement of `libQt5-*` to make the CSV parser handle Unicode properly?

## Expected Behavior
All of the tests should succeed, as they do with `2.1.3`.

## Current Behavior
[c

[2017-04-01 15:06] anlutro opened #457 "Perform autotype doesn't work in i3 window manager"
It seems like in i3, "perform autotype" doesn't work. This has been the case ever since I upgraded to Keepass2.

## Expected Behavior
1. Press the perform autotype hotkey (Ctrl+V)
2. Keepass switches to previous active window and fills in username/password

## Current Behavior
1. Press the perform autotype hotkey (Ctrl+V)
2. Keepass either does nothing, or tries filling in the username/password in

[2017-04-01 15:16] cyphar commented on #456
FWIW, I just built `keepassxc` without the tests and the CSV importer seemed to work fine. But this'll be an issue in the future if the next release starts failing tests on openSUSE.

[2017-04-01 15:18] seatedscribe commented on #456
Can you give some context on the locale configuration? Environment
variables like LANG and all the LC_* family as a first step.

[2017-04-01 19:02] Chugajstyr commented on #194
No Tray icon in Linux Mint 17.3 "Rosa" (Ubuntu 14.04.3 "Trusty" based).

KeePassXC v2.1.3. Deb package builded personally from sources, because package from "Releases" page required QT >= v5.3 for install ("Trusty" has only QT v5.2.1).

[2017-04-01 22:44] jwatt opened #458 "Improve column selection in CSV import window"
Thanks so much to @seatedscribe for the work to implement CSV import! I just built from source to try it out and managed to successfully import a CSV file exported from Firefox. This is a really great step forward to lowering the barrier to switching to KeePassXC. :)

I have one piece of feedback: I found the way that columns are selected to be really quite frustrating in practice since in my case

[2017-04-01 22:48] jwatt commented on #458
To avoid confusion I think it would be best to avoid changing the table of data that is displayed, and especially to avoid hiding data that the user would prefer to see. Offhand I have two suggestions:

Perhaps one solution would be to make the headers of the columns into dropdowns from which the user is asked to select the type of data in each column. Something like:

<pre>
 Select the data that

[2017-04-02 01:10] droidmonkey commented on #456
This test fails if your lang is not set to UTF-8

[2017-04-02 08:42] corehack opened #459 "Startup crash on Kubuntu 16.04.1 installed from snap"
Can't start it in graphics mode. Only cli interface works.

## Expected Behavior
Keepassxc started

## Current Behavior
[code]
## Your Environment
Kubuntu 16.04
`Linux 4.8.0-41-generic #44~16.04.1-Ubuntu SMP Fri Mar 3 17:11:16 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
KeePassXC 2.1.3
Qt 5.5.1
Using AMD Polaris gfx card with opensource driver (amdgpu). Also using Padoka PPA for fresh Mesa stuff

[2017-04-03 03:57] droidmonkey commented on #197
So I came upon this issue with a slow upload to google drive... seems like when these cloud providers are syncing the file they hold a lock on it. This prevents KeePassXC from writing to the file (naturally). There is really nothing we can do about it...

[2017-04-03 04:23] dsbert commented on #197
How do other programs handle this behavior? How does Keepass 2? Is it
silently failing in the background and just not notifying me? It is trying
to save multiple times before it raises an error? I understand there are
difficult issues when integrating with third-party applications. However, I
feel like there is definitely more that could be done to smooth this out. I
know this is an open source pr

[2017-04-03 04:26] droidmonkey commented on #197
I found that waiting for the upload to complete worked great. Other than that I am out of ideas... unless we are being too strict when we try to write to a file?

[2017-04-03 06:59] varjolintu commented on #287
Some major changes made to the extension:

[2017-04-03 07:19] mihaiile commented on #429
I really think this feature is very important, since many websites have the GENIUS idea to name their login pages "Login" or "Sign-in". And there goes auto-type. Fantastic!

To keep things simple I would just show the select entry dialog as if it found an entry but without any entry and have a search field which provides the search text instead of window title.
So all code is same I would say exce

[2017-04-03 09:47] TheZ3ro commented on #287
What do you mean with

I personally don't really like adding many encryption algorithm all for different things. This will make HTTP code more complex and KeePassXC won't be compatible with KeePassHTTP anymore, unless we keep both new and old version

[2017-04-03 09:54] TheZ3ro commented on #429
I think I'm starting to like this, with an option in the settings the "Select Entry Dialog" will show every entry in the database with autotype enabled and letting user search and select an entry.

In some database there will be lot of entry with autotype enabled but the search feature can help.

[2017-04-03 10:22] varjolintu commented on #287
In chromeIPass databases used with the plugin are stored with the id, hash and the key. In the future, only with id and hash because keys are always generated each time a database connection is being made with KeePassXC (or test host).

In chromeIPass the JSON message itself was unencrypted but each element was hashed or encrypted with AES. So instead of encrypting the items one by one only the me

[2017-04-03 10:49] TheZ3ro commented on #287
I mean, we need to add new code for encryption algorithm in KeePassXC since chromeIPass uses AES (and we already needs it for decrypting the database). What algo are you using for NaCL box?

[2017-04-03 11:08] varjolintu commented on #287
It uses the default, Curve25519-XSalsa20-Poly1305.  I suppose it's pretty straight forward method to just include libsodium to the project.

[2017-04-03 13:11] ibrokemypie commented on #398
what is the standard for more than two urls? two seems fine, however you cant have more than one field with the same name, and it doesnt detect when two urls are in the same field

[2017-04-03 13:47] joshplus commented on #439
I've also seen this message with Chrome on Ubuntu FWIW.

[2017-04-03 14:02] seatedscribe commented on #458
Hello Jonathan! Thanks for your feedback, it's really appreciated.

The idea behind this approach is simply that while you visit each of the
combo boxes with the mouse, you scroll with the central wheel until you
think the data makes sense. Do this for every column and you are done.

No need to write down the right column in advance, just play a little bit
since you have unlimited shots and just s

[2017-04-03 14:52] joshplus opened #460 "Bring HTTP Confirmation window to the front on MacOS"
In Linux, when a browser extension makes a request to KeepassXC, the window to confirm access pops up and comes to the foreground. In MacOS, the window pops up but it stays behind the browser.

## Expected Behavior
KeepassXC's confirmation window comes in front of the browser.

## Current Behavior
It stays behind the browser window. This makes it a lot more difficult to select the password or real

[2017-04-03 16:44] jwatt commented on #458
Hi Tarquin! Thanks for being open to listening to my feedback!

Now that you explain it I can see how spinning the dropdown with a mouse wheel would work. It's clever. :) There are two reasons I don't think most users will end up working with the importer in this way in practice though.

First, people are used to selecting from a dropdown, but they're not used to their actions changing and hiding

[2017-04-03 17:11] FMuro opened #461 "KeePassXC freezes Gnome at shutdown."
Gnome freezes for about half a minute when KeePassXC is open (or just in the system tray) and I try to shut down or restart. I'm running Fedora 25, and using bugzy's copr package. I reported there, but have been told to ask here.

https://github.com/bugzy/keepassxc-rpm-spec/issues/4#issuecomment-290120951

[2017-04-03 17:50] noraj1337 opened #462 "Create an official fedora package"
I wanted to see KeePassXC into QubeOS so I opened an issue on their [tracker](https://github.com/QubesOS/qubes-issues/issues/2717). But they use Fedora (raw) templates and told me to ask Fedora.
So I asked Fedora on [their bugtracker](https://bugzilla.redhat.com/show_bug.cgi?id=1434572) but in order to request a package you must create the package and be the maintainer.

So the better way is that

[2017-04-04 09:26] seatedscribe commented on #458
design to see how they get on with your design in practice though. I'm just
trying to provide some feedback for you on how this one user (me) got on
with it, and why I might have had the experience I had. :)

Thank you very much for your feedback and thoughtful considerations! I hope
more and more people do the same and share their experience here.

[2017-04-04 10:06] rgloor opened #463 "Auto-Type: Changes capitalization of Password during insertion"
When the keyboard (physical keyboard) has "Caps Lock" on, Auto-Type alters the filled-in information (like username and password).
It changes the capitalization of certain letters.
Not all but sometimes from small to big, sometimes changes from big to small.
If I looked right, it capitalizes every 2nd letter (if character is a letter, not a number or some special character).
As far as I saw, it st

[2017-04-04 11:34] droidmonkey commented on #460
This impacts windows as well. I'll take a look at it. Requests from the same site also get queued up causing you to press allow/deny many times.

[2017-04-04 13:39] rgloor commented on #463
OK. I did some more tests.
In general it changes one letter to big (capitalized), the next to small (lowered), then big again, and so on.
However, it doesn't change straight every 2nd character (to big / low). It looks like it skips some special characters like @.
I did the following test (just setup kwrite as a Auto-Type target).
With "Caps Lock" off, it inserts the correct / stored infos (userna

[2017-04-04 13:52] louib commented on #443
@gridstorm was not able to reproduce this one. Anything in the cloned entry except title username and password?

[2017-04-04 13:56] louib commented on #446
I didn't notice that the solution proposed was to silently auto save. I was thinking about an option that does not consider changes in group expansion as changes, so that no saving is required for that.

[2017-04-04 14:30] dummys opened #465 "Use multiple Yubikeys with a single database"
Hello,

I'm wondering if it's possible to use more than one yubikey with the same database ?

[2017-04-04 19:13] Chugajstyr opened #467 "No Tray icon in Linux Mint 17.3 "Rosa" (Ubuntu 14.04 LTS "Trusty" based)"
Deb package builded from sources, because package v2.1.3, available from "Releases" page, required QT >= v5.3 for install (Ubuntu "Trusty" has only QT v5.2.1).

## Expected Behavior
If option "Show a system tray icon" is enabled, there should be appear tray icon of KeePassXC.

## Current Behavior
KeePassXC tray icon is invisible.

## Your Environment

* KeePassXC version/commit used: (can be found

[2017-04-04 19:24] cslux commented on #446
I personally can leave with the solution from #464. But of course, saving state would be better.  Saving the state in the **keepassxc.ini** file is probably not a solution, isn't it? Also, what happens when the user collapses the tree, saves the state, enables the option "Ignore group expansion" #464, would the tree than always be collapsed when the user opens the database?

[2017-04-04 19:34] cslux commented on #446
I just applied #464. Yes, the group will always be collapsed. I would always expand the tree if the option from #464 is enabled.

[2017-04-04 21:05] philiplb commented on #90
FTP would be awesome, too.

[2017-04-04 22:51] Keisial commented on #467
Looks like a duplicate of #451 I would check if the fix for appmenu-qt5 was backported to Linux Mint, too.

[2017-04-04 23:04] Keisial opened #468 "Previous databases being prefered to the program arguments"
The setting "Load previous databases" takes precedence over the db passed as argument when choosing the foreground database.

## Steps to Reproduce
* Ensure "Load previous databases" is checked
* Create two databases: bd1.kbdx and bd2.kbdx
* Close keepassxc with bd1.kbdx open
At this point keepassxc will automatically load bd1.kbdx at startup.

* Run "keepassxc bd2.kbdx" (or double-click bd2.kbdx

[2017-04-04 23:08] droidmonkey commented on #463
Seems like a bit flag is being toggled erroneously that is spitting out capital and lowercase letters. Perhaps the easiest fix is to detect if caps lock is on (possible?) and turn it off prior to typing. Then turn it back on once done.

[2017-04-04 23:12] droidmonkey commented on #398
Looks like you create an attribute with the name of "KPH: XXXX" and the value of the URL you want to match against. XXXX can be anything

[2017-04-04 23:16] Keisial commented on #424
What about ~/.config/keepassxc/ folder?

[2017-04-05 02:34] geoffgs opened #469 "Request: New entries should inherit the icon of its parent group"
Earlier version of KeePassX (<0.4.4) inherited icons new entry icons from it's direct parent group. KeepassX and therefore XC don't share this behaviour. Requesting to bring this feature back to current XC builds!

## Current Behavior
When creating a new entry in a group, the icon chosen is the default "key". New databases, imported databases, and upgraded databases share the same behaviour.

## P

[2017-04-05 02:57] droidmonkey commented on #439
I've fixed this on the 2.1.4 release branch, give it a whirl: https://github.com/keepassxreboot/keepassxc/tree/release/2.1.4

[2017-04-05 08:55] louib commented on #446
Unless you expand that group and then save the database, even though it's not marked as modified.

I don't think we should do any automatic expand or collapse based on the new option. If a user wants certain groups expanded and other groups collapsed on startup, he can always save the db this way, even though it won't be marked as modified.

[2017-04-05 13:07] louib commented on #468
@Keisial I was unable to reproduce the double-clicking behavior with Mac. What OS did you use for that use case?

Either way, #473 should fix this.

[2017-04-05 14:54] droidmonkey commented on #469
I do believe there is an option for the group to do this already. Should it be default on? I don't think​so because my group icon needs are very different from my entry icon needs.

[2017-04-05 15:05] TheZ3ro commented on #463
@rgloor what version of KeePassXC are you using?

I think @droidmonkey is right here. I will look into this in the next few days

[2017-04-05 15:47] geoffgs commented on #469
@droidmonkey Could you screenshot an example of this option? I've yet to discover it, but I'll close this request if it exists.

[2017-04-05 15:55] rgloor commented on #463
@TheZ3ro
The latest stable Version: 2.1.3

[2017-04-05 16:00] rgloor commented on #463
You are entering the data by simulated keystrokes.
Are those simulated to come from the physical keyboard?
If yes:
is there the option, to utilize a secondary, a virtual keyboard instead?
(I thought of it, because a friend has a notebook with touch screen, having some troubles with some special characters on the physical keyboard and often using both, the physical and a virtual keyboard at the sam

[2017-04-05 17:14] cslux commented on #446
@louib OK :-)

[2017-04-06 00:23] weslly commented on #469
@geoffgs
![untitled](https://cloud.githubusercontent.com/assets/107672/24732211/ca4d6080-1a45-11e7-9e8b-5b269a0b7a3f.png)

Check "Use group icon on entry creation", the last setting at basic settings tab.

[2017-04-06 02:57] #469 closed

[2017-04-06 14:13] HacKanCuBa opened #474 "Auto-type fails if keyboard mapping isn't english"
If the current keyboard mapping isn't English, auto-type will type wrong keys.

## Expected Behaviour
Auto-type should always type the same, no mater keyboard mapping.

## Current Behaviour
Auto-type types as a if the keyboard mapping is English, thus issuing wrong characters on different mappings.

## Possible Solution
Unknown

## Steps to Reproduce (for bugs)
1. Change keyboard mapping to, say,

[2017-04-06 18:22] HacKanCuBa commented on #463
Confirmed here.

* KeePassXC version/commit used: 2.1.3-76dcfb5ed0c874f6a835ef0347ddf6098b149e9b
* Qt version (e.g. Qt 5.3): 5.7.1
* libgcrypt: 1.7.6-beta
* Operating System and version: 4.9.0-2-amd64 #1 SMP Debian 4.9.13-1 (2017-02-27) x86_64 GNU/Linux

[2017-04-06 18:40] lifepillar opened #475 "Improve application icons [$50]"
I apologize for the somewhat light-minded request, but… no plan to switch to vector icons? On macOS, at least, they do not look so gorgeous… (the app icon is beautiful, though).

I know that resources are tight and there are other priorities. A good-looking UI, however, may attract a wider public to KeePassXC, making it eventually more popular.

[2017-04-06 19:13] seatedscribe commented on #152
I add my experience here, since it's related to this scenario and if confirmed I will open an issue on its own...
In my setup, after having performed the steps 1 through 4 the autotype is not performed.
So basically autotype works only if db is unlocked.

KeePassXC - Version 2.1.3
Revision: 86e88c18b088aebaa97299c8fbdac4b5cdf8dfdd
Libraries:
- Qt 5.5.1
- libgcrypt 1.6.5

[2017-04-06 20:23] weslly commented on #475
I agree. IMHO the current icon theme looks really bad and outdated, I would love to see something more modern, like the [elementary icon set](https://github.com/elementary/icons) maybe.

[2017-04-06 21:17] seatedscribe opened #476 "Auto-type selects always the DB in the first tab for unlocking"
Prerequisites:
 - we have opened more than one database under the same instance of KPX (i.e. multiple tabs in the main window)
 - an item in one of the DBs is configured for auto-type with a 'window association'
 - **all the databases are locked** (otherwise it works as expected)

## Expected Behavior
1. Focus on the window associated with the aforementioned item
2. Press auto-type shortcut
3. KPX

[2017-04-06 21:36] TheZ3ro commented on #476
Yes, this is a known issue sadly.

[2017-04-06 21:56] seatedscribe commented on #476
Oh, I searched but found nothing. Otherwise I would have skipped the whole description. Is it tracked somewhere (beside this one, I mean) ?

[2017-04-07 08:49] TheZ3ro commented on #476
No, It's good now we have an opened issue. Anyway I was discussing that in the #89 PR

[2017-04-07 14:09] RlndVt commented on #439
Slight tangent but I was trying to test it, but the release tool doesn't seem to find the tag, is that something separate that is missing?

[code]

[2017-04-07 15:10] RealOrangeOne commented on #439
@RlndVt 2.1.4 isnt tagged as a release yet, it's just a branch. Once it's actually released and tagged then it'll work, until then you'll have to use the branch name instead (if it supports it?)

[2017-04-07 19:59] droidmonkey commented on #439
The release tool is mainly for use to assist with signing releases anf standardizing the process. You just have to build and run it which can be doneby following the build instructions in the wiki.

[2017-04-07 23:16] Keisial commented on #468
I tested it on Linux. I assumed that double clicking a database, _when keepassxc is closed_ (and it is associated with kdbx files) calls “keepassxc database.kdbx”, but didn't actually check that.

I tested your patch on top of 2.1.3 and confirm that it solves the issue, also on double-click.

[2017-04-07 23:30] Keisial opened #477 "Opening keepass database from within keepass database"
People sometimes works with multiple database files (eg. some of them are shared with other people), albeit often having a main one which contains the master password for the other databases.

It would be desirable to open them directly from within keepassxc. Currently there doesn't seem to be an option to do so.
I propose that if the url starts with kdbx://, it is captured internally¹ and the res

[2017-04-08 07:00] sheavner commented on #460
Seeing the same thing on OSX.   Sometimes there's a bouncy kpxc icon in the dock but only 20% of the time.

v2.3.1 downloaded dmg on sierra 10.12.4.

[2017-04-08 11:31] Keruspe opened #478 "Clipboard manager interaction"
This is mostly a followup to #336

This is not something that can reasonably fixed in GPaste nor any other clipboard managers without an intervention on the other side too (or I'd be really curious how, as the clipboard specification for X doesn't have anything to handle that, and the one for wayland is practically inexistant).

I'm here to suggest two solutions, one is "generic", the other one is

[2017-04-08 21:46] #468 closed

[2017-04-08 21:48] droidmonkey commented on #475
I'm going to table this until 2.3.0, but I am open to seeing some suggestions and sample icon sets posted here. I totally agree the current set of icons is.... dated

[2017-04-08 21:50] droidmonkey commented on #474
This seems related to #414 and #367

[2017-04-08 21:52] droidmonkey commented on #467
Which desktop are you using (Cinnamon, XFCE, KDE, GNOME)?

[2017-04-08 21:53] droidmonkey commented on #465
At this time, no. What is the purpose for needing two yubikeys at the same time?

[2017-04-08 22:02] dummys commented on #465
No the same time, But I get one at job and one that never leave my laptop. So I need to be able to open it with the two keys.

[2017-04-08 22:06] droidmonkey commented on #461
Does this happen regularly? Do you have pending changes to be saved in the database? If KeePassXC is NOT started does the behavior go away?

[2017-04-08 22:27] droidmonkey commented on #465
Oh I see. If I am not mistaken, the database encryption key is a composite of the three items (password, key file, yubikey). In order to decrypt the database you need to provide all three or a combination of the three. You can't arbitrarily switch out one of those items with another.

[2017-04-08 22:29] droidmonkey commented on #460
This will be fixed in 2.1.4

[2017-04-08 22:36] FMuro commented on #461
I address each question:

1) Always.

2) No.

3) Yes, I've just noticed this behavior with KeePassXC open, even if just in systray.

[2017-04-08 22:38] droidmonkey commented on #461
OK, I'll spin up an instance of fedora and see if I can replicate, thanks.

[2017-04-08 22:47] droidmonkey commented on #461
I can't replicate this unfortunately.

[2017-04-08 22:55] dummys commented on #465
Hmm ok. I dont know if its possible to copy challenge from one key to the other...

[2017-04-08 22:57] FMuro commented on #461
Thanks for checking! It may be something else, then. Really strange. Let's hope I can see this behavior somewhere else, so that I can get to know what may be causing it.

[2017-04-08 23:00] Chugajstyr commented on #467
I use Mate desktop.
P.S.  Temporary helps copying KeePassXC icons to `~/.local/share/icons/hicolor/24x24/apps`, but only when passwords database opened or locked. When KeePassXC just started, but database not opened, than tray icon is invisible when application minimized.

[2017-04-08 23:02] droidmonkey commented on #461
Try loading up a vm and replicating it if you can. There might be something in your gnome config or extension that is causing bad behavior.

[2017-04-09 01:05] netforhack commented on #197
The same issue, also wtf is this ?
![image](https://cloud.githubusercontent.com/assets/1379437/24833691/d1c5a002-1cd9-11e7-90ca-dc33b14e0f83.png)

[2017-04-09 02:33] jsoref opened #479 "Windows x86 build"
Currently the website only provides a 64bit build.
Some netbooks have 32bit UEFI and thus can't run 64bit versions of Windows.

## Expected Behavior
There should be a download for 32bit versions of Windows. This could be a unified download, or it could be a standalone download.
If you do not unify them, then the 64bit installer needs to warn/error visibly when someone tries to run it on a 32bit ve

[2017-04-09 02:58] HacKanCuBa commented on #474
Yes, it definitely seems related

[2017-04-09 03:57] joshplus commented on #460
Thank you very much!

[2017-04-09 09:23] lifepillar commented on #475
Maybe, something among these sets: https://tagliala.github.io/vectoriconsroundup/.

[2017-04-09 09:39] lifepillar commented on #475
Here, there are several open source icon sets: https://icons8.com/welovesvg.

[2017-04-09 10:01] CfKu opened #481 "Preferences sub-menu not in KeepassXC menu on macOS"
The preferences sub-menu entry is in the tools menu if language is set to "German" on macOS.

## Expected Behavior
If I set the language to "English" the preferences sub-menu is as expected in the KeepassXC menu. But not if I change the language to "German". I expect it to be also in the "KeepassXC" menu.

## Current Behavior
If I set the language to "German" the "Einstellungen" (=Preferences) sub

[2017-04-09 10:20] CfKu opened #482 "The previous database is not loaded on macOS if language set to "German""
The previous database is not loaded on macOS if language set to "German" and if I close KeepassXC with &#8984;Q instead of clicking on the red cross.

## Expected Behavior
If I change the language to "English" the previous used database is loaded as expected. But if I use my system's language (german) or set it manually to "German" the previous database is not loaded on startup on macOS, despite h

[2017-04-09 11:02] weslly commented on #481
Happens to other languages too.

Fixed on #483

[2017-04-09 11:08] weslly commented on #482
This is related to #481 and was also fixed in #483.

[2017-04-09 12:29] #481 closed

[2017-04-09 12:29] #482 closed

[2017-04-09 12:32] phoerious commented on #465
KeePassXC uses HMAC-SHA1, nocht U2F. Therefore the secret is user-configurable. You can easily configure two different YubiKeys with the same secret.

[2017-04-09 12:32] #465 closed

[2017-04-09 12:43] phoerious commented on #475
The icons we currently use are from KeePass. I don't really like the myself. Neither are they especially beautiful nor do we have any high-res versions of them. 22x22px is all we have. We need to change the at some point.

[2017-04-09 14:28] #439 closed

[2017-04-09 15:34] sheavner opened #484 "OSX crash while interacting chromeipass"
I created this crash dump a few days ago but lost it.   It happened while I was trying to get chromeipass to work.  I had reloaded the same site a few times quickly, probably pressed redetect credentials a bunch of times for a page, maybe deleted and reattached this instance of keypass to chromepass, maybe edited but didn't save some entries in keypass adding website urls to them, maybe tried to a

[2017-04-09 15:56] #426 closed

[2017-04-09 16:19] droidmonkey commented on #460
Corrected in v2.1.4 and merged to develop

[2017-04-09 16:19] #460 closed

[2017-04-09 16:36] #21 closed

[2017-04-09 16:40] droidmonkey commented on #459
Snaps are only officially supported in Ubuntu 16.10.

[2017-04-09 16:40] #459 closed

[2017-04-09 16:41] droidmonkey commented on #453
This is a feature in the chromeipass plugin itself

[2017-04-09 16:41] #453 closed

[2017-04-09 16:41] droidmonkey commented on #457
What is i3? This needs more information.

[2017-04-09 16:42] #456 closed

[2017-04-09 16:45] droidmonkey commented on #444
Can anyone else confirm that this is an issue? It seems to me that your configuration file is becoming corrupt/deleted/wiped somehow.

[2017-04-09 16:47] droidmonkey commented on #431
This is a snapcraft issue and there it nothing we can do about it right now.

[2017-04-09 16:47] #431 closed

[2017-04-09 16:48] anlutro commented on #457
Ah, my bad. i3 is a window manager for X11 in Linux, comparable to AwesomeWM or Openbox, and to some degree Gnome and KDE. https://i3wm.org/

[2017-04-09 16:48] #413 closed

[2017-04-09 16:51] droidmonkey commented on #457
Interesting, they claim to use the xcb interface as well. This will have to be run through a debugger.

Have you tried using the global autotype shortcut feature?

[2017-04-09 17:08] anlutro commented on #457
Global autotype works.

[2017-04-09 18:09] TheZ3ro commented on #444
Do you properly close KeePassXC after changing settings (and before reboot) ?

[2017-04-10 02:20] droidmonkey commented on #484
Unfortunately the dump does not contain enough information to diagnose, all the function names have been stripped. If you can narrow down a repeatable way to replicate the crash that would be very helpful. Otherwise, we can't do anything at this time.

[2017-04-10 07:28] seatedscribe commented on #465
The only thing I can think of is the two-man rule...

https://en.m.wikipedia.org/wiki/Two-man_rule

[2017-04-10 08:48] corehack commented on #459
Snap as a feature of Ubuntu is supported since 16.04, it was preinstalled in my distribution of Kubuntu.
https://www.ubuntu.com/desktop/snappy
Or did you mean something different ?

[2017-04-10 09:55] stucki commented on #467
I have the same issue using Ubuntu 16.04 running Unity.

[2017-04-10 13:03] eNTi commented on #440
I came here with the exact same question.
I'd like the database be able to opened automatically with an unlocked gnome-keyring.

[2017-04-10 14:17] gitarra commented on #431
@droidmonkey Thanks. Do you have a link to a snapcraft bug report of this?

[2017-04-10 16:13] droidmonkey commented on #431
No I don't. My understanding of snaps at this time is that they are only officially supported in Ubuntu 16.10 (that means with Gnome)

[2017-04-10 16:18] droidmonkey commented on #459
Interesting, I stand corrected. Please try the latest snap that i posted on the store. This might also be an issue with snaps interacting with your X11 interface for display. Do any other snaps work?

[2017-04-10 16:47] corehack commented on #459
I haven't tried any other snaps, generally I don't use that type of packaging. But I've tried the AppImage package, and it worked. I just don't like AppImage since its just one big binary, and I don't want to use Debian repo since its marked as unofficial.

I've tried to download and install the snap again, no change..still crashing

[2017-04-10 16:57] droidmonkey commented on #459
I think this is something unique to your situation. Continue using the snap. I recommend performing a complete reinstall of the snap infrastructure and trying another snap to rule out our app in particular.

[2017-04-10 17:04] SaltwaterC opened #486 "Allow in-memory protection for additional attributes"
Hi. This functionality exists in KeePass, however it doesn't exist in KeePassXC. While a protected attribute is handled by KeePassXC (read / modify), KeePassXC is unable to enable / disable this functionality or create new attributes which have this functionality.

Basically, this is how KeePass is doing this on the UI side:

![Imgur](http://i.imgur.com/beYxAqZ.png)
![Imgur](http://i.imgur.com/mUw

[2017-04-10 17:16] corehack commented on #459
I've tried a simple Qt app in a snap package.
[code]
You can see there are many errors reported, but the application starts and works without any visible problem.

[2017-04-10 18:01] corehack commented on #459
I've tried another snapped app - kdenlive. It also has GL related errors on startup, but it starts in the end, falling back to software rendering. Same as "notes" app above, I guess.
So the problem with keepassxc could be that it can't fall back to software rendering as other apps.

[2017-04-10 18:39] corehack commented on #459
Perhaps official Debian/Ubuntu repos could be provided as an alternative. Looking at https://bugs.launchpad.net/ubuntu/+source/snapd it doesn't look like Snap is ready to serve as the main packaging solution.

[2017-04-10 21:06] seatedscribe opened #488 "Add QuickUnlock Feature"
With the newest and coolest feature of passphrase generator finally merged in, I find this request even more opportune - as you could tell, I have a LONG passphrase as master key for any of my databases, so my opinion may be a little biased :smile:

A rationale for this feature request is best explained by the author of **keepass2android**. I use this app regularly on a daily base and could not ev

[2017-04-10 22:59] shyim opened #489 "Windows Build is missing for latest version"
Hey,
could you add also a windows build for the latest version 2.1.4?

[2017-04-10 23:12] sts10 commented on #489
Would love a macOS build of 2.1.4 too while you're at it!

Though when I tried to build 2.1.4 from source I was having some problems launching the application. I built the DMG file just file, dragged it into Applications, but then when I launched the app it just instantly closes. Wonder if it's a permission issue? (I'm using macOS 10.10.5)

[2017-04-11 00:26] netforhack commented on #197
@droidmonkey seems that keepass2 works with copy of original db file ".lock", to save it delete original db file and rename .lock to original db file name

[2017-04-11 00:28] droidmonkey commented on #489
They're coming tonight

[2017-04-11 00:32] droidmonkey commented on #459
Can't agree more. Snaps need a lot of work and most of the errors are opaque to the developer. It's certainly not our primary means of distribution... It's just the only means that does not require obscene reviews.

[2017-04-11 03:14] droidmonkey commented on #486
This was implemented in the develop branch already, thanks for the exception writeup though!

See #220

[2017-04-11 03:14] #486 closed

[2017-04-11 03:19] droidmonkey commented on #489
Builds for Mac and WIndows are posted. I also compiled and posted 32-bit windows builds!

[2017-04-11 03:19] #489 closed

[2017-04-11 03:20] droidmonkey commented on #479
I posted 32-bit builds of v2.1.4 on the releases page!

https://github.com/keepassxreboot/keepassxc/releases/tag/2.1.4

[2017-04-11 03:20] #479 closed

[2017-04-11 11:01] SaltwaterC commented on #486
Brilliant. Cheers!

[2017-04-11 11:35] StefanB08 commented on #488
I agree that it is practical and use it myself, but it do actually makes your DB a lot less safe against a advanced attacker. The safety example is only true if you do not take cloning/imaging into account. By cloning the unit, the attacker will have a indefinite tries to enter the correct password. And as you have practically shortened your 70 character keylength down to a very weak 3 character p

[2017-04-11 12:03] StefanB08 commented on #431
I think this is the bug report you are looking for https://bugs.launchpad.net/ubuntu/+source/snapd/+bug/1585332

[2017-04-11 12:22] StefanB08 commented on #392
Same environment, same issue in v.2.1.4.

[2017-04-11 13:15] droidmonkey commented on #392
And that's cause the new snapcraft file is in develop branch... I cant win lol

[2017-04-11 14:08] phoerious commented on #486
Actually, we do not really have any in-memory protection. Those fields are saved as a Salsa20-encrypted stream inside the AES container, but are loaded in plain text to memory. We do, however, prevent against memory dumps of the whole program. I'm not sure, though, if this also applies to swap space.

[2017-04-11 14:37] hifi commented on #462
@bugzy has https://github.com/bugzy/keepassxc-rpm-spec going and it's well maintained

I talked with the Fedora KeePassX maintainer and he said it's sort of orphaned by now (the keepassx package) so they really need a new new maintainer for KeePassXC as the current one wouldn't take on a new package.

Ideally such package needs to be co-maintained for continuity.

[2017-04-11 14:39] SaltwaterC commented on #486
I was using the same terminology as KeePass. Thanks for clarifying. I wasn't sure whether the Salsa20 stream is actually protected.

Out of curiosity, when you say "plain text to memory" are they being held as the base64 segments of the Salsa20 stream or KeePassXC decrypts them beforehand?

[2017-04-11 14:47] hifi commented on #476
There's a fundamental problem with this as you need to unlock the databases to know which one to use for auto-type and keeping that information in memory would be leaking sensitive information when the databases are locked.

Because usually you do know which database would have the right entry, my suggestion would be to have the same dialog pop up that's used for selecting the actual entry (a list

[2017-04-11 14:48] phoerious commented on #486
KeePassXC decrypts them while parsing the file.
If I'm not mistaken, then what KeePass does is it keeps the Salsa20 cipher text and only decrypts them on-demand with the key being stored in a protected memory area. However, this "protected" are is only as secure as the operating system can make it. On most platforms it simply means that area cannot be swapped out.

[2017-04-11 15:15] hifi opened #491 "Change default auto-type sequence not to include {ENTER}"
I find the default auto-type sequence to be dangerous. I've always removed `{ENTER}` from the *Root* group as a safety measure. It's possible that you have the wrong thing focused within the window you're auto-typing to and it would accidentally submit something you definitely didn't want (a chat message for example).

Having it without `{ENTER}` gives you, the user, the ultimate control in the en

[2017-04-11 15:23] gitarra commented on #431
@droidmonkey Ubuntu 14.04 and flavours are supported:

https://snapcraft.io/docs/core/install-ubuntu

@StefanB08 Thanks for the link!

[2017-04-11 15:49] TheZ3ro commented on #491
I already see users opening issue like "Autotype doesn't submit my fields!!!"
I agree is pretty bad

What about removing enter from the default sequence and adding an option in the Root group like "Always submit autotype when using default sequence" (default will be off)

[2017-04-11 15:56] TheZ3ro commented on #476
@hifi I was thinking about a tab interface in the unlocking dialog (like the tab you have in the keepassxc main window) and from there you can select witch tab/database you want to use, and if locked the dialog to unlock it

[2017-04-11 16:05] TheZ3ro commented on #488
I think this is a good thing for an opt-in option with the ability to select the length.

Like @StefanB08 suggested, if your adversary have great capabilities this will effectively lower your security. For the average user I don't think it's a great problem so opt-in is fine by me.

Also a side note, this option will need the master password stored in memory (for decrypting the database when the Q

[2017-04-11 16:12] hifi commented on #476
@TheZ3ro Would it be keyboard friendly? It was the main point of using the same kind of list. Just arrow up/down to select.

[2017-04-11 16:48] Wandmalfarbe opened #492 "Show some screenshots on the website"
It would be nice to know what the program looks like before downloading and installing it.

## Possible Solution
You could show some screenshots of the program on the website.

[2017-04-11 16:58] FMuro commented on #461
OMG, I think it was the following bug of the caffeine gnome shell extension:

https://github.com/eonpatapon/gnome-shell-extension-caffeine/issues/48

Believe me, I've only experienced it with KeePassXC open, who knows why.

Thanks a lot for having tested and helped!

[2017-04-11 16:58] #461 closed

[2017-04-11 18:29] TheZ3ro commented on #476
@hifi It will add a new window,
DB list window+ Unlock dialog if db locked + Entry select window if option to autoselect is disabled

With the tab window approach you have only 2 window. IDK if you can easily swap between databases but I think it will have the same behavior as the main window with >1 db openend

[2017-04-11 19:16] droidmonkey commented on #461
Sweet, glad you found the culprit and even happier it wasn't us, hehe.

[2017-04-11 19:17] droidmonkey commented on #431
Yah my bad, i need to keep up with the times. Funny thing though is that when you publish a snap to the store you can only target 16.10

[2017-04-11 19:19] droidmonkey commented on #486
My thoughts are not to waste time with in memory encryption until​ we get a functional integration with TPM chips. Otherwise you are just playing memory shell games cause you gotta store the key somewhere. In the develop branch right now we have enabled DEP and ASLR for Windows builds which helps a lot to prevent against memory grabs.

[2017-04-11 19:24] droidmonkey commented on #491
I think we should investigate multiple defaults, like a template picklist for common scenarios.

[2017-04-11 19:28] Throne3d opened #493 "UI of the clone window is imperfect"
The clone window does not display very neatly when I open it by default.

## Expected Behavior
The window should be an appropriate size to display all the text and the text should wrap if necessary (or somehow otherwise display all the text neatly).

## Current Behavior
The "Append '- Copy' to title" text is truncated at "titl", the "Replace username and password with references" text is truncated

[2017-04-11 22:15] macthecadillac opened #494 "Add option to specify specific special characters to use (or exclude) in password generator"
Hi,

This is not a bug report so there is nothing to reproduce. However, I'm wondering if you guys would eventually add the option for users to choose which special character to include/exclude when generating a random password. The current password generator in both KeePassX and KeePassXC would use any available special character on the US keyboard when the special character group is selected; ho

[2017-04-11 23:08] droidmonkey commented on #494
This is a nice feature but it vastly complicates the UI to generate a password. We decided to keep things as simple as possible. Recommend you simply delete characters that are not allowed when formulating your password.

[2017-04-11 23:08] #494 closed

[2017-04-12 07:53] RealOrangeOne commented on #492
Probably better posted to the websites repo at https://github.com/keepassxreboot/keepassxreboot.github.io

[2017-04-12 08:27] varjolintu commented on #287
At this point I already have a working Qt test host with libsodium. The next step will be a test integration to KeePassXC. I'll try to maintain the compatibility with KeePassHTTP.

[2017-04-12 09:57] phoerious commented on #492
We planned that for 2.2.0. For 2.1.x there is no point in posting screenshots. It looks basically the same as KeepassX, which isn't exactly pretty.

[2017-04-12 11:20] Wandmalfarbe commented on #492
I understand.

[2017-04-12 20:31] usinggh commented on #452
Confirmation: Same with version 2.1.4

[2017-04-12 20:36] usinggh opened #497 "Snap does not use interface removable-media"
Snap does not use the interface removable-media. Therefore access to database stored on memory stick is not possible.

![image](https://cloud.githubusercontent.com/assets/27376004/24978291/6d71499a-1fd0-11e7-866b-69e41521c44e.png)

[2017-04-12 20:43] TheZ3ro commented on #497
Ping @droidmonkey

[2017-04-12 21:50] droidmonkey commented on #497
This is a duplicate issue.

[2017-04-12 22:50] TheZ3ro commented on #497
You are right. Duplicate of #400

[2017-04-12 22:50] #497 closed

[2017-04-13 09:04] schiorean commented on #492
Is there a timeline for 2.2.0? Looking forward :).

[2017-04-13 10:20] TheZ3ro commented on #492
No, we don't have a fixed timeline @schiorean

[2017-04-13 10:25] seatedscribe commented on #492
Is there a branch for the 'improving GUI' goal?

[2017-04-13 13:04] mrroman opened #498 "Add option to hide window on close for macOS"
Hide window on close is a common workflow for macOS apps. Users close the window, but the application is working in the background with opened document. If you want to go back, you just click app icon in the dock.

## Expected Behavior
When user presses window Close button, the window is hidden (not minimized).

## Current Behavior
When use presses window Close button, it closes the application.

[2017-04-13 13:46] droidmonkey commented on #492
Any additional major GUI changes are slated for 2.3.0. Due to the way qt gui files are crafted it would be best to do them all at once.

[2017-04-13 15:25] nivit commented on #324
@TheZ3ro I have the same issue with the italian layout. Solved with the following commands:

`xmodmap -e 'clear mod5'`
`xmodmap -e 'add mod5 = ISO_Level3_Shift'`

Maybe I know why keepassxc sends/auto-types "wrong" characters and why those commands solve this issue (at least for the italian layout)...

[2017-04-13 21:55] bmhatfield opened #499 "Wiki not updated with latest release"
First off, I wanted to say thank you for this project/fork. You've really moved the ball forward on a bunch of KeePassX things that were annoying me for some time.

I've been actively watching this project because it's moving quickly, and I noticed that the changelog on the wiki (linked from the home page) does not refer to the latest release: https://github.com/keepassxreboot/keepassxc/wiki/KeePa

[2017-04-14 08:50] #493 closed

[2017-04-14 08:52] TheZ3ro commented on #493
@Throne3d can you check if the bug is resolved for you after the last PR?

[2017-04-14 08:55] TheZ3ro commented on #499
Thanks for the reminder! Fixed :wink:

[2017-04-14 08:55] #499 closed

[2017-04-14 19:35] albrechtd commented on #255
I think this extension would be extremely useful and thus I strongly support this suggestion.

Maybe you know that there has been a somewhat similar [Feature Request for keypassx in 2010](https://forum.keepassx.org/viewtopic.php?t=2188).  The workaround using the gpg pipe doesn't work for me, though.

Instead of directly interfacing to a smartcard, an alternative could be a gpg-encrypted keyfile w

[2017-04-14 20:51] Throne3d commented on #493
Yep, looks fixed:
![image](https://cloud.githubusercontent.com/assets/577128/25055721/74afa084-215c-11e7-959f-2f2bb794c944.png)

Thanks @weslly and @TheZ3ro.

[2017-04-14 21:57] droidmonkey commented on #255
I wish these devices used the PKCS#11 standard like smart cards.... I am not keen to include the libraries of all the various hardware tokens out in the world.

[2017-04-15 10:28] quinncomendant commented on #491
I also prefer to hit ‘enter’ manually. However, this can be an issue if you hit enter before the auto-type has finished "typing" into the password form field (resulting in "login failed"). If you use a long password, auto-type can take > 1 second.

If removal of `{enter}` from the default sequence goes ahead, it's worth checking if it would be possible to send the auto-type characters faster, or f

[2017-04-15 10:49] hifi commented on #491
Making auto-type faster will make it more likely to miss characters. The alternative would be to have "copy & paste" type auto-type that could be used alternatively instead of invidual keystrokes.

[2017-04-15 12:42] vsvyatski opened #503 "Add context menu entry to clean the Recycle Bin in databases"
It is actually a feature request.

When an entry is removed from a KDBX database it's first placed in a special folder (group) called "Recycle Bin" (it can have different names if the database was initially created in KeePassXC with non-english locale). The original Keepass 2 (.NET based) has an option in the context menu of the recycle bin allowing to clean it. In KeePassXC you need to go into th

[2017-04-15 14:21] Germano0 commented on #255
@droidmonkey Nitrokey Pro should really be PKCS#11 compatible https://raymii.org/s/articles/Get_Started_With_The_Nitrokey_HSM.html#PKCS%2311,_%2315_and_OpenSC

[2017-04-15 15:06] droidmonkey commented on #255
Hmmmm i wonder if we could just create a pkcs#11 module instead and then you could also use smart cards /pivs

[2017-04-15 15:23] bddenhartog commented on #488
I'd be much more a fan of enabling QuickUnlock with some other identifier, such as a separately-set `PIN`. This PIN can be a configurable length (it should probably default to 4), and can only be used to unlock the database during the current KPXC process if the database has been unlocked before -- to ensure the `PIN` (the "QuickUnlock passphrase") cannot be used to unlock the database from a new

[2017-04-15 22:26] bjornfor commented on #172
I think it's about being able to copy/paste between databases, like KeePass (Windows / C#) can, with Ctrl-Shift-C and Ctrl-Shift-V. I tried that key combination in KeePassXC and nothing happened.

Merge functionality seems to be about reducing the number of databases, whereas generic copy/paste functionality can be used to split a database into several databases, in addition to manual merge of cou

[2017-04-16 12:44] droidmonkey commented on #172
This wouldn't be that hard to implement since it's very similar to doing a merge on a tree or single object in the database. I think this should be reopened.

[2017-04-16 16:16] mkasberg commented on #447
This was tagged as beginner so I took a stab at it. I think the change is pretty straightforward, but let me know if I missed anything.

[2017-04-16 18:07] quinncomendant opened #505 "Allow searching when search widget is not shown"
KeePassX 2.0.3 for macOS allowed using the search function (⌘F) while the toolbar was hidden. It would be great to have that functionality retained. The toolbar consumes about 40 pixels of vertical space, I never use it. Hotkeys FTW.

[2017-04-16 20:39] wowotiel opened #506 "Autotype KeepassXC in snap package Ubuntu 14.04 LTS"
## Expected Behavior
autotype function with the key combination: ctrl+V
choose autotype function within the menu
## Current Behavior
autotype function with the key combination: ctrl+V : nothing happens
choose autotype function within the contextmenu : this is working ok
## Possible Solution
Make the key combination: ctrl+V working

## Steps to Reproduce (for bugs)
1. Install snap
2. Open or create

[2017-04-16 20:56] wowotiel opened #507 "Open URL snap package KeePassXC in Ubuntu 14.04 LTS"
## Expected Behavior
open url with the key combination: ctrl+U
choose open url within the context menu

## Current Behavior
open url with the key combination: ctrl+U : nothing happens
choose open url within the context menu : nothing happens

## Possible Solution
Make the key combination: ctrl+U working and also the contextmenu

## Steps to Reproduce (for bugs)
1. Install snap
2. Open or create a

[2017-04-16 23:32] droidmonkey commented on #505
Hm, that's the unfortunate consequence of moving the search bar outside of the database tab. In Qt, when widgets are hidden they do not respond to hotkeys. Would the desired behavior be to temporarily show the toolbar (and search bar with it) until searching is complete and then hide the bar again?

[2017-04-16 23:33] #447 closed

[2017-04-17 04:27] quinncomendant commented on #505
For me, search is the most used function of a password manager. I'm not sure how keepass is normally used, but for me it is like this:

1. invoke keepass (I use LaunchBar, so I type `⌘-space` + `x` and hit return)
2. type `⌘F` and search for an encrypted info
3. type `down arrow` until I reach the matching entry
4. copy (`

[2017-04-17 06:08] Blih opened #508 "Add Tag Feature"
## Expected Behavior
As introduced in Keepass 2.11 :
http://keepass.info/news/n100703_2.11.html

![image](https://cloud.githubusercontent.com/assets/1864689/25080513/a7f9e22c-237f-11e7-805a-1393d4522efb.png)

[2017-04-17 06:08] rieje opened #509 ""Apply" to apply changes to entry without exiting the edit window"
I'm constantly editing an entry to set up Auto-Type and test it. Currently, there is only the "OK" option to apply the changes, which will also exit the "Edit entry" window. A simple feature that would be incredibly useful is an "Apply" button as well, which also applies the changes but without exiting the "Edit entry" window.

[2017-04-17 12:47] droidmonkey commented on #505
Here's my proposal:

The option will be created to show search bar in either the toolbar or the database tab.

Searching form the search bar is always global.

Typing keys without modifiers will search / focus on the entries shown in the current folder. This would be similar behavior to file managers.

Whatcha think?

[2017-04-17 14:08] louib commented on #492
Created issue https://github.com/keepassxreboot/keepassxreboot.github.io/issues/11 for this. Closing.

[2017-04-17 14:08] #492 closed

[2017-04-17 16:43] TheZ3ro commented on #447
Thanks @mkasberg :smile:

[2017-04-17 17:43] adamel commented on #372
Just a side note for reference: StartSSL was useless for code signing even before the current security issues. With a "real" code signing certificate, when you sign a binary you let a third party timestamping service sign your signature with the current time. As long as the binary was signed while your code signing certificate was valid the binary's signature will be valid forever.

But when signi

[2017-04-17 21:17] droidmonkey commented on #372
Oh this issue can be closed, we have our new cert and used it in the 2.1.4 release.

[2017-04-17 21:17] #372 closed

[2017-04-18 01:55] corehack commented on #459
Care to open the issue ? Seems its still valid as your claim about snap unsupported in 16.04 proved to be incorrect

[2017-04-18 02:13] louib commented on #491
What about adding the default autotype sequence to the database settings? Looks like the default sequence is hardcoded [here](https://github.com/keepassxreboot/keepassxc/blob/develop/src/core/Group.cpp#L204) and at some other places.

[2017-04-18 04:56] hifi commented on #491
@louib The standard location for a database default is in the *Root* group of the database file. So you can make a database wide default by setting it there and every item in every group will inherit from that unless changed.

The point of this issue would be to change the hard coded default to something less dangerous by removing ENTER from the sequence.

[2017-04-19 00:10] elopio opened #512 "Minimize when copying to clipboard is not working"
I can copy and paste my passwords if the `Minimize when copying to clipboard` option is not selected. But when I select it, copy and paste doesn't work.

## Expected Behavior

After entering `Ctrl+c` in a selected password entry, the keepassxc window is minimized. Then after entering `Ctrl+p`, the password is pasted.

## Current Behavior

The window is minimized but the password is not in the clip

[2017-04-19 21:56] seatedscribe commented on #488
@StefanB08 I agree with you that in this scenario (a laptop in the hands of the cruel enemy) quick unlock is the least feature one wants enabled for his password manager. But at the same time we can think of alternatives, like having also a yubikey inserted which can reduce the risk of a brute force attack. As before, this should be an opt-in depending on the paranoid level of the user :smile:

@b

[2017-04-19 22:52] bddenhartog commented on #488
quote @seatedscribe:

It would definitely be _most convenient_ to store the (non-ephemeral) PIN in the database settings; and I agree that this would be the preferred method of storage (over say, storing it on disk [permanent] or in memory [ephemeral]).

As a workaround to the current impossibility of storing the `PIN` in the database settings, perhaps we could read the PIN from the CLI (not unlik

[2017-04-20 09:04] TheZ3ro commented on #488
Implementation wise, all those options are not available to us.

We have 2 cases:
1) Using a PIN not related to the master password (stored somewhere, doesn't matter now)
2) Using some character from the master password

In both those cases, if the master password is not stored in memory, you won't be able to unlock the database. By having a PIN or some char of the master password you can't derive

[2017-04-20 14:18] droidmonkey commented on #488
@thez3ro i believe you use the pin or last chars to encrypt the composite key in memory. Am i correct?

[2017-04-20 14:24] yan12125 opened #513 "Ambiguous shortcut overload: Ctrl+N"
## Expected Behavior

Ctrl+N creates a new entry

## Current Behavior

There's a warning and nothing happens:
[code]

## Possible Solution

At least "New Database" and "Add new entry" uses Ctrl+N. One of them should use another shortcut.

## Steps to Reproduce (for bugs)

1. Open an database
2. Hit Ctrl+N

## Context

## Your Environment

* KeePassXC version/commit used: (can be found under Help -

[2017-04-20 14:39] vsvyatski commented on #108
I think I've resolved this with my pull request [\# 514](https://github.com/keepassxreboot/keepassxc/pull/514)

[2017-04-20 14:50] TheZ3ro commented on #488
@droidmonkey should be a viable option, but then you shouldn't store the PIN anywhere and decrypt on demand

[2017-04-20 14:52] TheZ3ro commented on #513
We have discussed that "add new entry" should use CTRL+Shift+N, I think that wasn't change

[2017-04-20 15:05] droidmonkey commented on #488
The pin is known by the end user thus not stored.

[2017-04-20 15:38] TheZ3ro commented on #108
Closing, thanks @vsvyatski

[2017-04-20 15:38] #108 closed

[2017-04-20 15:39] TheZ3ro commented on #488
@droidmonkey yes, I was clarifying this:

[2017-04-20 15:39] TheZ3ro commented on #488
Closed accidentally, my bad. Reopened

[2017-04-20 17:40] yan12125 commented on #513
I found #316 and thus I guess you were meaning "New database". With that in mind, I opened #515

[2017-04-20 17:55] TheZ3ro commented on #513
Ok, found the discussion at #289

The current behaviour is a bug (my fault when reverting in #316), but since this will be fixed in 2.2.0 I would prefer having the feature from #289 discussion.

@yan12125 Can you work on it? It will be a little bit more complex

[2017-04-20 18:12] yan12125 commented on #513
Sorry I'm a little bit confused. Should I continue on #515? Or behavior based shortcut is the way to go?

[2017-04-20 18:16] TheZ3ro commented on #513
You can continue with #515, I've requested some changes for that PR. Sorry for the confusion :smile:

[2017-04-20 20:37] tilllt opened #516 "OSX El Capitan 10.11.6 compilation issue"
KeepassXC from Git
2.1.4-325-g943c315

OSX Version 10.11.6
clang: Apple LLVM version 8.0.0 (clang-800.0.42.1)
Target: x86_64-apple-darwin15.6.0

I followed this to set up the build environment:
https://github.com/keepassxreboot/keepassxc/wiki/Set-up-Build-Environment-on-OS-X

and this for build instructions
https://github.com/keepassxreboot/keepassxc/wiki/Building-KeePassXC

I did brew update && b

[2017-04-20 20:44] eppelmania commented on #440
I am looking for the same feature. In the past I've worked with several workarounds, but i would prefer a clean solution.

[2017-04-20 20:46] weslly commented on #516
It was probably introduced at #427, even though it works just fine with 10.12, I'll take a look.

[2017-04-20 23:12] #516 closed

[2017-04-21 08:47] #513 closed

[2017-04-21 08:48] TheZ3ro commented on #513
Thanks for the PR @yan12125

[2017-04-21 13:20] vsvyatski commented on #503
I have implemented my own feature request [with this pull request](https://github.com/keepassxreboot/keepassxc/pull/520).

[2017-04-21 17:04] nabeelomer opened #521 "Add PR #254 to a release"
PR #254 has been merged but doesn't seem to appear in any of the releases.

[2017-04-21 17:56] xf- commented on #521
Is in milestone for 2.2.0 - compile master and it should be included

Milestone
https://github.com/keepassxreboot/keepassxc/milestone/2

[2017-04-21 18:00] TheZ3ro commented on #521
Like @xf- said, that PR will be available in KeePassXC version 2.2.0.
We don't have a roadmap so we don't know when it will be released.

Closing

[2017-04-21 18:00] #521 closed

[2017-04-22 07:44] milankni opened #522 "Remove or decrease the minimum window size constraints"
KeePassXC window cannot be made smaller than 580 x 680 px (cca).

## Expected Behavior
The user should be able to resize the window to smaller area, especially the height (say: 580 x 300 px). The decision on usability of such a window size should be left up to the user.

## Current Behavior
In Mate and Gnome 3 (Arch Linux) with a screen size 2560 x 1440 px, I can freely resize the window to be lar

[2017-04-22 08:45] phoerious commented on #522
I don't see how this would be useful. But I see it often enough that fir done reason window managers ignore Suze hints and then you end up with an unusably small window.

[2017-04-22 10:31] minthemiddle opened #523 "How to use KeepassXC with Yubikey HMAC-SHA1?"
I'm using KeePassXC 2.1.4 on macOS Sierra 10.12.4. In the about window I read "Extensions: … - Yubikey". My Yubikey is inserted and works flawlessly. But in KeePassXC I cannot find any place where I could use the Yubikey, not in the master key settings (1), the database settings (2) nor anywhere in the "Preferences" settings.

I could not find any documentation on how to use Yubikey with KeepassXC

[2017-04-22 13:37] weslly commented on #523
KeePassXC 2.1.4 doesn't support Yubikey yet, you should either compile the develop branch or wait until v2.2.0 is released.

[2017-04-22 13:39] minthemiddle commented on #523
Convincing answer. I just thought so as it is already in the `readme.md`.

[2017-04-22 13:39] #523 closed

[2017-04-22 13:49] freturn13 opened #524 "Database kdbx on USB cannot be accessed Ubuntu 16.04 LTS"
## Expected Behavior
One should be able to use Database on external drive
Database on external dive should be accessable
## Current Behavior
Database kdbx on external drive is not accessable
I had to copy database to Desktop and then open it there
## Possible Solution

## Steps to Reproduce
1. Install keepassxc on Ubuntu 16.04 LTS
2.Install Database kdbx on external drive
3.Access database on exte

[2017-04-22 17:45] droidmonkey commented on #524
Known issue already, thanks

[2017-04-22 17:45] #524 closed

[2017-04-22 17:47] droidmonkey commented on #522
I don't agree with this request.

[2017-04-22 18:23] milankni commented on #522
If the limitation is on purpose and you guys think it causes less troubles than the possibility to set any size as per user's needs, I am fine with your decision.

[2017-04-23 10:34] varjolintu commented on #287
It's already possible to connect chromeKeePassXC to a database, use the password generator etc.. Still need a lot of work. For example, you need to go to the settings dialog before the extension can be used etc.. But it's moving forward in tiny steps.

You can keep track of the process through these branches:
[https://github.com/varjolintu/keepassxc/tree/chromeKeePassXC](url)
[https://github.com/v

[2017-04-23 19:29] Drewshg312 opened #525 "Building on OS X 10.11.6 EI Captain:"
Hi!
I tried to build keepassxc from source on OS X 10.11.6.
This is what I've done:

[code]
QT 5.8 (installed from Homebrew)

Please help.

[2017-04-24 08:56] yeawellwhatever commented on #2
Currently on version 1.2.2, I'm still having this issue.
Vivaldi works fine for me with ChromIPass

[2017-04-24 11:23] colinl opened #526 "Unable to open database on mounted drive in snap package Ubuntu 17.04"
Using snap package in Ubuntu 17.10 I am unable to open a database in an external drive mounted as /media/drivename/path/to/file. I get a permission denied error. The file is owned by the current user and he has full permissions (the file opens and is editable in keepassx). A further symptom is that it is not possible to browse to /media in Database > Open, it does not appear in the browse window.

[2017-04-24 12:30] phillip-white-sociomantic commented on #467
Same issue on Ubuntu Mate 17.04

[2017-04-25 01:19] droidmonkey commented on #526
This is a known and reported issue.

[2017-04-25 01:19] #526 closed

[2017-04-25 02:45] louib commented on #526
@colinl duplicate of https://github.com/keepassxreboot/keepassxc/issues/400, just so you can keep track of the issue.

[2017-04-25 09:28] colinl commented on #400
This also affects permanently mounted network drives, not just removable USB drives.

[2017-04-25 09:30] colinl commented on #526
OK, thanks. I did not notice the similarity as that bug refers to USB removable drives, though looking at the description I see that it is the same issue.

[2017-04-25 12:40] tilllt commented on #525
Make sure to follow this:
https://github.com/keepassxreboot/keepassxc/wiki/Set-up-Build-Environment-on-OS-X

And this:
https://github.com/keepassxreboot/keepassxc/wiki/Building-KeePassXC

I can successfully build keepassxc on macos 10.11.6....  The resulting binary doesn't work though. So I would be interested if it works for you.

[2017-04-25 14:37] #503 closed

[2017-04-25 16:30] SaltwaterC commented on #525
Ditto.

It seems we're not a select group: https://sts10.github.io/post/building-keepassxc-on-osx/

Basically my steps to build this were:

[code]

If I execute the binary directly, it isn't very helpful:

[code]

[2017-04-25 16:31] mrrsm commented on #525
The "Fix the QT5 Environment" step was the important one for me when my binary didn't work.
I had to change the QT5_DIR do to a path change though.
[code]
To
[code]

My cmake line looks like the following.  The main thing I had to do was specify the cmake prefix path otherwise I would receive errors.
[code]

[2017-04-25 16:42] SaltwaterC commented on #525
```QT5_DIR="/usr/local/Cellar/qt/$(ls /usr/local/Cellar/qt | sort -r | head -n1)"```

This fixed the binary build. Dear sir, you win 10 points at arcane mastery.

[2017-04-25 16:55] louib commented on #446
@cslux the feature has been merged in the `develop` branch, you can try it out!

[2017-04-25 16:55] #446 closed

[2017-04-25 17:45] cslux commented on #446
Works as you said. Even when it is not marked as modified I can still save the
new state.

Thank you!

louib <notifications@github.com> writes:

[2017-04-25 17:58] TheZ3ro commented on #525
With the last version of QT5 on brew they decided to change the folder from `/usr/local/Cellar/qt5/` to `/usr/local/Cellar/qt/` so the script in the wiki isn't working anymore.

I've edited the `fix_mac.sh` script [here](https://github.com/keepassxreboot/keepassxc/wiki/Set-up-Build-Environment-on-OS-X) to address this changes.
Can you guys test this? Thanks

[2017-04-25 18:33] SaltwaterC commented on #525
Odd thing is, /usr/local/Cellar/qt5 is symlinked to usr/local/Cellar/qt, but it makes the resulting binary rather unhappy.

The script seems to be working, however, I'm not 100% a bad script would overwrite stuff already put in the right place by install_name_tool. Is there an unistall procedure for stuff installed by install_name_tool?

[2017-04-25 18:58] mrrsm commented on #525
@TheZ3ro That looks good to me

[2017-04-25 19:24] TheZ3ro commented on #525
@mrrsm looks good mean works fine? :smile:

@SaltwaterC personally IDK if there is an uninstall procedure and even if that's useful

[2017-04-25 19:27] mrrsm commented on #525
@TheZ3ro Yea, I realized my wording was a bit confusing after I posted.  Tested it and things worked as expected.

[2017-04-26 01:17] Drewshg312 commented on #525
Well. I've done this:
[code]
But then:

![untitled](https://cloud.githubusercontent.com/assets/10493450/25413768/a71cb394-29e1-11e7-91e2-36dd2c607aa8.jpg)

And there is no actually inside ./src/KeepassXC/Contents/MacOS

What am I doing wrong?

[2017-04-26 01:19] mrrsm commented on #525
@Drewshg312 You need to run the fix_mac.sh script from [here](https://github.com/keepassxreboot/keepassxc/wiki/Set-up-Build-Environment-on-OS-X)
That is what the line I posted was from.  Otherwise the other steps seem fine

[2017-04-26 01:37] droidmonkey commented on #400
I'm just going to inject this into the current 2.1.4 release so that we get it up and running.

[2017-04-26 02:20] droidmonkey commented on #400
OK, the snap has been updated in the store to include the removable-media plug. Since it is NOT auto connected, you have to manually execute the following command after installation to use it:

```sudo snap connect keepassxc:removable-media :removable-media```

Based on my limited testing it also appears that you need to manually type in ```/media``` into the filename entry of the open file window

[2017-04-26 02:20] #400 closed

[2017-04-26 03:13] droidmonkey commented on #526
And I fixed it with the latest update to the snap today. Please follow the instructions I put in my comment on #400

[2017-04-26 08:05] Niquit opened #527 "Hide KeePassXC after chose auto-type"
Hi,

I had switched from Windows to Mac. I was looking for the best similar solution for KeePass.

I found KeePassX and KeePassXC. I chosen of course KeePassXC, because of global auto-type, what I need mostly.

But I have just one visual problem, what KeePassX with global auto-type doesn't have ( https://github.com/keithbennett/keepassx/releases ).

When I call for global auto-type the main window

[2017-04-26 09:01] yan12125 opened #528 "Fail to build with Qt 5.9 beta 2"
## Expected Behavior

KeepassXC builds fine even with the latest beta preview of Qt

## Current Behavior

[code]
## Possible Solution

Inspired by http://stackoverflow.com/a/14198973/3786245, I force the second to be int:
[code]

## Steps to Reproduce (for bugs)

1. git clone keepassxc
2. cmake .
3. make

## Context

## Your Environment

* KeePassXC version/commit used: (can be found under Help ->

[2017-04-26 09:14] TheZ3ro commented on #525
@Drewshg312 you need also to run `make -j8 package`, follow this [wiki page](https://github.com/keepassxreboot/keepassxc/wiki/Building-KeePassXC)

I'm closing this since the bug seems fixed

[2017-04-26 09:18] yan12125 commented on #528
Seems it's fixed in master but not in 5.9 branch: https://github.com/qt/qtbase/commit/a611a9f537f1187825339c2a2214c8ec4a23680f

[2017-04-26 09:30] scic opened #529 "Add support to automatically open additional databases when opening a database (KeeAutoExec plugin)"
I would like the functionality of the **[KeeAutoExec](http://keepass.info/plugins.html#keeautoexec) plugin** for Keepass to be available in keepassxc:

When I open a "master" database keepassxc opens multiple other databases automatically. The information to open these databases (path, password) is stored in the "master" database.

It would be best if the same configuration that the KeeAutoExec pl

[2017-04-26 09:52] backaf opened #530 "KeePassHTTP Encryption Key not recognized when multiple databases are open"
Have been using KeePassXC using multiple open databases on Debian Jessie and MacOS Sierra for the last 5 days. My main browser is Firefox and I have the PassiFox plugin installed and connected to KeePassXC. The KeePassHTTP is enabled and configured to use multiple databases at one.

Every now and then, around 7-8 times a day, I am getting a notification in Firefox that the encryption key is unreco

[2017-04-26 09:56] TheZ3ro commented on #529
Duplicate of #477, use that Issue instead of opening a new one. Closing

[2017-04-26 09:56] #529 closed

[2017-04-26 10:08] droidmonkey commented on #528
Yikes they should have made a new macro instead.... QSTRICTCOMPARE

[2017-04-26 10:11] droidmonkey commented on #530
Do you have auto save after every change on? Is anyone else using these databases simultaneously with you? Are you storing them in a cloud service (drive, icloud, etc)?

[2017-04-26 10:58] backaf commented on #530
I had it on auto save a few days ago but only for a few hours since it makes a change every time it requests access to a password. Then I disabled it, just have save on exit for now.

There's another person using two of the databases. These two are being synced over Synology Cloud Station. The other person is rarely writing to the database though, it mostly reads the passwords using KyPass on MacO

[2017-04-26 11:44] scic commented on #477
Instead of implementing a new mechanism for this I propose using the same concept that the  **[KeeAutoExec](http://keepass.info/plugins.html#keeautoexec) plugin** for Keepass uses.

This has the advantage of being compatible with this plugin and switch/migrate between keepass and keepassxc.

### Excerpt from the KeeAutoExec documentation:

The KeeAutoExec plugin has many more features but supporti

[2017-04-27 00:19] droidmonkey commented on #530
Interesting, thanks! With this info I'll look through the code to see if there is an obvious issue.

Can you try creating a new databas, add one entry, and share it in the same manner to see if you get the same behavior?

[2017-04-27 05:26] Drewshg312 commented on #525
Should the script be run as root?

The script output:
[code]

[2017-04-27 05:34] Drewshg312 commented on #525
Well the issue is not actually fixed.
I run the script and this did not fix anything.
Same issue. /src/KeepassXC/Contents/MacOS is empty
Here is the build output:
[code]

[2017-04-27 08:54] TheZ3ro commented on #525
@Drewshg312 like I said before, you miss one step.

[2017-04-27 14:45] stmllr opened #531 "Saving Database fails with Yubikey 2FA Challenge-Response"
I have a database with Yubikey 2FA Challenge-Response enabled.
If I remove the yubikey from the USB port and re-insert it, then saving the database fails with

This error also occurs, after the OS woke up from the suspend-to-ram state.

## Expected Behavior
Database is always saved

## Current Behavior
Database is only saved, when Yubikey has never been removed before.

## Possible Solution
Scan f

[2017-04-27 14:55] stmllr commented on #531
The setting "Remember last key files and security dongles" is activated

[2017-04-27 17:19] mazac85 opened #532 "tree location / go to location after performing search"
Hi,

it would be useful if after performing a search on the whole database there was a way of telling where in tree structure the entry resides. This is especially useful in big databases with complicated structures.

One way of telling would be displaying the whole path  in the entry record details. Now it's always "Root > <title>"

Also corresponding right click action e.q. "go to location" or "

[2017-04-27 18:12] droidmonkey commented on #532
Nice suggestion!

[2017-04-27 19:40] mazac85 commented on #508
I think better implementation would be a "gmail like" hierarchy tags, unfortunately not implemented by keepass:

https://sourceforge.net/p/keepass/feature-requests/1939/

[2017-04-27 20:15] adamkapsos opened #533 "import CSV feature"
Hi,

Great to see this new platform. I was hoping that one feature that could be introduced is a CSV import. Without one, it's a major switch for users who haven't used some form of Keepass before (i.e. people like me who have Dashlane or other non open source password managers).

I see there's a thread on this subject, but the latest version only has a .kdsb import option. That would be great if

[2017-04-27 20:45] TheZ3ro commented on #533
The CSV import is already in the develop branch and it will be released for 2.2.0 version

[2017-04-27 20:45] #533 closed

[2017-04-27 22:02] droidmonkey commented on #508
Not sure I am a fan of this feature. IMO its either tags or folders but not both. The user has WAYYY too many ways to store the entries in KeePass. This to me adds complication for little gain. A better/deeper search is far more useful.

[2017-04-28 05:05] Drewshg312 commented on #525
Sorry, my bad..
Done it. Got Some Errors:

[code]
Is it normal???

[2017-04-28 12:48] #458 closed

[2017-04-28 12:49] TheZ3ro commented on #525
Ping @weslly (our MacOS guy :smile: )

[2017-04-28 13:08] weslly commented on #525
@Drewshg312 this was fixed at #517, make sure you have the latest revision of the `develop` branch.